
@font-face {
  font-family: 'FuturaStd-Heavy';
  src: url('FuturaStd-Heavy.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaStd-Heavy';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAADsoABAAAAAAZnQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABCQVNFAAA62AAAADQA
AAA0P2JPukZGVE0AADsMAAAAGgAAABw5G/OeR0RFRgAANnAAAABAAAAASgUtA+pHUE9TAAA4ZAAA
AnQAAAZI/ckXokdTVUIAADawAAABsQAAA75do2j4T1MvMgAAAeAAAABaAAAAYHuYE5FjbWFwAAAE
lAAAAgQAAAKCdtKVTWdhc3AAADZoAAAACAAAAAj//wADZ2x5ZgAACJgAACkjAABJZMzXdlRoZWFk
AAABbAAAADQAAAA2+18/bmhoZWEAAAGgAAAAIAAAACQICgRvaG10eAAAAjwAAAJVAAAD/BNOHMZs
b2NhAAAGmAAAAgAAAAIAvkjQ9m1heHAAAAHAAAAAHgAAACABSABMbmFtZQAAMbwAAALRAAAFiG5k
OQVwb3N0AAA0kAAAAdgAAAJx3FEv2HjaY2BkYGBgZGjOFTB8HM9v85WBm/kFUIThjEztJBj9P+ff
D5ZZzK+A6jgYmECiAGqzDZF42mNgZGBgtvwfyHCCZcP/nP95LLMYgCIo4D8AoqcHgHjaY2BkYGD4
z+DJwM4AAkxAzMgAEnMA8xkAJOABlQAAeNpjYGLcxNTFwMrAw9TFFMHAwOANoRnjGIwYpRgYmLjZ
mZiYWJiYmBsYGNY7MCh4MUCBo4uTK4MCg8JvJmbL/4EMJ5hfMXIAhRlBcoyvmT4BKQUGFgBgRA2s
AAB42m2TT0jUQRTHv+/NGtsau2K7uO3a/pGk3aykn7qUFJGsh4zyEIQJ0cEuwpJ0TggCPVt0qVul
h25R57oEXqXAQ8fo0FKwiVRGqNN3pt/aIi58eDvzm/fmzfc7Iz/gf3KZFMkoLkodEzqCOKmYCNr0
LYpSwoQkMEZi8hQVfityfUbG0Md4WrPo5dxB8oB0kzwxpEBSpI+cIBm3nnS4Gk3kC3JmBXd10W5o
mfWvo1PnUWEvFVnh+DPHz1DBNsdz9qvWGB+yvyradYMxzu8dYTzJ9XF0yTtAHyHQe3bdvLfrOmN/
6yW7pufRJgX2kkXOR7c/dZBZjOsQEiSQJR8T8pP0I6oBx90IsIXjDtYP8B2B6WF9zusRnod5PmeG
+U+QlE7q0YV+qduGSdiG9pKobcgna2UOVc3gA+NoqKXXnv+nSYwc0BH7za3RCyjJAhKmgH1ylb0o
z+hyqL2fW8B+Evi5SURJuz8L92Zuyus9i5ucv8F8ZX5gplBq4rT3uu+BecxIL7wPLdAHIXls21Wy
rPM8W+jDblxfJm43vRetOC/omZ76p9temDTPshT60AK27C/6UGJcJcte/6YPu3F3bND+8Xq0Qi+8
Z4ysdUZeIS5Zux1JsO9p3n93h+jjzp2hb/Rkk1rnSCrUPUttb5NJMsVxTBb5Zj7iqN/jDv3h3TJ1
3Ocbyu1Q/w89Ohdyi+uuRF5y32FqPsw79trW2H9Sk0jz2zFX17zhW7uGsr7AYV1DVqs45M7o1vq3
WEOPOYsBeY40a5bJABkkQ+7daIF3KI/oXy7JzngAAAB42mNgYGBmgGAZBkYgycBYA+QxgvksjAlA
OoTBgYGVQYShjuE/oyGjE2MwYyJjBWMd4ySm40wnme4yr2Tew3xAQURBSkFOQUlBTcFAwUrBRWGN
orCikqKaop4SkxKbEr+SkJKokpSSnJK2kodSglKq6qnfTP//A01XYFgANNWRMYgxAWhqLdDUY0BT
b0BNFVaQUJBRUACbaonFVEGgqZJwU1OApjL+////8f9D/yf+b/pf/D/9f+B/3/9W/9j/sf398Vf3
r/RfiQfHHhx+cOjBwQf7Hmx9sPbBkge296/fP3n/2P39997ce3nv4b0H9+7du33vxr0z9zbcm3lv
2m0j1j+QkKE+YGRjgBvNyAQkmNAVAKOGhZWNnYOTi5uHl49fQFBIWERUTFxCUkpaRlZOXkFRSVlF
VU1dQ1NLW0dXT9/A0MjYxNTM3MLSytrG1s7ewdHJ2cXVzd3D08vbx9fPPyAwKDgkNCw8IjIqOiY2
Lj4hkaGtvbN78ox5ixctWbZ0+crVq9asXb9uw8bNW7ds27F9z+69+x4WpaRmPq5YWJD9uizrZ8es
b8W/fqeXv/v44cb3nJprK3Y1Jud9PfPjfW7tk6Sm1ulHj928de/+7Ts7/xw8+eLls+d//z2qvPvg
aUtPc29X/4SJfVOnMUyZM3f2obNXCi9cvFR19fI5AClR0I8AAAAmACYAJgAmAD4AUgCCAMoBCgFU
AWIBegGSAbQByAHWAeIB9AIEAj4CTgJ8ArYC1AMAAyoDPAN6A6QDwgPcA/AEBAQYBEgEngS6BPQF
GgU2BUwFYAWSBaoFuAXiBf4GDgYuBkYGbgaOBr4G5AceBzAHVAdqB4oHpAe6B84H4AfuB/4IEggg
CC4IVgh+CKAIygj0CR4JWgl+CZoJtgnQCd4KHApACmAKiAq0CtQLDgskCzoLTgtsC4QLmAuqC94L
7AwiDFIMUgxsDJgM3g0WDTwNTg20DdIOFA48DlgOaA50DrYOxA7mDwAPKg9kD3IPlA+yD8QP0g/i
EAAQGhBGEIIQ2BEKES4RUhF6EbIR5hIaEkASbhKMEqoSzBL6Ew4TIhM6E14TghO2E+YUFhRIFIwU
zBTmFSQVUBV8FaoV5hYEFiYWXhaMFroW7BcwF24XrhgEGC4YYBiSGMgZChkeGTQZTBlwGbAZ8BoY
GkAaahqmGtwbBBs8G1obeBuaG8gb5BwOHDocSBxiHHocshz0HTgdfh2sHcod5h4gHjIeRB5SHmwe
fh6cHrge2h7wHyQfRh9uH3wfih+YH6YftB/MH+Qf+iAQIC4gQiBqIMIg1CDkIPQhLCFmIZAhxCIA
IjwiXCJ0IpAinCKsIr4i3iMyI2YjwiPkJAAkHCREJIIksnjavXx5fNNVtvj33G+adE2bremWtkma
pGvSZqX7CnShpaVQSgst0FKg1AqllK0g4jpaES0iIor6RlxAXGCceW9mnPfeyLjgPDecGfXpuIwb
og8Rlwf0m3fu/SZt0mX0j9/nR8k3obn3LPcs95x7zoUL4fAPXCS/43hOyoVxkVw0x+Up9ApepVdp
FaCPAIUKLl56XDj24uPCHlj4+IuPk9+NVcGtnFc44wVh7C3OC9kC4bwc4Wq857jL5AIn4yI4zm2P
VUsNZqdH4VDsqHU6a53KPfc7al2u2n4SP/YZh+Nb4XHYi+N5nMGpHLyRvlq3KBcexxe5IPwGqoXf
4Dg5DnaSv3CJXAodJ3N48KUxspfRw14uB31p8as3ey2rLGstjSvjOob0vfpV+GrfELd806K4ngTy
l9OnT28Y3vAE/sG3DcPDlH3O7T1EIvhGLo/jQlxWsHhiHXa3y2mVWKzE5XR7XA5NrFZmNhqkGnUy
r00mGrVUpoHIhpXmJe6WLHeU3KRwy7LcOe1NNV1FlbYygyMqTVscnuXJWbmwuzNs9pyWdQVZimRl
XFg8rzE3uhcORC/riKztLM4xKBMTopJCNJkLZ7XuVnRTcYRwId4PicBHojwUyLORs3Cc0h6rocuJ
5Bik6li72zn1N7wWLOsO9vQc7PnLnJzs6uzvAz4PVAl9s3npqob6VavqG9TFtUVFtcLbQf8kNYYr
Pxg5lIbee478iZeiFLVcLseZLHLkGNekBHitBxdGXAmwSI0UfSlQGhyUHJnWo5Vp4ZpNCck6d5om
J64hLT4zNVGnh/Di/t7OnVflFPcvaO4fXjtvWdPup+9TJeUmmMq0GrjOoUmz6nIydCljL85bvqNz
W23KorrmNaubVzXdtGLxVcdQRqgr3GtMVzi/llANYfKr9VZDCF/GheN3WqkiBmWlcCqfbFmwoGWV
nS8r+DfhR+HCicIXoPA6iMDx4d5q7pRvvCdWqYmRWdyKmPAWh31VywJeWrBG+O464dQLhSdADqFU
P+BRWIe4FUz7KIsyi9bokVk8Fo/2SAupT2tqSqsnLXxD2vxGYyO5sMpZabdXOru6xHdKox51WE84
ahkqhwY1V2N0ocZ+OnTqFP4lHH0O4bgE7wqQcYconx4tb7lp195lh+TCmxEURhbIIAW2iWugMWZd
vAjbNuLvZ6HdneXup1bkt7o+ZnGivbE1Mnk74HvUcZwLqCdw1wph7wq+0XglD0WONqZCmdtQ5irO
TLUtmVfLeYOVd5YQrYGKP5mg/InTSj4b7CxKVygyijoHOosyFIr0onvS3PEREfHuNJOLvrt4qXNB
39qeNesWOJ0L1q3pWdu3YF7RskajoamjuLijcU7jsiLmdrg78HETrit6IRWuhcJ4sev7UTKwa0wu
fp+EhMUhTWj1JodG7ykJE3VPaywBpm9SGeh/ECT/DqlhqfJEuSpM5s6y2vlDobvWr7mtqnTXrguQ
HpmhSo9PS0iOzKlvyh24fWR13c4ahJ2C/KoRtoXiHgeXDPhErbY4koG6AHM0uJgvoGhfGAnf2r1y
c1pabt5t/atvk+4jhR3uQltijNVuTTdlkZyuocEVtpY4zdqCq667ucdWWpObVycha2flps/Kp2uM
a08y8BFOPZpJ1AG9Cxy8wsjD242NtwgnofHGW8jhy0M33FBB8scuo2s9I65FKtKrxLVKwH8YZR5G
rtFg8SSDnz6ZUaWHbz9IMK+7+Z6tN7dmpyyxF9UtKpnt1DZBNRnYSO65auv+7p3Z7tbiktY8GOGY
3DUI18IruBgunmqGTCtasmjaHiWDjf4F8vvuJXHG7uH9gxvuXjrUW1HRW8krGt4l4ft6BvfvXb/x
F8Jwi9vTsriP6inCnCPKFfQuPWrbauF5kih0bUXhXrk0m/qYHByjwfWXcToqA87nwyxWQGcSIAzm
4JTU38RSWmBei8vV4nrH6tr53E6Xtajkjj/dUfJeQ25uQy7Uz22bM6ftOm27s3PLlk5nu1bbU7ly
+/aVlT1gLk/PKC/PSBd5TvB+QLIRdwwXh+4WrVjk1ufDiI8UCEWWE1ODWE6d/y6J2Nezaf/eDRt/
ATe09FOGGUxmg4TyEz1hhcoga3QG2CTc6zdNnBuDNq/EuTz1DtTq/fN2oPVfz2YxH0AOTtiznpMT
PdC9lvO4TJoQ/EH3IvwWZj+/5dmdG8nGnSJsPTcfxz3t22Ndek0IvuhI/A4Kh4bODQ1Nhgc4xoQ/
RC9wMBtBFo1DJFyy9xy8hGunZXuxS9wpUUN0YDT7VCcapD7698WoXXWmMuOdkh3tS7cvqQ5dy5gB
eEFS5DS48/SRbTu3L60djFneJXJGuO3ec/xChB/OoZMAt7jVIBaVx8FLY8dtkf3Oo5WDX3JaKjqp
xTwhS9Ig87gLKmw5mzLlc+1hEJtWMbppx6P/et3WwrrSwbZ/+fC9B0c615fMXpQdXlJbuWqgbT4M
FhUvLrIVQ1SpcCWhaEvtjjtOXH/zk1lFRsPHjz/2j9YVN93QtFRCikr665fv5Yj3B1yQJ5gOo9xM
epkRHGCMADTmvwiXSu4F8wAk39fVQZoPH+alVy6h31UKX6Mk3DhPjvYRhR7OhKuooa4V4w3eyCuC
HBGv8TH8UorBmhOrSrAak47+un9Qry+tuKFvoTLf7nFA9RsyNf4+XRNBhN+QCyv6sps0Ef1VvX1k
+PmsWe4s0X8o0d6sTG4o3/EVdHs04npRD0isFd2rtm5faV2S2jnv0FtLn1jXSt55qvHQmlX3ZKc9
mfP54XW/Wc90itI/iPSHUj/m8JHMaI8xut946OU/P1ASdxkDwb/+y4N/JQOCHNVKjLPw8TucRzcz
I9sD0asr9PC7b8+e/VbYBjeSgSO7XtmFI8Sxx/BTmH+swogjj3381lujMETHCSfZOMrXa8hXKvU1
GrWcGA3MhSBRWpkVxJiN+kiPEW6F2ZkLblzU+0jLK79ccX/Wbu3S/K4N1u7Kqh7yANyhWrBnQ/nV
z6x95IuOljmuyiNryoeaemb76CZ9It0qPYazSAm+HC9BzOiocH50FF6CjDE5NAlP4iBxPPeSL1bB
gS+NkgtjVN74nfcs2k8zfqbeVqGWg4xtN8yNl4QUgUsBzRK1uuBqS6OuQ2pQRKoiw6U8YKgjz3JU
6Ralp/QpU0JjlInqVIVOAm/715VsRZiRHJcIjjBUQLpaDsXpL34lfATW339DkMaTUCL8UuiFZuEJ
hPaffnnc49t/FVQUL70m3Ie07tkl8hHh/Z7Px7VFKetRN9mPyoEoVOThInLU8TCp3HfNmn97pncD
nBEM8L6ATlWIhm+uXPLJ2/sN+U8WR1ItAQddOjAq3L1wGxntFTYSXjr2DVy+4iXRAtUrKssrzJ40
OD9GmmqOcaeqqHeh8QfaCLnyinD8lVdhnmfbn7bF2ZcMLrHHEZPw+McfQ8uHwrYV+/atsLY22GwN
reN6yjMdUoqScKQGW9XoixAyvKkmeW5p1RxIED4lF85u3gwd/8idXZnN6PmAD2f8J+M+IfO7llTq
aizaIE9k4cP3Oedd/dCbZ6DizJKnK207O3s2D63OMA8roksdXzz80NmzD92/8dS8gpUr7n1gbfdo
/O0++pzMDyC/oPKJjVkToxHhQ+dbz/yajL4wdOOC91WVc+dWoBT/E3IFDIWvHpy3FXI/duy20rXW
ol79gLRi9Ab+VCUkOEZA5+g3DXh/trUybZbeVVbq0t84sLe1M6YuJ9tVE2ltXrSzw7mVPNNTkpcW
b4lPMNrmOzbePrrMWlaWU2aUKg3tTZ3X2UT50scfibhnIOUYzGgga/QA/m5gbA9u9btwjB1luhLH
aJiOKTB/spfwLvoJxWsf5WMSnNXOhBh+9Gbhg5vBBn8U2gyOyszk5MxKhwGOCMX7nnyS2s0FhHOb
iIsqIDpa2Psr8uj9wrstwgeo0BK4cuUS8i+O/Yb/O7lCd2I2lv749HfkANm/+BDZd9Dbt5/s6TuP
2i6QyLGLqFpe+EpQ8YDzf0S5bPbZO+/Q4s6jom79i9PHt/Qff/3zowf2HoPboevsWeE+YQOohXM4
5zzOaWc+kc5JZEHdO2ePXr/32Nej0AYHhEsgFdYIR+i6ob2RApEXD27GNEb6H8gfew/mCZ8RsmsX
Lh1b3xzvw9y3fD3buRXUBTo0dy/905+oN2nnH21nY1AzQRDjerooyeth/Xq+8cpTk+aj5dEA2/UL
Nr/9Sms73fOhBnOSC5j5s3VCHvX/MfzHa6+5BmrgMWExJAqfiHL2XgcXvb+iODDKcMFFIbLObhd1
YD6xQw4vZfgxM5rfs2UuebHk0Wxqf9He84TAZZSDlmmIyzi+OWtdhOo3hlqE3EJsLau3b1+10HWw
p6Kipxy+FDQ5xff3rrm3xCpcu6h34cJeMZaxIzwz8sriNupNJmJVi1Hj9gG0jzgWdQ9vX2OpVhNH
T3l5TznfKPQX39ez7j69zto3Dg8ofbAL6dME7Yn+LRGBw65cz6yquQWzMt2V6267o78M/vum3NaC
oibbTckH+q4+4OORR5qUNDLXu4wTEUmslpKY5qMKNhNNtYWyaanWkhHhXUaZVaenfKbq4M4rT/lI
YzDhU6RLSXcJkz441EGOTQ62scGnwu9t9mL9tfFbGtbfsP3TIeE/fivNM6fn/t3dUKmpabx9YNNd
dw3NySjIR15RL1Enl9KcSsVs1SHKgfItD0kCHTg0fxyx2do601IM2vCYyNAQHtbDJuFW2DS0t2tn
zA5FSGSEKiouQssPD4nyiBYuYRB5GSNBC5VvjC9xotFMMQSvxIS4ua+Xj4bsC3GmG7OVEhJbY1k9
NLzGNFtD9rMVQeE7hP/u77DYEj1ZaanJxgO9ffcZdDbh2oW9ixb1Mrmh6sFZXHMt1XmFAzFokKUi
sOLmLycYidpHSMbix0dC5SlanUkuGUEFGMh/VTgDkiS1TaNK8phTvkX6UUm5N/hI1N0ocVUmzlRO
jaRV5eXOyaW6CF+CPs9gzM01GkS+s4VLPz1vLJp8EzSP0U3ike5IZs8eh0xlRL01Kp4jo8+++vff
PEiQ0LHPTv5N+Or113GYfw73nM++EdNzI9S42ZcivPO4/jkshqTSpGEcXQv09bgUPC6Fy+nyL4xG
jf9GZJkNHbbYhqxDI8qY1NjkaBmMyKKSVAn6SH4Evswuqk/LeEn4LyALk+LjdI5E7Tf/y8ti47Pj
1UluY3IIMvXluAwQt9aPe5IIEE96a4AI4Muc4kkSQEA09zlP1AhHRk9X/HlP2ni+98A/9t7+6e3g
XlNGdePy6Kd33vmpdqHbtXChyy36BNRBM85nPkGlCfQITDCi1j034RJG/uDTsxyfSxBeId/43Yyo
0zyjJ4HmcT7jpRYTrM/vi1B6RgLNWrRgyByLBqffsnPG5QiDzKb9spL5RYRLld2QmKKI1ydlxEZR
ITgqI3cr1cnW9IT36GrT+Wqfr7IE7O+81ndeMX5iyft3eOgtSjMrk8K1alOE1XN149qqMocrLjUs
TpEeanUunt0NLzYZ4hXhiqgweYi6tGB+54LmfF1cpComNIZXz3LNbkOcKsRlInewfdDnM+jR1asj
ubkjLT7XcOSImD/akL7PkFh2vqVQ29kWn+qyjTwwIlSjFX2/fTuEC39/5x3cK7/2fg//i2PpvkPo
znzzxlX3fFT9IQ77EjRCBHzHeKbjeD3yHMnG0T2VZVc39Wyp3LrmwD/mrt1U/RHO+QSyhNchBedl
CW+Nz0Xl8PjosdA9nBqbzPjvjz3e3nDs+KvHdm44DhEfXHPNB8J3R4/S8Sj3JBxP92S2f4PxD68f
3rTzkHDvwTp4QPgCtGPROM6LwD/0jcOQWYVBz+dfCNbLZ+C3Q0O4HnQtqrztUMbPYbmdy10MTnch
aFDY6GRpxJ+MQsechP3OjN9W1RUmLE2PlpO0xKhQtU5F5NHpSxMKIbtGP/Ssp75drY592tmcFBai
tlSmPx2rVrfXe56lZ4VveDOhmleyMz2UD1QP8corcfznlIbZSEO5SANoMDtXS7PoUVYJIMIS4rGi
h3Zagf0uFr+Fcj8RKp06NCoxzU/EpgAi0ist6pCwpGbnBBG+s4PdRA/XsFhEK+cxA6Mn50aDzFLC
08wc1fG5LqU6yxofHhutDY/jw3OTIuNSu2RZurx4W7nHkgDr2lJS3QmSkEhpNJEaoupbw0tNRodN
9Lc1wo/cZULEPNvvI1QBdQVC2PHBWIZYWaA0reWS4G/kDJdI+Y/Fbc6/uzs0UpnG6GJ24nHBDbMS
c9ZXzZ5VZiDmnJrlGzesJGcWh0ffZl9ckL/Afps6ZFl76D1dPXdGLRThhnt/JIUY7+RhBGJx09Nw
C9qF6BdUMo/vwCIFd1NjrEwt1WjZ5k1tFL/ZfJW1OyL2umUZd/R9FDlKSH5mnicz5Ob1UiKpNMeb
FWssGzPr60wO1R5Jsi4ro2LB3L5bBUFhyKqrd3gWhlcYsqMckYkxhbGHdDpcl0jORNzEgT5YT9eF
Hr7HqunhtNRgkVk8Zic9n/Yf4WnUp495SmqLzOai2hLPxMfaG5e23dJGzNn5tZ78g/me2vzsiY/C
gSXlVS0tVeXMptAVkRaMF+NotuLgafll4iTbRdeBd0DqrUeP3/ik5vnnR59/Pu7YjcePwjmMfF+t
MKVVXLxYkWaqgDwq0ze8j0A1uUs8lzIhCBW+UIOHhh68dAkuXrqEY9K9w7hfLkU/VE1P9ikfFrMN
qOuTqoz+5J6kAHODMp/j9zh850RWYgMqZo/Pa5+71aTDDey2dAkfKVFJ4n7YIUlPTTJEpihi11WU
mlPTt3etuSnkFnDnpOVEpShjb5jlqdVvXNQ8AC2LUmy6VCUPi5OtYYoIuTSKyGFRSmaOTqmLj4gs
Ms0pzW5Jts1r27RzrbXalabUJUREVifXFLRX55U2r+6k+wppg93kkng+OL7P+d5LKmy2ChsQ9kYu
2dg7+8vRs1Kp9xyfwItni+j/JSwvjo3hUqUxsanuGJm4FOJ5joNtU4xf4hKe/eQTqP1E+EEQTpwE
7mRva2hFemFDQ2F6RWirvK+xc9euzsY+9Wcw77PPhJPw3gnhxxMnINRuSu/c1pluqmnb8+KeNtEG
Q+EVmIc0RIsnF8GxvHRcx2DeEqLLr2xsrPAYuiuyMqsyyRXhnURTZ2lJhynxU2dKqsORmkJza64R
XkPdDWGnQaizHm0Ie0LzjsWHD7cIv2NvUPZswflvZ/2WPUVfs4edZ2IOZXJh4qSAo8IQ4fY8MSS8
N3ONRBK0hknTrqJWDMZYAGHyKVAWTF3ED7s7lle3vNg0X/h60JwWY9RqOqes4LFf/vKXcMg+b6BC
mxqjlhHRd4SRg6zeQWnDvC8Mdgq7yQXxrMIO70AH0hdK4yCOBZNmt11qkGppJcIJHa3DrbBkWFeV
C5BbZSPHh1tbS0paq3INRltulf+sl9aYhhA+6piDZuMBlSZ65ntKrDYNDZGhY0PHjtE9JBRNZAER
qJ9UsRqLlEkyoMTyzAPCszsgOSIxSiHTF6WSVSHNNZVLszNge/0dYIwyanRxEfqMPF1Vy8Jia102
PTeCTGicVFsJKq04ptRWtrRL55eXNthSUturK9sly4kpJTnNnKKMSE5NTohLItcXzZldUJ4cVWKs
aFhQnGTOTtLlECg16OL0hil5KOrRCz13z+WlJfuzWWyCyTeNTTSBsQnuUiE2VGQaofy3TB4eFSIn
obKRgFCFgJSEQkgIze85jXc1saLsoul+QkNL+oPcmN0OYi1eU7KmZYNMdk0nudBx5U0+58qbcHKg
u/MhUe6zuEe4s7CEerrgigAs8R3oA9fptYPOe47SnwIyy38sHaxV2241s/nLwMqNBdbJ7it7YDk5
Mk8oEuVO0DYX+HR7HIO/Krx8X8ey/ctersrIrMjkpa23tLbeIreXOZ1lvpwa7fC83w5LAQ1QJj7t
O4ZbDh/ewJ63PPvbWd+eL2BPtKV074d8IeY/tI6lpLuBya9luCu4jDKVFiw8I5SXOZ1tf31ncRtZ
zdMKdC0SfvfcxkYLtAgvnzxJNtGSM3mIccKPw+W5MBa3jIMJmV4zSTyFmUQXwzGDkvKR4xg+nF5d
p/CTPwM/0ynyFD0OYNhDiWuarNfmogC1nroUu/65nhMuWfgRXsJYiNVfTP5TCztGmY5Yn0cuBb8O
QPPkAkwK07uxKfUXCBmvR/G+usZZFm9FB1U2IgA1Y3J1I7dny9zACge5i53//DM4PLXRyXCuQZsN
gvMms99gOIqp9FimULTg8ceL+vuDYOUfPFixZk0gf6cZvNRJ8JiYtazZwbeXGg2TwasXSAps8c78
0CiVLLQ5vMihWa5MCcKW4WjVxMojY/IXZnMSH773GT4V9bSBK0EmxQKTkdkDY4MgJC8ExwmSoHXS
cLpgPBNnFHZ/gXMSJtuCwsIFhZsMcXGGuGA5FGZkFhZmZsQZ4uMNYt2Lf5D5QpUPh15r1DrYS8/q
X28KlwsPgQkGrZeKv7d+X3cpR7iqaxkthJELux7ZdXoXQua84pm/3VeXSpy5MsWjkKepTh1HJzml
QnXlU9Ftiufr8DtcD6Z9gRUnE9Xi8aqT8BQ9tPSVnv7Nd3Y541wL1dzxuQ+izvqn/sjUNWiuYipe
SyDmPUxR/QA6JnTUB+N9v8YEQkmbrDET8I4HBZI+sOeC9YSwk/u/I31iTRj3MervXxp10WVglSq2
CIR6GG4scBwl/6XRFZRnNo5xTLxvIX0ZbFzYBDwLQlwhssfGjjPHe/+E4/ORN55xx2aYJ/H00mh5
ECsMRDAjhOX4g6zuFes/4fbXIsXVovXI6mqxIrlhQ9zly9C0BTLEsuRjW14X65LEV6c6LXqDwEqV
ajpvMFG+mjudHwisafFlAX6A99W3zrL6Vvz0FS7qz6arcgn3UuFMW+oibUxlfx58ZknTwH+WynR6
8AdEtZ4EP3Fm+i3Tc7BVVIZpkYAgaocfx2mGI3MGHNNJZVqUv6YCinMFC2gGCr4OEBXGBCId7zM6
dDQamY4SbpLWTkvEPUGKPP0ajwSb6KR+MY9W7DnD9Ei/8ImjC48do3+fAHw9wT7hk9rVFe87vJJX
sr5BpDgMYsXGghAQ3Srvy4TZQYF4cCgj1cIfnPMKKKFdUOau7dp2vKP61SM3rWipXzb3lcduWt4G
PwrHM5BIa/nL0Jy1b0WdcK5r9e1HP2xoq1rZM3L04/pOsTZzjqxE3WCaN7XSR2tDk6t9m1GlZ6j4
8QpRp38SLs0cp1QRm1GZZwI8n2lzINzEmei1TKG4n6nwDKDJr/w6LMJ+3685U6FPzv8n49kfqDIz
cVI5SWeIWINEnkJZhcFfhaShlr8SuZ+uTEA1kj8bsGexWnkEp+Y4D6s1TqmWj7omyuUPPUQubAmo
lrMzbu95YuCX0rzPofC3U7FwOQtcsW6n2YJPFifLQ2I1Cnvv4Mpt88rL796uLmtuqrDPsqUrEhSR
Uh6ALN38iy0re4qSttdt27eNtF2/EIagxJ6RH6lI1WaosyRjdPdg9UV2JiFGDzNUGHnqU6dUGeOp
9k2tNBIZ1byfDZsu7lTYT9Jlngb2bLrawbB1/5xuyzSUZ4taOBU+HB3fY0Uc5DOGI/uf0D+tL52C
UjmdI52OgnsDvSj1oyIdlxgdvjrhDHXgyb50ChGRQVYxzfLmB1mEJGid9VzGzLinxsZTsS8KiI6n
lW1QkMxkEOE9z4fBZU6KWWUhrb+yczqZP8JFSwgs7loCmtnEhk4XqzUxO4IXxdLu+dScPEOK00PC
Jmq/21zJHY7G/qsayuxFrqKixvy8ttjCvo1D4M4oyL8pLSXVaE5ONUjFonCTJbO5Yd6ixBinK/Yq
tclcd9eQWMv12n218PiZquE0dphSEd+CMfikqvjYNywC58U6Ni9ldWzdP6tkU02fsZpdg4Y6paIN
a8Qc8+fjYBnnTDho6jkVxxEx/wzCkfJTfFhm5mQpM9ypeCLH436JiAvtheJiOjsztimZ40x4iwIN
Zyr6g5PyA+/3+DzDztIC8oNTI5U+jwlfvifmB+moKdLAcXSNT42s9nk/+BISfbGjP0eQTs4RTo10
j3sz+PLaSTkCrkNAjjCZ31MjVZM9AqKMDuTGV1/ml6HcMli3P419kiVio6DP2MysWDLRY1zTNcu+
pWhLiqkkLcmxoDnzqrtGekxZ6RX4O+uLrBDNK+uy8uYV1Rtyli0armgYKEzYs2XjnujG6vrieTnC
/qD6NK2Tox9mXnj6SrlnOh88qXy+frpUY9qa+oZAD8z7+Jey+rpmugo7jdiDquzCd1TOwaV2uM+f
Y/wkPOolguBVUnWYBO7d8ZwiEJ52Jvoskyj8SNSZSUDL/fEXg4lrTmGap6VxuhUPQvHBtOs9CWFe
0GYn8eG9xPDGizW5yZgn63AwX0HqPAnZq4F6Ld7R0RM1WpOKrlva+A42sZfxLr2G87J2lDz2fIJw
d/oaUuCE74PwEW0A572XvH8lBUTOzpCN9CRY3AE8MnGngmlSh2NPpmY4yz54LNHgKBcGaxx7B1ZW
1XkaM2/f2FZa/atjyQvd+uZH1AtdccJYdcWKjaOeWntjecvGO61z0S5YvwDrDY0O7higkbfYNTBH
9DfjnQMg+M5mZpxLswFfx4FcdELjk0kRO6sImKuYitfiw+zw+6QJ3A8FnM0wGChn39lMIJTJkb0I
r3mSn5qgKney72V9CP6ecn8nAuVrvBsBLMjaeEuCJFLki/XB+HvjVIqf3QcT0BsnvCJpGUsa74/j
RVp8NUvtBDWTeRynbFUgmxMUcsE8Aj1h507Bl/6eplMjoutm38nx8a+sJ5bzuDyYhXg0MtabLK8e
7e19TbhPGLbDnE9rdlYL3+wCG6tLC/jQIe+sz1hGZynorOra2pGaGhiy99phvfBFXm+ekMf5+oz5
j3GNE1i3rP9gzSUVW8fZOb+Wls9MAZEa+e7jj78WdrWPrHpsaftjPZXb0gnsGtu/fPv25SuGh8kA
PdRctHbwZNeqZwc99kW7+IPdKw8cWNl9ELmUYxzYzuLAGC5rPA40jzuFkMAoUOor34pxH9GKW/jb
YgPUXyd2+OGC0sGNt+8dWFddOOiL9VJ8vmKeuMUvWnTnp6MLFtAAj/j6g88ix9k/q0PYxA4dfqpP
WDhSNLS56MRPtQu/Ub5mTfm9bO1ZHxOrDeb8vE4mHyE/1c8knGWU/GRb08t+UlC/xXz5fcyXRavx
Z8yTnbQ/ew4q0wel0e9PzsXFHl92VhY10eUr8hLQ6ytUMKpZy++vfZQRsceI+YCoiS4jca6/10hY
xSaylqN3xIngveJtQx9QympnDpmRl0uMGGXZPW6PyuhxeNiex7rOJDLYsS68zxausniWFM5S6+ck
aRRZReElKsXSDrtZrUuWa6PDwwgPP1YL7xU1LM7TS3aSPPMGkFdv7F6v2aoIj1OYI1S0/5hkwgDS
GiL2/1pkyeIxX9+4vwROg2O2jY/BURpRa06Ny+Kf1caBSyQtsEm836ByxLKOGty0DebElWHRmuTC
mJWy5SPLyQVjtGbunJYWEV4/aQM5813ju/B9ge0VVEZtpBgMvJSdl3FTc8C7AjI+XhqU3gHX5U2B
eO851BxO69D4ciWZmCs9Mccdr4qLkydkpReqiTFHlRhTp7RZ5rD+IbIE+fyMnrJMm3svnS7wIEsD
Ig3ULWKHB8bjblx0E7520A3P5S97PyoGWEAzbvIUH0b3dI/LZ1K+C8zU55WAy9dHE6vFf550Vz91
S/Xm2vQa9x7hgmsuLG1e0FXjEC708Z4HV+z7c0n31pLuR11833zTL7dddXD/0Iajhvl9/69q7FKk
dSUppaf5GBartUazS2GUEpnRrfQYZBa3Q09aa+U7lXeEmBN2JJhJuSk6ZxhOwJ+FN7qKDFvAsVb4
qqkDYjrDW9NY3zrI4KLYC6KgFnhRiKTNIGxddoOM7/H1ieB3u8k/xpLEL1Gn4TRE+HoJLCrt4Wv3
LoPTcsiJmPSdlrfcumvvMl4aLZxh33lXQMTE3d1bJ+7uEjbvZb/MwEJLyvjqQNDCW+PwhdcYlinj
KSbwQYTscZSQyxCL4xH3ywy3TMQeNJ6RAbmMGOCKvYeJRNwvxbvIYnPn36976CH8yzeeHxw7QeoH
2VoUex9gY1Xj95bHx7t8c9gsOu/NwRsGhb2wHt/Y3G7u9/AecdOML03sZ0ETg/5D/dB/f//v+xvm
9/fPb0CKG3A/Psg96I8z3JPcr/99t9gzcW3g24OsbJ3Lng6xhC3Dve5DycGA+/M5nIvGHD/nDr17
ym9oF8KOgJv03wV8/jrgs8D/9BX7PdNduAfWCxXKejCYNXu0twb2Pvn7hxshXRwT2J8hdmag7+/z
fgizWe+EeL8bGDWR4pV+1j/8FdHwIWI/KD1c0suMaPVa3Cf8pzw8bhL00i++KR12oslt360BMHwJ
cMZwRHNduy2v/xNLiz6TkDq9I+OTNeTD3Zk394RpEsJ6bsu6IRVkPUpFpLIHJFQf4zAXAr5KvOFo
0rJI1GmRA5qxZ/xsWEPjDl6D+z3tjoU/O2tG2tplEGYKS61Srm2aW30aHJnVR4YLlEnq33r29TSF
SWQpsrkFSoi7+ZZ1i574L3tJGfzl2P717cmLEGcm1PPPsXs12vEuHRe9qsfu/tC7VSqHCnZe03IN
v6+FbGseIi13rSQ95EKdcATa6oR2mC88zV4PC1+B6v+j/yScyfsVfzfKJ46dkeoNOlBrJxr6KOK0
VInG4mKd/TLa0OvQ2/m7x9zS8IFDC0ddpUW/Xrvl9BAQ6AfyUPjggXsHIqTEGAL9IX+Litw0p2Ru
c++z6x7+/POHlW/HhG8YjIh5S0bxZni/IUa+DWNh2q1lGc8bxi9ROsQTexWlxc/qVWnzr9r68MFf
zF6Vc12nZ74CYGV93Urw1IWGlWa55njIb7pL/vbiGz80DpTtvt+jC0vqOzQ2eMey1IKr64qbRH+l
w8cIL0d9Zr1qKBiNSc9bwWJEHdF9ffAzzAhWDMisUl6SFdpA/n2ssmkdzE68M0F9fQqLCbz7yRky
Jt4l9bVjobDJmbXXfnLtWvKv5IYxBfkf+trC5BiP43NxPEZUIXqXiubGeo2K1+hJ7tgXwncwJjz1
9gXY1rsYOmDRsqslwt+EEzyrw50ieihkPl28OX0KE+aftref0/Nl8K4mA/zdLOdBDUXLV6VACfGo
yMAXa++tj31mHdqfVCp5hr/78mvwUUrdXOHIciJLT1fwNpqHOrjr+TD4iukMbY70JXwB58huj9uR
DCEswjBbfIe6JhYB+rvw+LBVc/LaHLnthVVd3fO6l7p1jqK5y8behaSCVJ0jzpiZ4y6EhyEmNTY1
KoU4Si2ZTg8UQ/Mqd2VhyaqGxp7NJWoTrPhDmt5QqdKV5mWXvBMZlSxP40ttFen2EspnnLcKbuGf
Znd0ZUx9NWolva7ti/dpFzX7j1boxYVb5GqFQamLtphX5CXHJClSonUxOkNOvYV/eGl4knl0sfB4
92hNvaIzIjZzdzd0Lu0cMOWJOpXB3Upi4QvEU0ql4mu6pj6HBlrJfAokS5HpFGCJVtBX2mQJfgOf
W92L7ZUF+liLSmHTNtki42PiZVFRkliZIkweIdNlxFnjanJssydGRCckRCfw0oRItSJclwFfZF6d
lZYQn5CRVyyRREpkoUQuCedDwHx/pr0o05SQkJCZVxwSLosmvEIaJjExXXFwGUROKth9C99/bKNH
ZRD/Uxu9Bx7J2Hus9Evhf51FmXuOlnyB8iRZnfV31G+JW45P8fze6f2eRJPD4rlBDoj/JYAWcw4S
IVjhdWEr3CwRTPBu3/nm823PkedebxDXzIXz5P55qhDx6j/NVQrhDZx4o7AN3hQs8DY5jBPbceLY
0w1iz8QrxM3nof2qRO1FC+bNFqM0GlTUaXiI+9W1L/7X2pbNMbwkLGLLlsiQkIhQjOob4Bk4IdRC
SK7anOwVfjAn2mJQl+n9tIvsfloqrfvPeEfNE3TdauqNtZP+C1gz3FwbmuY+F8X9FeLmmYYiAn4m
7PDVyP1TUIo3sgTT9Aj/D7vWjRYAeNqdk8tu00AUhn/HaUup1IuEQLCoRsAyndxp0kigpBe1i0LU
dMXOqaeJiR1HzqRRWLNmBe/QsucReCFeAH5PhrYIEIKMMv585sz5z/icAfDIeQ4H898pPll2sOE8
sZxB1nlh2aX/W8tZrDmfLS+gkslbXsRa5p3lJVRdWF7GivvS8goeuu8tr+Kp+9XyOu5mtyxvYCG7
R0Unu8y3S6OesoPH+GY5gztO1bKLivPDP4tN56PlBfSdL5YXsZnxLS/hTeaD5WXcd59ZXkHJfW15
FYfupeV13Ms+sLzBPGvYRYwRZkgQoIc+NASu+C+ijhq2kbNc53zDZcMlFDhKpCZ8xulCkTuMNmYc
hYhPgSMMccbVhDrp7Jk1H5Jr6c6QQ+DkWn9s3hSfit4X1he78WiWBL2+FleiWK9t5zjXi2Yu50Sp
UCiJph93lejMxlpFY3E0PIuTUZx4WvlSiGYYipN0/1icqLFKLmgFDjCh5MSklaauKSZwbEQD2iO6
TPQk8URH++JY+cGEphYPEtIDrTjkXGR+6Xeoo8Hz7HF5n3Q79DzwFg4Z2OOZZtwkC6V6o7nX2m/M
FSiwdai8ixn+tvUX/1ds+wNTnJtE2twpTIHm1tTeMOVOTJnmVslSlmmPGHtAe0y1c1pDnr5rfCr8
F1FlM1QpdHog5om3O6JQIBZKjd04UalVlsuNyBuoWJ/LMOgWZUUWq7Xqvx/n56IEpiNSShPvmXdt
ekOZYmnj55t+88gD2mIeQrAOHqOknoIfaMb+S7sqZwotWSl5XdxgLDyRqF7A1kmUL3Ti+SrykoGI
z0XLm6hEnM5GapwTHdnktraJHNpOHXKkKmh7EzaZGg4VX9Je1tTcQZ5jaoY0mc5vijS3IuKatrmh
r/VoJ5+fTqfSS3tZnsVRXlP4f6LlmV/6vTw+pdkfkf6skQ9VzwtlX0fh7+/FrZuA2/WbV+07RWj+
QAAAAHjabc13mM8FAAbwz/fuuGGvhr0zc/eTcxeVu7OSUZGV0cXJLzk6d6kksjdFyF5lPdmHbELZ
9aClTWUX0r/invvT+zzv8/nnfZ5XhLzcyRVyv9y520CESFEKKChajFhxCimsiKKKKa6EkkoprYwH
POghDyurnPIqqKiSyqqoqprqaqjpEbXUVkdd9dT3qAbiJdz9bugxjSRqLEmyxzXR1BOe9JRmUqRK
01wLLbXS2tPaeEZb7bTXwbOe87yOOnlBZ1101U13L+qhp156e0l6EGG5McbabbaLxplmsoVWWxFE
muQHo8100y1TzTHB5352wyJr3Pav/yzzqSO+sM7L+pihr2MyfOmoU4474aRL+jntK19b7xX/eN83
zjirvyuumehVYQMM9JpMSwzyusGyDJEj2xuGuuxNb3vLMMO9Y7ulRnjXSO+56rodvvW78zbY6II/
7PSnv3ziO78FUc750U9+9b1fggJBQfNtstlW2xy0Ra5DRjlgvLUO22OvXUF0EGOKxUGsuVaZ5yN/
B3FBIR/7wAIrTTfLhz6zz/7onMxwfHxKfL7N8wylJefZMCXf1LSoFjlZg2LT+4XDiQmhpOTYjCHZ
4YHp2Rl97w1CoYRG+Sb/D8O4j6wAAAAB//8AAnjaHctBDoAgDETRD5qAGw7lvTRyV/AUaPzSZtI3
ixKAYnb+iWQWEsGbbRuHPrl0penuRm6Gfnj1Ov/4AOUhCRh42o2TzytEURTHv+e+Z2ZI4o0ZmiZJ
srCw0CQLWUiiFL2wlBeN1DTEzIqQv0D+An+EpYW/QrGm3trej+8991JjTFnMPfec8znfe+55dyAA
elDBFaSWNOrI0ZONzXgUJeDzE13MCwxCu6MvCJBJkloDE9XjZBdTtYP9BBVd5w6P9+pYOGkenWCZ
dUZrXb31AqpYz61OOcPzihjBBGYwjyVsYRtV1H3dDmusvSIHVlzjAan0y6zTkHVvd1xejuRG7uTR
+HNNyeWN582tj9+zmyLv+oJTNNBEDWf6E8YGMIgCs+OYxiJixvo1HuAJz3jj3kZsXyGpMrlJf8+s
5vJ63wjpj2dXywdULmHM07k/6XbOqQ62cEP/5AodueIvPeFetKcQ78ysanylJf7B+JqPBzrBss4C
qiyc1ncHdg24Dmu9O7fbM0bvWda+/iLiFsKw83HV66Ri/YGOZNxGGhLZtu+ebfvqVWr28l2usyLD
W75yAhGV8rpLdRfy9UY623PSEedobUp7oX5BbUprNfpw6alLT9l/U54n268xonN2XE65vNr05w0Z
nmZ8v8Z2+QXiMEkdAAAAeNqtlM9LlEEYx7/77u9t119pZqmnDgpRBwlR9hiht36XZVCHLhYdpIvX
fu6pkxDEQiRlJQkLWUiBEi5hBF32MuCevHTxX6jpM/Pupoc0zfbDszPvzPvM832emXcUkZRRtw4r
cvPa7VtKKcaIrJWbidy4Pu7GFD4xF9AGeMzx9MS/m9A+DWlc9/RIk8pqyn7Tc+wFNm2/6yXtjH2n
N9gs/TlsHlvAlpnP4GHwMHgYPAweBg+Dh8HD6L0t42GINm0rjFZ4quC/ipJ5Vl3gKaIV+5j/qv9P
qF8DGlReK6oqiPc4pdHJWJMayVW2ZNdsASt6K+nffz1q3YW3bNmO2bFtvbmKGdei2exKs3wFJuzE
Nl/O+zzDVi5falbkVKR89s42qYFd+3N/JzpDq2l2ccN+cX3EU+ttmXF5h7FrijkpV22hvl/hXoS6
wITt/4z727O4vrKLU4/PmSk7bX+Nu80zUl97Q9z1Opdrp7RY2/X6fGmrWm+23xt8As5MLwQ6ClH1
QUzHwH27/Ury/Q4ozTc8qD2cvLxyGoaIzkFcI5DSJchoFLJ6CjktQlafIKsliOoL5LgFqmrQD/1k
hUBHuAcaWbcJ9qoZsuqCA9wO3TqoQ5DxOiJeR9TriHsdSR2HVp2ANm6+Ie4/pyytk5DTKWjQaWjX
GejUWejyuvfrPHToAjTqIjT5TAKfSUyXodnnk9AVaNEdFVDickvqGaQ1pVdEfw1tmtEs0d9CAzfy
PBE/QLs+aoGVXS0SvhYJfYZ2LUOHr0hSX6HF1yXl65Im107y7mU/+tiH+g06jO4R1I2i5S63/H09
0EP0LLLuEitVnfcvrXgvoQABAAAACAAAAAQADgACaWRlb3JvbW4AAWxhdG4ACAAGAAAAAAABAAIA
CAAMAAH/VgABAAB42mNgYGBkAIJjV/Rmguidyo+aYDQASfQG4wAA) format('woff'), url('FuturaStd-Heavy.ttf')  format('truetype'), url('FuturaStd-Heavy.svg#FuturaStd-Heavy') format('svg');
  font-weight: normal;
  font-style: normal;
}


