.page-loading {
    z-index: 99999
}

.flagged {
    color: red
}

.box_rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

.view-img {
    color: #0362FD;
    margin-left: 18px;
    padding-left: 10px
}

.btn.default.btn-file.sel {
    margin-left: 20px;
    margin-top: 5px
}

.con-margin {
    margin-left: -15px
}

.checkboxnew table tbody td {
    border: 1px solid #E5E5E5;
    padding: 6px !important
}

.phn {
    margin-left: -8%
}

.day_event {
    margin-left: -5%
}

.icon-pick {
    background: url(../img/date-picker.png) no-repeat scroll 95% center rgba(0, 0, 0, 0)
}

.mont_year {
    margin-left: -10px
}

.time_event {
    margin-left: -13%
}

.count {
    float: right
}

.req_field {
    color: red !important
}

.form-con-text {
    width: 197px
}

.padding-5x {
    padding-left: 5px
}

.con-label {
    width: 115px
}

.con-label-1 {
    width: 115px;
    padding-top: 30px !important
}

.con-label-2 {
    width: 275px !important
}

.con-label-3 {
    margin-left: -27px !important
}

.con-label-4 {
    margin-left: -73px !important
}

.con-label-5 {
    margin-left: -100px !important
}

.con-margin {
    margin-left: -15px !important
}

.con-input {
    margin-top: 5px
}

.con-input-1 {
    margin-left: 20% !important;
    margin-top: -2% !important
}

.con-check {
    margin-top: 8px !important
}

.con-check-1 {
    margin-top: 8px !important;
    margin-left: -36px !important
}

.con-check-2 {
    margin-top: 8px !important;
    margin-left: -50px !important
}

.con-check-3 {
    margin-top: 8px !important
}

.con-margin-1 {
    margin-left: -3% !important
}

.con-image {
    width: 161px !important;
    height: 120px !important
}

.con-lebel-6 {
    margin-top: 5% !important;
    margin-left: -6% !important
}

.con-image-1 {
    width: 161px !important;
    height: 70px !important
}

.con-margin-2 {
    margin-top: 50px !important
}

.con-lebel-7 {
    margin-left: -6% !important
}

.con-image-2 {
    width: 110px !important;
    height: 120px !important
}

.con-margin-3 {
    margin-left: -7.4% !important
}

.con-span {
    margin-left: 10px !important
}

.con-chk-3 {
    min-height: 1px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    width: 25% !important;
    float: left !important
}

.col-md-9.con-margin.location {
    padding-top: 10px
}

.checkboxnew {
    margin-top: 0
}

.l_text {
    margin-top: 10px !important
}

.con-time {
    margin-left: -2%;
    width: 17.2%
}

.con_strt.time {
    margin-left: -7px !important;
    margin-right: 50px !important
}

.con_strt {
    width: 14%
}

.con_check_box {
    padding: 5px 0 5px 5px;
    width: 11.2%;
    border: 1px solid #E5E5E5;
    text-align: center;
    border-right: none
}

.border-right {
    border-right: 1px solid #E5E5E5 !important
}

.no-padding {
    padding: 0
}

.count_right {
    margin-right: 9.8%
}

.con_radio_box {
    width: 9.2%;
    border: 1px solid #E5E5E5;
    text-align: center;
    border-right: none;
    padding: 0
}

.con_radio_box .radio-inline {
    padding: 4px 0
}

.tickettype {
    width: 29%
}

.con-md-1 {
    min-height: 1px;
    padding-right: 3%;
    width: 2%;
    float: left
}

.con-mrg {
    margin-left: -1%
}

.con-mrg-1 {
    margin-left: -7.5%
}

.con-mrg-2 {
    margin-left: -13.5%
}

.con-mrg-3 {
    margin-left: -16%
}

.con-padd-1 {
    padding-right: 0;
    width: 130%
}

.con-mar-top {
    margin-top: 7px
}

.con-mar-top-1 {
    margin-top: -4.2%
}

.con-width {
    width: 98%
}

.con-width-1 {
    width: 106%
}

.fc-button-today, .fc-button-month, .fc-button-agendaWeek, .fc-button-agendaDay, .fc-day-content {
    display: none
}

.edit_status {
    width: 85%
}

.detail {
    margin-bottom: 10px
}

.detail_delete1 {
    padding-bottom: 5px !important;
    padding-top: 5px !important;
    margin-top: 2px
}

.con-check-20-edit {
    margin-top: 7px;
    margin-right: -40px;
    padding-left: 0
}

.list_box {
    border: 1px solid #EEE;
    height: 150px;
    width: 100%;
    overflow-y: scroll;
    height: 148px
}

.text_btn_box {
    border: 1px solid #EEE;
    padding: 18px 0
}

.list_box ul {
    margin: 0;
    overflow-x: hidden;
    padding: 4px
}

.list_box ul li {
    padding: 2px 6px;
    text-decoration: none;
    list-style: none;
    margin-bottom: 4px
}

.list_box ul li.selection, .list_box ul li:hover {
    background: #4B8DF8;
    color: #fff
}

.text_btn_box {
    border: 1px solid #eee;
    padding: 4px 0
}

.text_add {
    float: left;
    padding: 2px 9px;
    width: 70%
}

.add_delete_links {
    float: right;
    padding: 4px 0;
    width: 30%
}

.clear {
    clear: both
}

.box_title {
    display: block;
    font-size: 15px;
    margin: 5px 0;
    text-align: center
}

.add_quote .form-group.group_margin {
    margin-bottom: 4px
}

.collapse.in {
    display: table-row;
}

.expand:hover{
    cursor: pointer;
}