/*! Humaan CSS v4.0 */

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

/* normalize.css v3.0.1 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
	font-family: sans-serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
	margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
	display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
	background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
	outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
	font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
	font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
	background: #ff0;
	color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
	border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
	margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
	overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
	color: inherit; /* 1 */
	font: inherit; /* 2 */
	margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
	overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
	line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box; /* 2 */
	box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
	border: 0; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
	overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
	font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

.container:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.row:after,
.clearfix:after {
	clear: both;
}

.row,
.clearfix {
	zoom: 1;
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

@font-face {
	font-family: "icons";
	src: url("http://localhost/ozeating/public/assets/stylesheets/restaurant_theme/fonts/icons-d3edb474fd6b7cb7f58ce729455f435e.eot");
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: "icons";
	src: url("http://localhost/ozeating/public/assets/stylesheets/restaurant_theme/fonts/icons-d3edb474fd6b7cb7f58ce729455f435e.eot");
	src: url("http://localhost/ozeating/public/assets/stylesheets/restaurant_theme/fonts/icons-d3edb474fd6b7cb7f58ce729455f435e.eot?#iefix") format("embedded-opentype"), url("fonts/icons-d3edb474fd6b7cb7f58ce729455f435e.woff") format("woff"), url("fonts/icons-d3edb474fd6b7cb7f58ce729455f435e.ttf") format("truetype"), url("fonts/icons-d3edb474fd6b7cb7f58ce729455f435e.svg?#icons") format("svg");
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: "icons";
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	text-transform: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icn_01-arrowLeft:before {
	content: "\f101";
}

.icn_02-arrowUp:before {
	content: "\f102";
}

.icn_03-arrowRight:before {
	content: "\f103";
}

.icn_04-arrowDown:before {
	content: "\f104";
}

.icn_05-arrowLeftFull:before {
	content: "\f105";
}

.icn_06-arrowTopFull:before {
	content: "\f106";
}

.icn_07-arrowRightFull:before {
	content: "\f107";
}

.icn_08-arrowDownFull:before {
	content: "\f108";
}

.icn_09-socialShare:before {
	content: "\f109";
}

.icn_10-socialInstagram:before {
	content: "\f10a";
}

.icn_11-socialTwitter:before {
	content: "\f10b";
}

.icn_12-socialFacebook:before {
	content: "\f10c";
}

.icn_13-add:before {
	content: "\f10d";
}

.icn_14-star:before {
	content: "\f10e";
}

.icn_15-search:before {
	content: "\f10f";
}

.icn_16-envelope:before {
	content: "\f110";
}

.icn_17-tick:before {
	content: "\f111";
}

.icn_18-cross:before {
	content: "\f112";
}

.icn_19-download:before {
	content: "\f113";
}

.icn_20-cuisine:before {
	content: "\f114";
}

.icn_21-dining:before {
	content: "\f115";
}

.icn_22-lighting:before {
	content: "\f116";
}

.icn_23-beer:before {
	content: "\f117";
}

.icn_24-bottle:before {
	content: "\f118";
}

.icn_25-cocktail:before {
	content: "\f119";
}

.icn_26-icecream:before {
	content: "\f11a";
}

.icn_27-burger:before {
	content: "\f11b";
}

.icn_28-sushi:before {
	content: "\f11c";
}

.icn_29-wineglass:before {
	content: "\f11d";
}

.icn_30-wineglassTwo:before {
	content: "\f11e";
}

.icn_31-wineglassThree:before {
	content: "\f11f";
}

.icn_32-couch:before {
	content: "\f120";
}

.icn_33-note:before {
	content: "\f121";
}

.icn_34-arrowLeftBig:before {
	content: "\f122";
}

.icn_35-arrowRightBig:before {
	content: "\f123";
}

.icn_36-socialPinterest:before {
	content: "\f124";
}

.icn_37-socialRSS:before {
	content: "\f125";
}

.icn_38-weather-sunny:before {
	content: "\f126";
}

.icn_39-weather-lCloudy:before {
	content: "\f127";
}

.icn_40-weather-vCloudy:before {
	content: "\f128";
}

.icn_41-weather-cloudy:before {
	content: "\f129";
}

.icn_42-weather-lShowers:before {
	content: "\f12a";
}

.icn_43-weather-showers:before {
	content: "\f12b";
}

.icn_44-weather-lightning:before {
	content: "\f12c";
}

.icn_45-weather-shower-lightning:before {
	content: "\f12d";
}

.icn_46-weather-snow:before {
	content: "\f12e";
}

.icn_47-weather-hail:before {
	content: "\f12f";
}

.icn_49-weather-umbrella:before {
	content: "\f130";
}

/* Spritesheet */

.icn {
	display: block;
	background-image: url("http://localhost/ozeating/public/assets/img/front/sprites.png");
	background-repeat: no-repeat;
}

.icn span {
	display: none;
}

header .icn-logo {
	background-position: 0 0;
	width: 245px;
	height: 100px;
}

header .icn-discount {
	background-position: 0 -127px;
	width: 260px;
	height: 82px;
}

.sub-nav .icn-discount-mini {
	background-position: 0 -255px;
	width: 115px;
	height: 27px;
}

footer .icn-logo {
	background-position: -320px 0;
	width: 110px;
	height: 110px;
}

/* Swapping out for mobile sizes */

/* Default Margin */

html {
	font-size: 6.25%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	font-weight: inherit;
}

h1 {
	font-size: 30px;
	font-size: 30rem;
	line-height: 1.6;
}

h2 {
	font-size: 24px;
	font-size: 24rem;
	line-height: 1.5;
}

h3 {
	font-size: 22px;
	font-size: 22rem;
	line-height: 1.5;
}

h4 {
	font-size: 18px;
	font-size: 18rem;
	line-height: 1.4;
}

h5 {
	font-size: 16px;
	font-size: 16rem;
	line-height: 1.4;
}

h6 {
	font-size: 12px;
	font-size: 12rem;
	line-height: 1.3;
}

small {
	font-size: 10px;
	font-size: 10rem;
	line-height: 1.3;
}

p {
	margin: 0 0 20px;
}

small {
	font-size: 80%;
}

a {
	text-decoration: none;
	outline: 0;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
	color: #ff6600;
}

a:hover,
a:focus {
	color: #0e98d1;
}

blockquote,
blockquote p {
	font-style: italic;
}

blockquote {
	margin: 0 0 20px;
	padding: 20px;
	padding-left: 40px;
	border-left: 2px solid #ff6600;
}

blockquote cite {
	display: block;
}

blockquote cite:before {
	content: "\2014 \0020";
}

figure {
	margin: 0;
}

.mob-vis-md,
.mob-vis-sm {
	display: none;
}

.mob-menu {
	background-color: #1b1b1b;
	display: block;
	width: 250px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	font-size: 13px;
	font-size: 13rem;
}

.mob-menu li {
	border-bottom: 1px solid #232323;
}

.mob-menu a {
	padding: 15px 20px;
	color: #fff;
	font-weight: bold;
	display: block;
	position: relative;
}

.mob-menu .social {
	padding: 15px 20px;
	padding-top: 30px;
}

.mob-menu .social .title {
	display: block;
	font-size: 13px;
	font-size: 13rem;
	color: #767676;
	margin-bottom: 20px;
	font-weight: bold;
	width: 100%;
}

.mob-menu .social li {
	float: left;
	margin-right: 15px;
	border: 0;
}

.mob-menu .social a {
	padding: 0;
}

.mob-menu .social a:after {
	font-weight: normal;
}

.borders li {
	position: relative;
}

.borders li:after {
	content: ' ';
	position: absolute;
	right: 0;
	top: 0;
	width: 2px;
	height: 100%;
	-webkit-transition: width 0.2s ease-in-out;
	-moz-transition: width 0.2s ease-in-out;
	-ms-transition: width 0.2s ease-in-out;
	-o-transition: width 0.2s ease-in-out;
	transition: width 0.2s ease-in-out;
}

.borders li:hover:after {
	z-index: 1;
	width: 100%;
}

.borders a {
	position: relative;
	z-index: 2;
}

.borders .home:after {
	background-color: #ff6600;
}

.borders .search:after {
	background-color: #ffa200;
}

.borders .reviews:after {
	background-color: #79cb37;
}

.borders .features:after {
	background-color: #cb37bb;
}

.borders .events:after {
	background-color: #258fd9;
}

.borders .specials:after {
	background-color: #73359b;
}

.borders .menus:after {
	background-color: #359b9a;
}

.borders .functions:after {
	background-color: #d51717;
}

.borders .vip:after {
	background-color: #e5e314;
}

.borders li.dark:hover a {
	color: #1b1b1b;
}

/* Slider */

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-loading .slick-list {
	background: #fff url("./ajax-loader.gif") center center no-repeat;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
}

.slick-track:before,
.slick-track:after {
	content: "";
	display: table;
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}

[dir="rtl"] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

/* Icons */

@font-face {
	font-family: "slick";
	src: url("./fonts/slick.eot");
	src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
	font-weight: normal;
	font-style: normal;
}

/* Arrows 

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    margin-top: -10px;
    padding: 0;
    border: none;
    outline: none;
    &:hover, &:focus {
      outline: none;
      background: transparent;
      color: transparent;
      &:before {
        opacity: $slick-opacity-on-hover;
      }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
}
.slick-prev:before, .slick-next:before {
    font-family: $slick-font-family;
    font-size: 20px;
    line-height: 1;
    color: $slick-arrow-color;
    opacity: $slick-opacity-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
    left: -25px;
    [dir="rtl"] & {
        left:  auto;
        right: -25px;
    }
    &:before {
        content: $slick-prev-character;
        [dir="rtl"] & {
            content: $slick-next-character;
        }
    }
}
.slick-next {
    right: -25px;
    [dir="rtl"] & {
        left:  -25px;
        right: auto;
    }
    &:before {
        content: $slick-next-character;
        [dir="rtl"] & {
            content: $slick-prev-character;
        }
    }
}
*/

/* Dots 

.slick-slider {
    margin-bottom: 30px;
}
.slick-dots {
    position: absolute;
    bottom: -45px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;

    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;

        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0;
            font-size: 0;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                  opacity: $slick-opacity-on-hover;
                }
            }

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: $slick-dot-character;
                width: 20px;
                height: 20px;
                font-family: $slick-font-family;
                font-size: $slick-dot-size;
                line-height: 20px;
                text-align: center;
                color: $slick-dot-color;
                opacity: $slick-opacity-not-active;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

        }

        &.slick-active button:before {
            color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
        }
    }
}

*/

.breadcrumbs-bar {
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 12px;
	font-size: 12rem;
	line-height: 26px;
	color: #2d2d2d;
}

.breadcrumbs-bar .breadcrumbs {
	float: left;
}

.breadcrumbs-bar .social {
	float: right;
}

.breadcrumbs-bar ul {
	list-style: none;
	padding: 0px;
	font-weight: 500;
	margin: 0;
}

.breadcrumbs-bar ul li {
	margin: 0px;
	padding: 0px;
}

.breadcrumbs-bar li {
	margin: 0;
	float: left;
}

.breadcrumbs-bar a {
	color: #ff6600;
}

.breadcrumbs-bar a:hover {
	color: #0e98d1;
}

.breadcrumbs a:after {
	content: '>';
	margin: 0 10px;
	color: #c6c6c6;
}

.breadcrumbs-bar .social li {
	margin-left: 10px;
}

.social a {
	display: block;
}

.social a:after {
	font-family: 'icons';
	display: block;
	font-size: 26px;
	font-size: 26rem;
	line-height: 1em;
}

.facebook a {
	color: #3b5998;
	font-weight: normal;
}

.facebook a:hover {
	color: #4264aa;
}

.facebook a:after {
	content: '\f10c';
}

.twitter a {
	color: #4099ff;
}

.twitter a:hover {
	color: #5aa7ff;
}

.twitter a:after {
	content: '\f10b';
}

.instagram a {
	color: #815240;
}

.instagram a:hover {
	color: #925d48;
}

.instagram a:after {
	content: '\f10a';
}

.share a {
	color: #0e98d1;
}

.share a:hover {
	color: #10a9e9;
}

.share a:after {
	content: '\f109';
}

.pinterest a {
	color: #cb2027;
}

.pinterest a:hover {
	color: #dd272f;
}

.pinterest a:after {
	content: '\f124';
}

.rss a {
	color: #ff6600;
}

.rss a:hover {
	color: #ff751a;
}

.rss a:after {
	content: '\f125';
}

.hasSidebar {
	padding-right: 250px;
	position: relative;
}

.sidebarNav {
	position: absolute;
	right: 0;
	top: 100px;
	width: 200px;
	z-index: 2;
}

.sidebarNav li {
	display: block;
	margin-bottom: 5px;
}

.sidebarNav .divider {
	margin-top: 20px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #e5e5e5;
}

input,
textarea {
	font-size: 14px;
	font-size: 14rem;
	line-height: 1.5;
	font-family: "Open Sans", sans-serif, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #fff;
	color: #6d6d6d;
	font-size: 13px;
	font-size: 13rem;
	padding: 15px;
	border-radius: 2px;
}

input[type="checkbox"] {
	-webkit-appearance: checkbox !important;
	-moz-appearance: checkbox !important;
	-ms-appearance: checkbox !important;
	-o-appearance: checkbox !important;
	appearance: checkbox !important;
}

input:focus,
textarea:focus {
	outline: none;
	border: 0;
}

button {
	background-color: transparent;
	outline: none;
	border: 0;
}

div.styled {
	overflow: hidden; /* this hides the select's drop button */
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-size: 16rem;
	margin-bottom: 15px;
	border: 1px solid #ebebeb;
	padding: 9px 10px 10px;
	width: 100%;
	position: relative;
}

div.styled:focus {
	box-shadow: none;
	outline: none;
}

div.styled select {
	width: 115%;
	background-color: transparent;
	background-image: none;
	-webkit-appearance: none;
	border: none;
	box-shadow: none;
	padding: 0.3em 0.5em; /* padding should be added to the select, not the div */
}

div.styled select:focus {
	box-shadow: none;
	outline: none;
}

.ie7 div.styled {
	border: none;
}

.ie7 div.styled select {
	width: 100%;
	background-color: white;
	border: solid 1px #ccc;
	padding: 0.3em 0.5em;
}

/* overwrite for the HTML5 Boilerplate way to hide labels */

label.visuallyhidden-with-placeholder { /*clip: auto !important;*/
	height: auto !important;
	overflow: visible !important;
	position: absolute !important;
	left: -999em;
}

.infield {
	position: relative;
}

.infield label {
	position: absolute;
	left: 20px;
	top: 14px;
	text-transform: none;
	font-size: 18px;
	font-size: 18rem;
}

form {
	font-size: 12px;
	font-size: 12rem;
}

form label {
	display: block;
	margin-bottom: 10px;
	line-height: 1.2;
	font-weight: bold;
}

form input,
form textarea {
	width: 100%;
	display: block;
}

form textarea {
	max-width: 100%;
	min-height: 75px;
}

form input,
form textarea,
form input:focus,
form textarea:focus {
	border: 1px solid #e5e5e5;
}

form .field {
	margin-bottom: 10px;
}

form.search {
	font-size: 13px;
	font-size: 13rem;
	line-height: 1;
	color: #6d6d6d;
	position: relative;
}

form.search input {
	padding-right: 45px;
	width: 100%;
}

form.search button {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 45px;
	color: #b0b0b0;
	font-size: 15px;
	font-size: 15rem;
}

form.search button:after {
	font-family: 'icons';
	content: '\f10f';
	position: absolute;
	top: 50%;
	margin-top: -7.5px;
	margin-right: -7.5px;
	right: 50%;
}

button {
	border: none;
	outline: none;
}

.btn {
	display: block;
	padding: 10px 15px;
	text-align: center;
	background-color: #0e98d1;
	color: #fff;
	-webkit-transition: background-color 0.2s ease-in-out;
	-moz-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
}

.btn:hover {
	color: #fff;
	background-color: #ff6600;
}

.btn.grey {
	background-color: #424242;
}

.btn.grey:hover {
	background-color: #4f4f4f;
}

.btn.rac {
	background-color: #1a1a1a;
}

.btn.rac:hover {
	background-color: #272727;
}

.btn.envelope {
	position: relative;
	text-align: left;
	padding: 7px 50px 7px 20px;
	font-weight: bold;
	font-weight: normal;
	font-size: 13px;
	font-size: 13rem;
}

.btn.envelope:after {
	font-family: 'icons';
	content: '\f110';
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 10px;
	font-size: 10rem;
	font-weight: normal;
}

.btn.fancy-orange,
.btn.fancy-yellow {
	padding: 11px 15px;
	border-radius: 2px;
	text-align: left;
	font-weight: bold;
}

.btn.fancy-orange:after,
.btn.fancy-yellow:after {
	font-family: 'icons';
	content: '\f107';
	float: right;
	font-weight: normal;
}

.btn.fancy-orange {
	background: #f26b1a; /* Old browsers */
	background: -moz-linear-gradient(left, #f26b1a 0%, #f2521a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f26b1a), color-stop(100%, #f2521a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #f26b1a 0%, #f2521a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #f26b1a 0%, #f2521a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #f26b1a 0%, #f2521a 100%); /* IE10+ */
	background: linear-gradient(to right, #f26b1a 0%, #f2521a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f26b1a', endColorstr='#f2521a',GradientType=1 ); /* IE6-9 */
}

.btn.fancy-orange:after {
	color: #c34215;
}

.btn.fancy-yellow {
	background: #f2a01a; /* Old browsers */
	background: -moz-linear-gradient(left, #f2a01a 0%, #f2801a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f2a01a), color-stop(100%, #f2801a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #f2a01a 0%, #f2801a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #f2a01a 0%, #f2801a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #f2a01a 0%, #f2801a 100%); /* IE10+ */
	background: linear-gradient(to right, #f2a01a 0%, #f2801a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2a01a', endColorstr='#f2801a',GradientType=1 ); /* IE6-9 */
}

.btn.fancy-yellow:after {
	color: #c36715;
}

.siteSearch {
	position: absolute;
	top: 0;
	right: 80px;
	margin-top: 12px;
}

#searchInput {
	width: 200px;
	background: rgba(0, 0, 0, 0.3);
	border: none;
	border-radius: 20px;
	padding: 6px 14px;
	font-size: 12px;
	font-size: 12rem;
	line-height: 1.3;
}

.siteSearch label {
	position: absolute;
	left: 16px;
	top: 7px;
	color: rgba(255, 255, 255, 0.5);
	font-size: 12px;
	font-size: 12rem;
	line-height: 1.3;
}

.siteSearch button {
	position: absolute;
	background: #fff;
	border-radius: 20px;
	height: 20px;
	top: 6px;
	right: 6px;
	font-size: 10px;
	font-size: 10rem;
	line-height: 1.3;
	font-weight: bold;
}

ul.dropDown {
	background: #fff;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 160px;
	display: block;
	padding: 0 20px;
	position: absolute;
	top: 56px;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(26, 53, 71, 0.1);
	border: 1px solid rgba(26, 53, 71, 0.12);
}

.dropDown.user {
	right: 0;
}

ul.dropDown.active {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: none;
	transform: none;
}

.dropDown li {
	font-size: 12px;
	font-size: 12rem;
	line-height: 1.3;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.specials-slider {
	list-style: none;
	padding: 0px;
	margin: 0;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
}

.specials-slider li {
	margin: 0px;
	padding: 0px;
}

.specials-slider a {
	margin: 0;
	border-right: 1px solid #eaeaea;
}

.gallery-slider {
	position: relative;
	margin-bottom: 40px;
}

.gallery-slider .prev,
.gallery-slider .next {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100px;
	z-index: 1;
	cursor: pointer;
}

.gallery-slider .prev:after,
.gallery-slider .next:after {
	font-family: 'icons';
	position: absolute;
	top: 50%;
	margin-top: -37px;
	font-size: 50px;
	font-size: 50rem;
	display: block;
	color: #fff;
	font-weight: normal;
}

.gallery-slider .prev {
	left: 0;
	background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, transparent 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, transparent)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, transparent 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, transparent 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, transparent 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, transparent 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

.gallery-slider .prev:after {
	content: '\f122';
	left: 15px;
}

.gallery-slider .next {
	right: 0;
	background: -moz-linear-gradient(left, transparent 0%, transparent 8%, rgba(0, 0, 0, 0.65) 99%, rgba(0, 0, 0, 0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(8%, transparent), color-stop(99%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, transparent 0%, transparent 8%, rgba(0, 0, 0, 0.65) 99%, rgba(0, 0, 0, 0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, transparent 0%, transparent 8%, rgba(0, 0, 0, 0.65) 99%, rgba(0, 0, 0, 0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, transparent 0%, transparent 8%, rgba(0, 0, 0, 0.65) 99%, rgba(0, 0, 0, 0.65) 100%); /* IE10+ */
	background: linear-gradient(to right, transparent 0%, transparent 8%, rgba(0, 0, 0, 0.65) 99%, rgba(0, 0, 0, 0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 */
}

.gallery-slider .next:after {
	content: '\f123';
	right: 15px;
}

.gallery-slider .add {
	position: absolute;
	right: 15px;
	bottom: 15px;
	z-index: 2;
	color: #fff;
	font-weight: 600;
	font-size: 11px;
	font-size: 11rem;
}

.gallery-slider .add:after {
	font-family: 'icons';
	content: '\f10d';
	color: #fff;
	font-size: 20px;
	font-size: 20rem;
	display: inline-block;
	margin-left: 10px;
	position: relative;
	top: 4px;
	font-weight: normal;
}

.testimonials {
	width: 100%;
	padding: 70px 0 70px;
	text-align: center;
	background: #eff3f4; /* Old browsers */
	background: -moz-linear-gradient(top, #eff3f4 0%, white 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eff3f4), color-stop(100%, white)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eff3f4 0%, white 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eff3f4 0%, white 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eff3f4 0%, white 100%); /* IE10+ */
	background: linear-gradient(to bottom, #eff3f4 0%, white 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff3f4', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.testimonials h2 {
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 34px;
	font-size: 34rem;
	line-height: 1.4;
	color: #4f4f4f;
	font-weight: 300;
}

.filter-bar {
	font-size: 14px;
	font-size: 14rem;
	font-weight: bold;
	line-height: 1;
	margin-bottom: 30px;
}

.filter-bar p {
	margin-bottom: 0;
}

.filter-bar input {
	display: none;
}

.filter-bar .title,
.filter-bar .field {
	display: inline-block;
}

.filter-bar .title {
	color: #ff6600;
}

.filter-bar .field {
	position: relative;
	text-align: left;
	margin: 0;
}

.filter-bar label {
	padding: 20px;
	padding-left: 70px;
	cursor: pointer;
}

.filter-bar i {
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	left: 20px;
	top: 7px;
	background-color: #fff;
	border-width: 2px;
	border-style: solid;
	border-color: #eeeeee;
	border-radius: 50%;
	font-size: 16px;
	font-size: 16rem;
	font-style: normal;
	-webkit-transition: border-color 0.2s ease-in-out;
	-moz-transition: border-color 0.2s ease-in-out;
	-ms-transition: border-color 0.2s ease-in-out;
	-o-transition: border-color 0.2s ease-in-out;
	transition: border-color 0.2s ease-in-out;
}

.filter-bar i:after {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -8px;
	font-family: 'icons';
	text-align: center;
	width: 100%;
	font-weight: normal;
}

.filter-bar .active i {
	border-color: #ff6600;
}

.icn-filter-food:after {
	content: '\f114';
}

.icn-filter-drink:after {
	content: '\f11d';
}

.icn-filter-service:after {
	content: '\f10e';
}

.icn-filter-ambience:after {
	content: '\f121';
}

.icn-filter-dinein:after {
	content: '\f118';
}

.icn-filter-takeaway:after {
	content: '\f120';
}

.testimonial-slider {
	margin-bottom: 30px;
}

.testimonial-slider .slide {
	background-color: #fff;
	border: 1px solid #e5e5e5;
	text-align: left;
	margin: 0 5px;
}

.testimonial {
	padding: 30px;
	padding-bottom: 10px;
	font-size: 12px;
	font-size: 12rem;
	line-height: 1.4;
	border-bottom: 1px solid #e5e5e5;
}

.testimonial h3 {
	margin-top: 0;
	font-weight: 100;
}

.testimonial .rating {
	float: right;
	margin: 0;
}

.testimonial p.title {
	margin-bottom: 10px;
	font-size: 14px;
	font-size: 14rem;
}

.testimonial-slider .author {
	padding: 15px 30px;
}

.testimonial-slider .author p {
	width: 120px;
	font-size: 12px;
	font-size: 12rem;
	float: left;
}

.testimonial-slider .author p a {
	text-decoration: underline;
}

.testimonial-slider .preview {
	float: left;
	width: 60px;
	height: 60px;
	margin-left: 10px;
	margin-bottom: 10px;
	position: relative;
	background-size: cover;
	-ms-behavior: url(http://localhost/ozeating/public/assets/backgroundsize.min.htc);
	background-position: center center;
	background-repeat: no-repeat;
}

.testimonial-slider .preview:hover:after {
	content: ' ';
	width: 100px;
	height: 100px;
	display: block;
	position: absolute;
	top: -90px;
	left: 50%;
	margin-left: -50px;
	background-image: inherit;
	background-size: cover;
	-ms-behavior: url(http://localhost/ozeating/public/assets/backgroundsize.min.htc);
	background-position: center center;
	background-repeat: no-repeat;
	border: 3px solid #fff;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	z-index: 2;
}

.testimonial-slider .preview:hover:before {
	top: 10px;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 4px;
	margin-left: -4px;
	z-index: 3;
}

.testimonial-slider img {
	width: 100%;
	height: auto;
	display: block;
}

.testimonial-controls-wrap {
	font-size: 12px;
	font-size: 12rem;
}

.testimonial-controls-wrap p {
	margin: 0;
}

.testimonial-controls {
	float: left;
	font-size: 12px;
	font-size: 12rem;
}

.testimonial-pager {
	float: left;
}

.testimonial-pager ul {
	list-style: none;
	padding: 0px;
	margin: 0;
	font-weight: bold;
}

.testimonial-pager ul li {
	margin: 0px;
	padding: 0px;
}

.testimonial-pager li {
	margin: 0;
	float: left;
	line-height: 1.2;
}

.testimonial-pager .slick-active {
	color: #ff6600;
}

.testimonial-prev,
.testimonial-next {
	float: left;
	text-transform: uppercase;
	position: relative;
	cursor: pointer;
}

.testimonial-prev:after,
.testimonial-prev:before,
.testimonial-next:after,
.testimonial-next:before {
	font-family: 'icons';
	color: #7f7f7f;
	font-size: 15px;
	font-size: 15rem;
	position: absolute;
	top: -2px;
}

.testimonial-prev {
	padding-right: 50px;
}

.testimonial-prev:after {
	content: '\f101';
	right: 20px;
}

.testimonial-next {
	padding-left: 50px;
}

.testimonial-next:before {
	content: '\f103';
	left: 20px;
}

.testimonial-credits {
	float: right;
}

header {
	width: 100%;
	height: 130px;
	display: block;
	position: relative;
	padding: 0 290px;
	text-align: center;
	background: #dc4501; /* Old browsers */
	background: -moz-linear-gradient(left, #dc4501 0%, #f67b05 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #dc4501), color-stop(100%, #f67b05)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #dc4501 0%, #f67b05 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #dc4501 0%, #f67b05 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #dc4501 0%, #f67b05 100%); /* IE10+ */
	background: linear-gradient(to right, #dc4501 0%, #f67b05 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc4501', endColorstr='#f67b05',GradientType=1 ); /* IE6-9 */
}

header .logo {
	position: absolute;
	top: 15px;
	left: 20px;
}

header form {
	max-width: 465px;
	margin: 40px auto;
}

.hamburger {
	text-align: center;
	font-size: 12px;
	font-size: 12rem;
	padding: 20px;
	z-index: 5;
	cursor: pointer;
	float: left;
}

.hamburger .divider {
	width: 30px;
	height: 4px;
	background-color: #fff;
	display: block;
	margin: 3px auto;
	border-radius: 2px;
}

header .discount-leadin {
	position: absolute;
	right: 20px;
	top: 30px;
}

.header-mobile-buttons {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -32px;
	padding-left: 60px;
}

.header-mobile-buttons .styled {
	border: 1px solid #fb9f54;
	font-size: 12px;
	font-size: 12rem;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 2px;
	padding: 4px;
	width: 60px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -17.5px;
}

.header-mobile-buttons .styled:after {
	top: 50%;
	right: 10px;
	margin-top: -2px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 4px;
	margin-left: -4px;
}

.header-mobile-buttons .styled select {
	width: 175%;
}

.mob-cta {
	clear: both;
	margin-bottom: 20px;
}

.nav-bar {
	background-color: #2d2d2d;
	font-size: 11px;
	font-size: 11rem;
	position: relative;
	z-index: 10;
}

.nav-bar li {
	float: left;
	position: relative;
	z-index: 1;
}

.nav-bar .text {
	position: relative;
	z-index: 2;
}

.nav-bar a {
	padding: 17px 15px;
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	position: relative;
	z-index: 2;
}

.main-nav {
	margin-right: 1px;
	float: left;
}

.main-nav li a:after {
	content: ' ';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	display: block;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.main-nav li.home a:after {
	background-color: #ff6600;
}

.main-nav li.reviews a:after {
	background-color: #79cb37;
}

.main-nav li.features a:after {
	background-color: #cb37bb;
}

.main-nav li.events a:after {
	background-color: #258fd9;
}

.main-nav li.specials a:after {
	background-color: #73359b;
}

.main-nav li.discounts a:after {
	background-color: #e5e314;
}

.main-nav li:hover {
	position: static;
}

.main-nav li:hover a:after {
	height: 100%;
}

.main-nav li.dark:hover a {
	color: #2d2d2d;
}

.drop-menu {
	display: none;
	position: absolute;
	left: 0;
	top: 50px;
	width: 100%;
}

.has-drop:hover .drop-menu {
	display: block;
	z-index: 2;
	background-color: #fff;
}

.drop-menu ul {
	list-style: none;
	padding: 0px;
	margin: 0;
	position: relative;
}

.drop-menu ul li {
	margin: 0px;
	padding: 0px;
}

.drop-menu li {
	margin: 0;
	position: static;
}

.drop-sub-menu {
	background-color: inherit;
	color: inherit;
}

.drop-sub-menu a {
	position: static;
}

.drop-item-wrap {
	width: 100%;
	display: block;
	overflow-x: scroll;
}

.drop-item-menu {
	background-color: #fff;
}

.drop-item-menu li {
	width: 200px;
	display: block;
}

.drop-item-menu li a {
	padding: 20px 10px;
}

.drop-item-menu li a:after {
	content: none;
}

.drop-item-menu img {
	width: 100%;
	display: block;
	margin-bottom: 15px;
}

.drop-item-menu p {
	text-transform: none;
	margin: 0;
}

.drop-item-menu p.title {
	font-size: 16px;
	line-height: 1.2;
	font-weight: 500;
}

.drop-item-menu strong {
	color: #ff6600;
	font-size: 12px;
	font-size: 12rem;
}

.sub-nav {
	float: right;
}

.sub-nav .btn {
	padding-left: 25px;
	padding-right: 25px;
}

.sub-nav .state-change,
.sub-nav .weather {
	text-transform: uppercase;
	font-weight: bold;
	padding: 17px 10px;
}

.sub-nav .btn.rac {
	height: 50px;
	padding: 0;
}

.sub-nav .icn-discount-mini {
	margin: 0 auto;
	display: block;
	position: relative;
	top: 13px;
}

.sub-nav .state-change {
	color: #7a7a7a;
	padding-right: 57px;
	font-size: 11px;
	font-size: 11rem;
}

.sub-nav .styled {
	border: 0;
	padding: 0;
	font-size: 12px;
	font-size: 12rem;
	line-height: 1;
	color: #fff;
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	margin: 0;
	border-radius: 0;
	line-height: 50px;
}

.sub-nav .styled:after {
	top: 50%;
	right: 10px;
	margin-top: -2px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(236, 96, 3, 0);
	border-top-color: #ec6003;
	border-width: 4px;
	margin-left: -4px;
}

.sub-nav div.styled select {
	width: 175%;
	padding: 0;
}

.sub-nav .weather {
	color: #fff;
	border-left: 1px solid #3e3e3e;
	padding: 17px 20px;
}

.sub-nav .weather {
	padding-left: 40px;
}

.weather:before {
	font-family: 'icons';
	font-weight: normal;
	display: inline-block;
	margin-right: 10px;
}

.weather-slightlyCloudy:before {
	content: '\f127';
	font-size: 15px;
	font-size: 15rem;
	font-size: 15rem;
	position: absolute;
	left: 15px;
	top: 15px;
}

.footer-cta {
	background-color: #1a1a1a;
	padding: 12px 14px;
	margin: 0;
}

.footer-cta .btn.fancy-orange {
	color: #fff;
	padding: 14px 40px;
	font-weight: normal;
	position: relative;
	font-size: 16px;
	font-size: 16rem;
}

.footer-cta .btn.fancy-orange:before {
	font-family: 'icons';
	content: '\f114';
	position: absolute;
	left: 15px;
	font-weight: normal;
}

.footer-cta .btn.fancy-orange:after {
	font-family: 'icons';
	content: '\f107';
	position: absolute;
	right: 15px;
	font-weight: normal;
	color: #fff;
}

footer {
	border-top: 2px solid #ff9016;
	background-color: #2c2c2c;
	font-size: 12px;
	font-size: 12rem;
	color: #fff;
	padding: 40px 65px;
}

footer p {
	margin: 0;
}

footer a {
	color: #fff;
}

footer .credits,
footer .credits a {
	color: #989898;
}

footer .credits strong {
	color: #c6c6c6;
	font-weight: normal;
}

footer a:hover,
footer .credits a:hover,
footer .credits strong:hover {
	color: #ff6600;
}

footer .copyright a {
	margin-right: 30px;
}

footer .copyright a:last-child {
	margin-right: 0;
}

footer .credits {
	width: 100%;
	display: block;
	clear: both;
	padding-top: 60px;
}

footer .copyright {
	float: left;
}

footer .humaan {
	float: right;
}

footer nav {
	float: left;
	width: 25%;
}

footer nav a {
	padding: 11px 0;
	display: block;
}

footer .icn {
	position: absolute;
	left: 0;
	top: 0;
}

footer .top-row {
	position: relative;
	padding-left: 170px;
	padding-right: 50%;
}

footer .leadins {
	width: 20%;
	position: absolute;
	right: 0;
	top: 0;
}

footer .leadins p {
	margin-bottom: 10px;
	padding-top: 10px;
}

footer .leadins a {
	margin-bottom: 20px;
	display: block;
	color: #fff;
}

footer .leadins strong {
	font-size: 14px;
	font-size: 14rem;
}

footer .sponsors {
	width: 28%;
	position: absolute;
	left: 50%;
	top: 0;
	text-align: center;
}

footer .sponsors img {
	display: inline-block;
	border-radius: 2px;
	border: 1px solid #424242;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	background: #fff;
	font-family: "Open Sans", sans-serif, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-size: 14rem;
	line-height: 1.5;
	color: #333;
}

.page-container {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.outer-container {
	background-color: #fff;
	width: 100%;
	position: relative;
	left: 0;
	z-index: 2;
	transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1);
}

.container {
	margin: 0 auto;
}

.hidden {
	display: none;
}

nav ul {
	list-style: none;
	padding: 0px;
	margin: 0;
}

nav ul li {
	margin: 0px;
	padding: 0px;
}

nav li {
	margin: 0;
}

.column-2 {
	width: 100%;
	display: block;
}

.column-2 .col {
	float: left;
	width: 50%;
}

.max-width-narrow {
	max-width: 1015px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
}

.hero h1 {
	font-size: 36px;
	font-size: 36rem;
	font-weight: 100;
	line-height: 1.4;
	margin: 0;
}

.hero.grid {
	width: 100%;
	display: block;
	padding-left: 50%;
	position: relative;
}

.hero.grid article {
	width: 50%;
	min-height: 180px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	float: left;
	background-color: #353535;
	position: relative;
	color: #fff;
	font-size: 12px;
	background-size: cover;
	-ms-behavior: url(http://localhost/ozeating/public/assets/backgroundsize.min.htc);
	background-repeat: no-repeat;
	background-position: center center;
	color: #fff;
}

.hero.grid article:before {
	position: absolute;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 11px;
	z-index: 2;
}

.hero.grid article:after {
	content: ' ';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	display: block;
	background: url(http://localhost/ozeating/public/assets/img/front/pixel-transparent-35.png) repeat center center;
	background: rgba(0, 0, 0, 0.35);
	z-index: 1;
}

.hero.grid a {
	color: #fff;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.hero.grid .large {
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 100%;
	border-left: 0;
	font-size: 14px;
}

.hero.grid .text {
	position: absolute;
	left: 20px;
	bottom: 20px;
	z-index: 2;
}

.hero.grid .large .text {
	left: 28px;
	bottom: 25px;
}

.large article:before {
	left: 25px;
	top: 25px;
	padding: 10px 15px;
}

article:before {
	left: 25px;
	top: 25px;
	padding: 6px 8px;
}

article.event:before {
	content: 'Event';
	background-color: #258fd9;
}

article.feature:before {
	content: 'Feature';
	background-color: #cb37bb;
}

article.review:before {
	content: 'Review';
	background-color: #79cb37;
}

.hero.inner {
	position: relative;
	width: 100%;
	height: 320px;
	display: block;
	background-size: cover;
	-ms-behavior: url(http://localhost/ozeating/public/assets/backgroundsize.min.htc);
	background-position: center center;
	background-repeat: no-repeat;
	color: #fff;
}

.hero.inner:after {
	content: ' ';
	width: 100%;
	height: 150px;
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	z-index: 1;
	background: -moz-linear-gradient(top, transparent 0%, black 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, black)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, transparent 0%, black 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, transparent 0%, black 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, transparent 0%, black 100%); /* IE10+ */
	background: linear-gradient(to bottom, transparent 0%, black 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.hero.inner .text {
	position: absolute;
	bottom: 25px;
	left: 0;
	z-index: 2;
	width: 100%;
	text-align: center;
	font-size: 18px;
	font-size: 18rem;
}

/* Custom CSS */

.author a {
    display: block;
}

.testimonial h3 {
    text-transform: capitalize;
}


/* Custom CSS */

.hero.inner .btn {
	display: inline-block;
	font-size: 13px;
	padding: 7px 15px;
}

.restaurant {
	padding-top: 30px;
	padding-bottom: 50px;
	padding-right: 230px;
	font-size: 15px;
	font-size: 15rem;
	line-height: 1.6;
	position: relative;
}

.restaurant-info {
	float: left;
	position: relative;
}

.restaurant .logo {
	position: absolute;
	left: 0;
	top: 0;
	width: 240px;
}

.restaurant .text {
	margin-bottom: 30px;
	padding-left: 240px;
}

.restaurant-map {
	width: 240px;
	float: right;
	font-size: 12px;
	font-size: 12rem;
	line-height: 1.6;
	padding-left: 60px;
	color: #2d2d2d;
	position: absolute;
	right: 20px;
	top: 30px;
}

.restaurant-map iframe {
	width: 100%;
	height: 150px;
	margin-bottom: 10px;
}

.restaurant-map p {
	margin: 0;
}

.restaurant-meta {
	list-style: none;
	padding: 0px;
	margin: 0;
	font-size: 12px;
	font-size: 12rem;
	color: #2d2d2d;
}

.restaurant-meta li {
	margin: 0px;
	padding: 0px;
}

.restaurant-meta strong {
	color: #ff6600;
	display: block;
}

.restaurant-meta li {
	float: left;
	width: 150px;
}

.restaurant-meta .rating {
	width: 240px;
	text-align: center;
}

.rating a strong {
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

.rating a:hover strong {
	color: #0e98d1;
}

.rating .star {
	color: #ececec;
	display: inline-block;
	font-size: 20px;
	font-size: 20rem;
}

.rating .star:before {
	content: '\f10e';
	font-family: 'icons';
	display: block;
	line-height: 1;
}

.rating .full {
	color: #ff6600;
}

.rating.small .star {
	font-size: 13px;
	font-size: 13rem;
}

.restaurant-meta p {
	margin: 0;
}

.restaurant-meta a {
	color: #353535;
}

.restaurant-meta a:hover {
	color: #ff6600;
}

.module .title {
	font-size: 14px;
	font-size: 14rem;
}

.module-row {
	position: relative;
}

.module-row:before {
	left: 50%;
	width: 1px;
	height: 100%;
	top: 0;
	background-color: #e5e5e5;
}

.modules .column-2 .col:first-child {
	padding-right: 40px;
}

.modules .column-2 .col:last-child {
	padding-left: 40px;
	border-left: 1px solid #e5e5e5;
}

.modules .border-bottom {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.module-contact .btn-wrap p,
.module-contact .btn-wrap a {
	float: left;
	line-height: 33px;
}

.module-contact .btn-wrap a {
	margin-left: 20px;
	font-weight: bold;
}

.module-contact .btn {
	float: right;
}

.module-contact .col-count-2 .field {
	float: left;
	width: 50%;
}

.module-contact .col1 {
	padding-right: 5px;
}

.module-contact .col2 {
	padding-left: 5px;
}

.module-contact input,
.module-contact textarea {
	padding: 5px 10px;
}

.module-list {
	text-align: center;
}

.module-list .title {
	font-size: 14px;
	font-size: 14rem;
	font-weight: bold;
}

.module-list .list {
	margin-right: 3%;
	width: 30%;
	display: inline-block;
	text-align: left;
	vertical-align: top !important;
	margin-bottom: 40px;
}

.module-list ul {
	list-style: none;
	padding: 0px;
	margin: 0;
	border: 1px solid #e5e5e5;
}

.module-list ul li {
	margin: 0px;
	padding: 0px;
}

.module-list li {
	margin-bottom: 0;
	border-bottom: 1px solid #e5e5e5;
}

.module-list li:last-child {
	border-bottom: 0;
}

ul.items-4 li,
ul.items-5 li,
ul.items-6 li,
ul.items-7 li {
	line-height: 1.6;
}

ul.items-4 li {
	padding: 25.85px 20px;
}

ul.items-5 li {
	padding: 18.38px 20px;
}

ul.items-6 li {
	padding: 13.38px 20px;
}

ul.items-7 li {
	padding: 9.9px 20px;
}

ul.items-8 li {
	padding: 8.7px 20px;
	line-height: 1.4;
}

ul.items-9 li {
	padding: 7.1px 20px;
	line-height: 1.3;
}

ul.items-10 li {
	padding: 5.45px 20px;
	line-height: 1.3;
}

.long ul.items-10 li {
	padding: 11.95px 20px;
}

.ad-holder {
	font-size: 13px;
	font-size: 13rem;
	text-align: center;
	padding: 60px 0;
}

.ad-holder a {
	text-decoration: underline;
}

.ad-holder img {
	display: block;
}

.ad {
	margin-bottom: 20px;
	display: block;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {

.icn {
	background-image: url('http://localhost/ozeating/public/assets/img/front/sprites@2x.png');
	background-size: 960px 960px;
}

/* Seperate icons to swap out */

}

@media only screen and (max-width: 972px) {

.ad-holder img {
	width: 100%;
	display: block;
}

}

@media only screen and (max-width: 960px) {

header {
	padding-left: 140px;
	padding-right: 220px;
}

header .icn-logo {
	width: 100px;
}

header .discount-leadin {
	background-size: 650px 650px;
	background-position: 0px -85px;
	width: 180px;
}

footer {
	padding: 40px 25px;
}

footer .top-row {
	padding-left: 140px;
	padding-right: 275px;
	padding-bottom: 400px;
}

footer .leadins {
	width: 250px;
}

footer nav {
	width: 25%;
}

footer .sponsors {
	width: 100%;
	top: 250px;
	left: 0;
	position: absolute;
}

footer .credits {
	padding-top: 0;
}

.restaurant {
	padding-right: 20px;
}

.restaurant-map {
	position: static;
	width: 100%;
	padding-left: 0;
	padding-top: 40px;
}

.restaurant-map iframe {
	height: 300px;
}

.restaurant-map p br {
	display: none;
}

.restaurant-meta li,
.restaurant-meta .rating {
	margin-bottom: 10px;
	width: 25%;
	text-align: left;
}

}

@media only screen and (max-width: 768px) {

.mob-vis-md {
	display: block;
}

.mob-hid-md {
	display: none;
}

.is-mobOpen .outer-container {
	left: -250px;
}

.breadcrumbs-bar .breadcrumbs,
.breadcrumbs-bar .social {
	float: none;
	display: block;
	width: 100%;
}

.breadcrumbs-bar .social li {
	margin-left: 0;
	margin-right: 10px;
}

.breadcrumbs-bar .breadcrumbs {
	margin-bottom: 10px;
}

.hasSidebar {
	padding-right: 0;
	padding-top: 80px;
}

.sidebarNav {
	top: 20px;
	right: auto;
	left: 0;
	width: 100%;
	border: 1px solid #e5e5e5;
	background-color: #fff;
}

.sidebarNav ul {
	padding-top: 41px;
}

.sidebarNav li {
	display: none;
	margin: 0;
}

.sidebarNav:hover li {
	display: block;
}

.sidebarNav li.active {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.sidebarNav a {
	display: block;
	padding: 10px 20px;
}

.sidebarNav .title {
	padding: 10px 20px;
}

.gallery-slider .prev,
.gallery-slider .next {
	width: 60px;
}

.gallery-slider .prev:after,
.gallery-slider .next:after {
	font-size: 30px;
	font-size: 30rem;
	margin-top: -22.5px;
}

header .discount-leadin {
	display: none;
}

header {
	padding-right: 0;
}

form.search {
	margin: 0;
	padding: 0;
	max-width: none;
	position: absolute;
	top: 180px;
	left: 0;
	padding: 10px;
	width: 100%;
	background-color: #1a1a1a;
}

form.search input {
	padding-top: 7px;
	padding-bottom: 7px;
}

form.search button {
	right: 10px;
}

.nav-bar {
	margin-bottom: 55px;
}

.sub-nav {
	width: 100%;
}

.sub-nav li {
	width: 33.3%;
	float: left;
}

footer {
	padding: 0;
}

footer .top-row {
	padding: 12px 14px;
}

footer .leadins {
	float: none;
	width: 100%;
	border-bottom: 1px solid #3d3d3d;
	position: static;
	margin-bottom: 30px;
	padding-bottom: 20px;
}

footer .icn {
	position: absolute;
	left: 0;
	width: 60px;
	height: 60px;
	background-size: 520px;
	background-position: -173px 0;
}

footer nav {
	width: 50%;
	float: left;
}

footer nav a {
	padding-top: 0;
}

.mob-nav {
	padding-left: 100px;
	position: relative;
}

footer .credits {
	padding: 35px 15px;
}

.column-2 .col {
	float: none;
	width: 100%;
}

.restaurant .logo {
	width: 150px;
	margin: 0 auto;
	position: static;
	margin-bottom: 20px;
}

.restaurant .logo img {
	width: 100%;
}

.restaurant .text {
	padding-left: 0;
}

.restaurant .text {
	padding-left: 0;
}

.restaurant-meta {
	width: 100%;
}

.restaurant-meta li,
.restaurant-meta .rating {
	width: 50%;
	float: left;
}

.restaurant-meta li:nth-child(2n+1) {
	clear: left;
}

.modules .border-bottom {
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.modules .column-2 .col:last-child {
	padding-left: 0;
	border: 0;
}

.modules .column-2 .col:first-child {
	padding-right: 0;
}

.module-list .list {
	width: 45%;
	margin-right: 2.5%;
	margin-left: 2.5%;
	float: left;
	display: block;
}

.module-list .list:nth-child(2n+1) {
	clear: left;
}

}

@media only screen and (max-width: 480px) {

.mob-vis-sm {
	display: block;
}

.mob-hid-sm {
	display: none;
}

.btn {
	display: block;
	width: 100%;
	text-align: center;
}

.btn.envelope {
	padding: 10px 50px 10px 20px;
}

.btn.envelope:after {
	right: 20px;
	top: 13px;
}

.filter-bar .title {
	display: block;
	text-align: center;
	width: 100%;
}

.testimonials {
	padding: 30px 0;
}

.testimonial {
	padding: 20px;
}

.testimonial .rating {
	float: none;
	text-align: center;
	display: block;
}

.testimonials h2 {
	font-size: 24px;
	font-size: 24rem;
}

.testimonial p.title {
	font-size: 13px;
	font-size: 13rem;
}

.testimonial-slider .author p {
	display: block;
	width: 100%;
	float: none;
}

.testimonial-slider .preview {
	margin-right: 10px;
	margin-left: 0;
}

.testimonial-controls,
.testimonial-controls-wrap p {
	float: none;
	width: 100%;
}

.testimonial-controls {
	margin-bottom: 20px;
}

header {
	padding-left: 110px;
	height: 90px;
}

header .icn-logo {
	top: 10px;
	left: 10px;
	width: 70px;
	height: 70px;
	background-size: 660px;
}

form.search {
	top: 140px;
}

.hero h1 {
	font-size: 28px;
	font-size: 28rem;
}

.hero.inner .text {
	font-size: 14px;
	font-size: 14rem;
}

.hero.inner .btn {
	width: auto;
	display: inline-block;
	padding: 10px 20px;
}

.ad-holder {
	display: none;
}

.restaurant-map {
	padding-top: 20px;
}

.module-list .list {
	width: 100%;
	margin-right: 0;
	margin-left: 0;
	float: none;
}

.module-contact .btn-wrap p {
	margin-bottom: 0;
}

.module-contact .btn-wrap a {
	margin-bottom: 20px;
}

.module-contact .btn-wrap p,
.module-contact .btn-wrap a {
	display: block;
	float: none;
	text-align: center;
}

.module-contact .col-count-2 .field {
	width: 100%;
	float: none;
	padding: 0;
}

}

/* Custom CSS */


.opt_bg {background-color:#FF7C2E;}
.dis_none{display: none;}

/* Custom CSS */

