.fl{
	float: left;
}
.fr{
	float: right;
}
.hand
{
    cursor:pointer;
}
.hide
{
    display:none;
}
.show
{
    display:block;
}

.nomodal{position:relative !important;z-index: 0;}

.lbl{
	margin-right: -2px;
}
.CI-SI{

}
.CI-SI-ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.CI-SI-ui li{
	list-style: none;
	padding: 0px;
	
}
.CI-SI-horiz{
	margin-right: 5px;
}
.CI-SI-vert{
	clear: both;
	border-bottom: 1px solid #CFC2C2;
}
.CI-SI-horiz-full{
	margin-bottom: 5px;
	border-bottom: none;
}
.CI-SI-services{
	float: left;
	color: white;
	font-size: 15px;
	font-family: Arial;
	display: table;
	height: 50px;
	overflow: hidden;
	cursor: pointer;
	padding-top: 0px;
}
.CI-SI-services-rev{
	float: right !important;
}
.CI-SI-text-nolines{
	display: none !important;
}
.CI-SI-text-lines{
	display: table-cell !important;
}
.CI-SI-text{
	padding-right: 10px;
	vertical-align: middle;
}
.CI-SI-text-rev{
	padding-right: 0px !important;
	padding-left: 20px !important;
}
.CI-SI-text-line1
{
    line-height: 18px;
}
.CI-SI-text-line2{
	font-size: 11px;
	color: #000;
	margin-top: 0px;
	line-height: 18px;
}
.CI-SI-i{
	width: 30px;
    float: left;
    height: 35px;
    margin: 10px;
    margin-left: 15px;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-position: 0px 3px;
}
.CI-SI-circle{
	height: 62px;
	border-radius: 500px;
	padding-top: 5px;
}
.CI-SI-gmail{
	background-color: #D54141;
}
.CI-SI-gmail:hover{
	background-color: #F14848;
}
.CI-SI-i-gmail{
	background-image: url(//socialinviter.com/assets/img/pluginimg/gmail_icon.png);
}
.CI-SI-yahoo{
	background-color: #BA1FE0;
}
.CI-SI-yahoo:hover{
	background-color: #D558F3;
}
.CI-SI-i-yahoo{
	background-image: url(//socialinviter.com/assets/img/pluginimg/yahoo_icon.png);
}
.CI-SI-hotmail{
	background-color: #E06C1F;
}
.CI-SI-hotmail:hover{
	background-color: #F67A27;
}
.CI-SI-i-hotmail{
	background-image: url(//socialinviter.com/assets/img/pluginimg/hotmail_icon.png);
}
.CI-SI-outlook{
	background-color: #DFB81F;
}
.CI-SI-outlook:hover{
	background-color: #F3C512;
}
.CI-SI-i-outlook{
	background-image: url(//socialinviter.com/assets/img/pluginimg/outlook_icon.png);
}
.CI-SI-facebook{
	background-color: #5B73D3;
}
.CI-SI-facebook:hover{
	background-color: #8EA0E9;
}
.CI-SI-i-facebook{
	background-image: url(//socialinviter.com/assets/img/pluginimg/facebook_icon.png);
}
.CI-SI-linkedin{
	background-color: #1F7CE0;
}
.CI-SI-linkedin:hover{
	background-color: #2D92FF;
}
.CI-SI-i-linkedin{
	background-image: url(//socialinviter.com/assets/img/pluginimg/linkedin_icon.png);
}
.CI-SI-email{
	background-color: #234FAD;
}
.CI-SI-email:hover{
	background-color: #3068DF;
}
.CI-SI-i-email{
	background-image: url(//socialinviter.com/assets/img/pluginimg/email_icon.png);
}



/* step 2 */
.steptwodisable
{
    background-color: #B3CCF1 !important;
    color: #B1B1B1 !important;
    cursor: default !important;
}
.CI-list-container{width: 750px;margin: 0 auto;border: 1px solid #eee;padding: 10px;float:left;}
.CI-list-container-header
{
    border-bottom: 1px solid #eee;
	height: 30px;
	margin-bottom: 15px;
	clear: both;
}
.CI-list-container-header-title{
	color: #39c;
	float: left;
	font-size: 17px;
}
.CI-list-container-status{
	margin-bottom: 25px;
	margin-top: 25px;
	clear: both;
}
.CI-contact-Panel{
	float: left;
	clear: both;
	width: 728px;
	border: 1px solid #eee;
	margin-left: 10px;
	/*height: 328px;*/
	padding-top:8px;
	padding-bottom:8px;
}
.CI-Contact-search
{
    padding-right: 8px;
    border-right: 1px solid #CABFBF;
    height: 20px;
    margin-right: 8px;
    line-height: 20px;
    margin-top: 5px;
}
.highlightmyselect
{
    border-color:#70AD97 !important;
}
#autosuggestname
{
    margin:0px;
    padding:0px;    
}
#autosuggestname li {
    list-style: none;
    padding: 0px;
    border-bottom: 1px solid #eee;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
}
#autosuggestholder{
    position: absolute;
    background-color: white;
    width: 198px;
    border-left: 1px solid #eee;
    padding: 10px;
    padding-top: 0px;
    /*margin-top: -9px;*/
    border-radius: 5px;
    height: 175px;
    overflow-y: auto;
    overflow-x: hidden;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.CI-Contact-search #txtsearchname
{
    /*height:12px !important;*/
    color: gray;
    font-size: 12px;
    width: 220px;
    height: 22px;
    padding-left:3px;
    border: 1px solid #DDD;
}
.CI-contact-Panel-header{
	background-image: url(//socialinviter.com/assets/img/sicon/contacthdrbg.png);
	background-repeat: repeat-x;
	height: 40px;
	line-height: 33px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top:-8px;
}
.CI-contact-Panel-body{
	float: left;
	height: 280px;
	width: 728px;
	overflow-y: auto;
}
.CI-chkselall{
	margin-top: 6px;
	float: left;
	margin-right: 5px;
	line-height: 0px;
}
.CI-chkselall-label{
	/*margin-top: 6px;*/
	float: left;
}
.CI-chkselall input{
	cursor: pointer;
}
.CI-contact-ul-list{
	margin:0px;
	padding: 0px;
	margin-left: 5px;
}
.CI-contact-ul-li-list{
	list-style: none;
	padding: 0px;
	float: left;
	width: 342px;
	background-color: #eee;
	border-radius:5px;
}
.CI-contacts-def
{
    margin-left: 3px;
    margin-right: 0px;
    margin-bottom: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid #fff;
}
.CI-contacts-moredet
{
    border: 2px solid #C5CCDF !important;
    border-bottom: none !important;
    margin-bottom: 6px;
    margin-right:1px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 344px;
}
.CI-li-moredet
{
    border: 2px solid #fff !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 6px !important;
    padding-bottom: 0px !important;
    border-bottom: none !important;
    width: 340px;
}
.CI-contact-photo{
	border-radius: 500px;
	border:3px solid #FFF;
	width: 70px;
	height: 70px;
}
.CI-contact-photo-holder{
	border-radius: 500px;
	border:1px solid #E4E0E0;
}
.CI-contact-more
{
    position: absolute;
    bottom: -5px;
    right: -232px;
    cursor: pointer;
    width: 16px;
    text-align: right;
    height: 10px;
}
.CI-contact-more .more-text
{
    font-size: 11px;
    float: right;
    margin-top: -5px;
    margin-left: 2px;
}
.CI-contact-more img
{
    left:0px;
    position: absolute;
}
.more-holder
{
    position:relative;
}
.CI-contact-more-details
{
    display:none;
    position: absolute;
    width: 344px;
    height: 180px;
    left: -327px;
    top: 5px;
    background-color: #eee;
    text-align:left;
    overflow-y:auto;
    word-break: break-word;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1;
    border-bottom: 1px solid #B9B8B8;
    font-size:11px;
}
.CI-contact-more-details ul
{
    padding: 0px;
    margin-left: 5px;
    margin-bottom: 7px;
    height: 170px;
    width: 335px;
    overflow-y: auto;
}
.CI-contact-more-details ul li
{
    list-style:none;
    clear:both;
    padding-top:5px;
    float:left;
}
.CI-contact-more-details .leftpnl
{
    width: 90px;
    float:left;
}
.addr_i_CI{
    background-position: 0px;
}
.email_i_CI{
    background-position: -48px 1px;
}
.phone_i_CI{
    background-position: -70px 2px;
    width: 18px !important;
    margin-right: 5px;
}
.birthday_i_CI{
    background-position: -24px 1px;
}
.notes_i_CI{
    background-position: -104px 1px;
}
.website_i_CI{
    background-position: -87px 1px;
    width: 20px !important;
    margin-right: 3px;
}
.CI-i
{
    background-image: url(//socialinviter.com/assets/img/icons/abicons.png);
    background-repeat: no-repeat;
    height: 16px;
    width: 23px;
    float: left;
}

.CI-contact-more-details .leftpnl span
{
    float:left;
}
.CI-contact-more-details .rightpnl
{
    width: 215px;
    padding-left: 10px;
    float:right;
}
.na
{
    color: #ACACAC;
}
.details-CI-panel
{
    border: 2px solid #fff;
    border-top: 0px;
}
.break
{
    clear:both;
}
.CI-contact-selectbox{
	width: 30px;
	float: left;
	height: 55px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	margin-top: 25px;
}
.CI-contact-namesection{
	float: left;
	padding-left: 10px;
}
.CI-contactPanel-title,.CI-contactPanel-email{
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 215px;
}
.CI-list-container-footer{
	margin-top: 8px;
	float: left;
	clear: both;
	width: 99%;
}
.CI-list-container-proceed{
	float: right;
	line-height: 20px;
	background-color: #1C70EC;
	padding: 8px;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}
.CI-list-container-proceed:hover{
	background-color: #5092F3;
}
.CI-contact-refresh-holder{
	margin-top: 8px;
	float: left;
}
.CI-contact-refresh{
	text-decoration: none !important;
	margin-left: 12px;
}
.CI-email-text
{
    border: none !important;
    height: 30px;
    margin-top: -8px;
    margin-bottom: -3px;
    width: 475px;
    box-shadow: none !important;
    margin-bottom: -1px;
}
.CI-email-note
{
    font-size: 11px;
    margin-bottom: -10px;
    color: #BEBCBC;
    padding-bottom:5px;
    clear:both;
}


/*  Mailing template  */

.mailing-wrapper{
  width: 750px;
  border: 1px solid #eee;
  padding: 10px;
  float: left;
  margin-left: 5px;
}
.mailing-wrapper-header{
  background-image: url(//socialinviter.com/assets/img/sicon/contacthdrbg.png);
  background-repeat: repeat-x;
  height: 40px;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  color: black;
  font-weight: bold;
}
.mailing-row{
  clear: both;
  padding-top: 15px;
}
.mailing-subject{
  width: 500px;
}
.mailing-label{
  width: 90px;
  text-align: right;
  padding-right: 15px;
  line-height: 35px;
  float: left;
}
.to-contacts{
  border: 1px solid #cccccc;
  color: #555;
  border-radius: 4px;
  float: left;
  padding: 5px;
  width: 488px;
  max-height: 60px;
  overflow-y: auto;
  padding-top:10px;
  min-height: 17px;
}

.to-contacts-ul{
  margin: 0px;
  padding: 0px;
  float:left;
}
.to-contacts-ul-li{
  margin: 0px;
  list-style: none;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}
.selected-email{
  background-color: #eee;
  border: 1px solid #DDD2D2;
  text-shadow: 1px 1px 2px #eee;
  float: left;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 20px;
}
.selected-email .text-email{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 225px;
  float: left;
}
.selected-email .remove-email{
  font-weight: bold;
  color: #B4B4B4;
  font-size: 11px;
  cursor: pointer;
  float: left;
  padding-left: 5px;
}
.mailing-message{
  width: 500px;
  height: 200px;
}
.mailing-footer-holder{
  padding-top: 25px;
  clear: both;
}
.mailing-footer{
  clear: both;
  padding-top: 15px;
  margin: 0 auto;
  width: 650px;
  border-top: 1px solid #eee;
}
.autosuggest-nores
{
    height: 20px !important;
    font-size: 11px;
    color: gray;
    padding-top: 5px;
}
#txtrecipients,#txtrecipients:focus
{
    border:0px;
    outline: none;
    margin-bottom: 5px;
    float:left;
    box-shadow:none;
}
.send-button-mailing{
  margin-left: 55px;
  margin-top: -30px;
  float: left !important;
}
.error-form
{
    color: #B90C0C;
    font-size: 12px;
    text-align: left;
    display:none;
}
.CI-list-container-back{
  float: left;
  line-height: 20px;
  background-color: #BDBDBD;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  color: #746F6F;
  border-radius: 5px;
  cursor: pointer;
}
.txtbx{
	background-color: #ffffff;
	border: 1px solid #cccccc;
	height: 35px;
	padding: 4px 6px;
	margin-bottom: 2px;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
	vertical-align: middle;
	border-radius: 4px;
}
.txtarea{
	background-color: #ffffff;
	border: 1px solid #cccccc;
	padding: 4px 6px;
	margin-bottom: 2px;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
	vertical-align: middle;
	border-radius: 4px;
}
.erricon{margin-bottom: -10px;margin-right: 5px;}

/* --------------------------- Modal -------------------------*/
.modal-SI-CI-BG{display:none;width: 100%;height: 100%;position: fixed;background-color: #333;top: 0px;left: 0px;z-index: 999;margin: 0 auto;text-align: center;color: white;opacity: 0.9;}
.modal-SI-CI{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;padding-bottom: 10px;color: #5a5a5a;font-size: 14px;line-height: 20px;}
.modal-SI-CI{display:none;position: fixed;z-index: 9999;text-align: center;top: 0px;width: 100%;height: 100%;}
.modal-SI-CI .modal-SI-holder{width: 800px;height: 550px;margin: 0 auto;background-color: white;border-radius: 5px;margin-top: 40px;color: black;opacity: 1;}
.modal-SI-CI .modal-SI-header{height: 35px;width: 100%;background-color: #eee;border-top-right-radius: 5px;border-top-left-radius: 5px;}
.modal-SI-CI .modal-SI-title{float:left;line-height: 35px;padding-left: 10px;font-size: 18px;color: #474545;font-weight: bold;width: 85%}
.modal-SI-CI .modal-SI-close{float:right;line-height: 35px;padding-right: 10px;cursor: pointer;}
.modal-SI-CI .modal-SI-body{padding: 10px;text-align: left;height: 82%;}
.modal-SI-CI .modal-SI-close img{margin-top: 10px;}
.modal-SI-CI .modal-SI-small{height: 280px !important;}
.modal-SI-CI .modal-SI-title-icon{width: 28px;margin-top: 3px;}
.modal-SI-CI .title-modal-text{float: left;padding-left: 5px;}
.modal-SI-CI .erricn{top: 10px;position: relative;padding-right: 5px;}
.modal-SI-CI .CI-loading{text-align: center;margin-top: 80px;}
.modal-SI-CI .model-err-msg{clear: both;background-color: #eee;margin: 20px 80px 20px;padding: 10px;color: #E65C8D;}
.loading{padding: 0px;margin: 0 auto;font-size: 13px;font-family: Arial;font-weight: bold;margin-top: 200px;text-align: center;line-height: 20px;}
.modal-SI-CI .modal-message-holder{float: left;position: relative;width: 100%;height: 1px;clear:both;}
.modal-SI-CI .modal-message{display:none;width: 100%;position: absolute;text-align: center;margin-top: -10px;margin-left: -11px;padding-left: 11px;padding-right: 11px;padding-top: 10px;padding-bottom: 10px;color: white;}
.modal-SI-CI .modal-message-error{background-color: #DF4848;}
.modal-SI-CI .modal-message-success{background-color: #74C961;}
/* ---------------------------- File Upload -------------------------*/
.file-SI-upload
  	{
  	    width:650px;
  	    float:left;
  	    margin-left:50px;
  	}
  	.file-SI-upload-left
  	{
  	    margin-top:50px;
  	    margin-bottom: 15px;
  	}
  	.upload-SI-label
  	{
  	    padding-right: 10px;
        line-height: 30px;
  	}
  	.upload-SI-control
  	{
  	    border: 1px solid #eee;
        padding: 2px 5px 2px;
        background-color: #F8F8F8;
        border-radius: 5px;
        float:left;
    }
    .upload-SI-button-holder
    {
        padding-left: 160px;
        padding-top: 20px;
        clear:both;
    }
    .upload-SI-button
    {
        background-color: #4444E4;
        color: white;
        border: 1px solid #3454A5;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }
    .upload-SI-button:hover
    {
        background-color:#6868E4;
    }
    .supp-SI-list
    {
        padding:0px;
        margin:0px;
        width: 150px;
        padding-left: 15px;
    }
    .supp-SI-list li
    {
        list-style:none;
        float:left;
        padding-right: 5px;
        padding-bottom: 5px;
    }
    .supp-SI-list li img
    {
        width:40px;
    }
    .supp-SI-lbl
    {
        margin-top: 15px;
        margin-bottom: 4px;
    }
    .upload-SI-loading
    {
        line-height: 70px;
        float:left;
        display:none;
        margin-top:30px;
    }
    .upload-SI-error-panel
    {
        padding-top:5px;
        display:none;
    }
    .CI-SI-shape-circle{border-radius: 5px !important;}.CI-SI-gmail{background-color: #D54141 !important;}.CI-SI-yahoo{background-color: #BA1FE0 !important;}.CI-SI-hotmail{background-color: #E06C1F !important;}.CI-SI-outlook{background-color: #DFB81F !important;}.CI-SI-email{background-color: #234FAD !important;}.CI-SI-gmail:hover{background-color: #F14848 !important;}.CI-SI-yahoo:hover{background-color: #D558F3 !important;}.CI-SI-hotmail:hover{background-color: #F67A27 !important;}.CI-SI-outlook:hover{background-color: #F3C512 !important;}.CI-SI-email:hover{background-color: #3068DF !important;}.CI-SI-Holder .CI-SI-text{padding-right: 10px;}.CI-SI-i{margin-right: 12px;}.modal-SI{position: relative;float:left;}.modal-SI-CI .modal-SI-holder{border: 1px solid #eee;}.modal-SI-CI-BG{display:none;}
    .modal-message-holder.messaguppar { height: auto;}
    .modal-message-holder.messaguppar .modal-message {
  color: #000;
  font-weight: 600;
  padding: 10px 0 10px 19px;
  position: relative;
  text-align: left;
}
.CI-SI-ul {
  text-align: center;
}
.CI-SI-ul-li {
  display: inline-block;
}
.CI-SI-text-line1 {
  line-height: 18px;
  text-align: left;
}