 @import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Ceviche+One|Finger+Paint|Lemonada|Rye|Short+Stack|Slackey|Vast+Shadow');
.count_rs, .sign_up li, .top-hos-main .left-city ul li, .top-hos-main .right-city ul li {
    list-style: none
}

#newsletter_form input[type=submit], #newsletter_form label, .congrat_box h2, .congrat_box > h1, .count_box > h2, .gallery_img h3, .home_challenge_box h1, .login_main_cont h3, .more_link, .nav ul li, .pagetitle h1, .sc_links a, .section, .video_box > h2, .video_img_box h2, footer .foot_title {
    text-transform: uppercase
}

.carousel-inner, .invoice-holder, .overflow {
    overflow: hidden
}

.count_rs .des::after {
    bottom: -20px;
    content: url(../img/des.png);
    position: absolute;
    right: -11px
}

.hotel-gif:after, .login-form .form-group:after, .login-form-request-quotation .form-group:after {
    clear: both;
    content: ''
}

@font-face {
    font-family: FuturaStd-Book;
    src: url(../fonts/futura_std_book/FuturaStd-Book.eot);
    src: url(../fonts/futura_std_book/FuturaStd-Book.eot#iefix) format("embedded-opentype"), url(../fonts/futura_std_book/FuturaStd-Book.woff) format("woff"), url(../fonts/futura_std_book/FuturaStd-Book.ttf) format("truetype"), url(../fonts/futura_std_book/FuturaStd-Book.svg) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: FuturaObl-Normal;
    src: url(../fonts/futura-oblique/FuturaObl-Normal.eot);
    src: url(../fonts/futura-oblique/FuturaObl-Normal.eot#iefix) format("embedded-opentype"), url(../fonts/futura-oblique/FuturaObl-Normal.ttf) format("truetype"), url(../fonts/futura-oblique/FuturaObl-Normal.svg) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: FuturaExtended;
    src: url(../fonts/futura-extended/FuturaExtended.eot);
    src: url(../fonts/futura-extended/FuturaExtended.eot#iefix) format("embedded-opentype"), url(../fonts/futura-extended/FuturaExtended.woff) format("woff"), url(../fonts/futura-extended/FuturaExtended.ttf) format("truetype"), url(../fonts/futura-extended/FuturaExtended.svg) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: FuturaStd-Heavy;
    src: url(../fonts/futurastd-heavy/FuturaStd-Heavy.eot);
    src: url(../fonts/futurastd-heavy/FuturaStd-Heavy.eot#iefix) format("embedded-opentype"), url(../fonts/futurastd-heavy/FuturaStd-Heavy.woff) format("woff"), url(../fonts/futurastd-heavy/FuturaStd-Heavy.ttf) format("truetype"), url(../fonts/futurastd-heavy/FuturaStd-Heavy.svg) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Adelon-Bold;
    src: url(../fonts/adenlon-bold/Adelon-Bold.eot);
    src: url(../fonts/adenlon-bold/Adelon-Bold.eot#iefix) format("embedded-opentype"), url(../fonts/adenlon-bold/Adelon-Bold.woff) format("woff"), url(../fonts/adenlon-bold/Adelon-Bold.ttf) format("truetype"), url(../fonts/adenlon-bold/Adelon-Bold.svg) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Adelon-Medium;
    src: url(../fonts/adenlon-medium/Adelon-Medium.eot);
    src: url(../fonts/adenlon-medium/Adelon-Medium.eot#iefix) format("embedded-opentype"), url(../fonts/adenlon-medium/Adelon-Medium.woff) format("woff"), url(../fonts/adenlon-medium/Adelon-Medium.ttf) format("truetype"), url(../fonts/adenlon-medium/Adelon-Medium.svg) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/OpenSans-Bold/OpenSans-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/OpenSans-Bold/OpenSans-Bold.woff) format('woff'), url(../fonts/OpenSans-Bold/OpenSans-Bold.ttf) format('truetype'), url(../fonts/OpenSans-Bold/OpenSans-Bold.svg#OpenSans-Bold) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans/OpenSans.eot?#iefix) format('embedded-opentype'), url(../fonts/OpenSans/OpenSans.woff) format('woff'), url(../fonts/OpenSans/OpenSans.ttf) format('truetype'), url(../fonts/OpenSans/OpenSans.svg#OpenSans) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: OpenSans-Light;
    src: url(../fonts/OpenSans-Light/OpenSans-Light.eot?#iefix) format('embedded-opentype'), url(../fonts/OpenSans-Light/OpenSans-Light.woff) format('woff'), url(../fonts/OpenSans-Light/OpenSans-Light.ttf) format('truetype'), url(../fonts/OpenSans-Light/OpenSans-Light.svg#OpenSans-Light) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: OpenSans-Semibold;
    src: url(../fonts/OpenSans-Semibold/OpenSans-Semibold.eot?#iefix) format('embedded-opentype'), url(../fonts/OpenSans-Semibold/OpenSans-Semibold.woff) format('woff'), url(../fonts/OpenSans-Semibold/OpenSans-Semibold.ttf) format('truetype'), url(../fonts/OpenSans-Semibold/OpenSans-Semibold.svg#OpenSans-Semibold) format('svg');
    font-weight: 400;
    font-style: normal
}

#req_submitted_filter label {
    width: 492px !important
}

#req_submitted_filter label .form-control.input-small.input-inline {
    width: 433px !important
}

#quotes_filter label {
    width: 492px !important
}

#quotes_filter label .form-control.input-small.input-inline {
    width: 433px !important
}

#confirm_reservation_filter label {
    width: 250px !important
}

#confirm_reservation_filter label .form-control.input-small.input-inline {
    width: 190px !important
}

.clear {
    clear: both
}

a:hover {
    text-decoration: none
}

body {
    background-image: url(../img/home-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    background-color: rgba(0, 0, 0, 0)
}
body.home-bg {
    background-image: url(../img/home-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    background-color: rgba(0, 0, 0, 0)
}

.container {
    max-width: 1000px
}

header {
    background: rgba(255, 255, 255, .7);
    border-bottom: 4px solid rgba(0, 0, 0, .7);
    min-height: 127px;
    padding: 8px 35px
}

.main-logo {
    display: inline-block;
    vertical-align: middle;
    width: 315px
}
.main-logo > img {
    bottom: 9px;
    position: relative;
}
.vis_hidden {
    visibility: hidden
}

.has-success .checkbox, .has-success .checkbox-inline, .has-success .control-label, .has-success .help-block, .has-success .radio, .has-success .radio-inline {
    color: #35aa47
}

.has-success .form-control {
    border-color: #35aa47
}

.form-control {
    border: 2px solid #ccc
}

#newsletter_form label {
    font-weight: 400;
    font-size: 13px;
    font-family: FuturaStd-Book
}

#newsletter_modal .modal-footer {
    padding: 3px;
    margin-top: 0
}

.newsletter_message p {
    padding: 10px;
    margin-bottom: 0
}

#ui-id-1 a {
    font-size: 12px !important
}

#newsletter_form input[type=text] {
    border: 2px solid rgba(0, 0, 0, .1);
    box-shadow: none !important;
    margin: 0 0 4px;
    padding: 4px 10px;
    width: 100%
}

#newsletter_form input[type=submit] {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcxZDFmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQlIiBzdG9wLWNvbG9yPSIjMjJiM2Y0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE5OGZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, #71d1ff 0, #22b3f4 4%, #198fef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #71d1ff), color-stop(4%, #22b3f4), color-stop(100%, #198fef));
    background: -webkit-linear-gradient(top, #71d1ff 0, #22b3f4 4%, #198fef 100%);
    background: -o-linear-gradient(top, #71d1ff 0, #22b3f4 4%, #198fef 100%);
    background: -ms-linear-gradient(top, #71d1ff 0, #22b3f4 4%, #198fef 100%);
    background: linear-gradient(to bottom, #71d1ff 0, #22b3f4 4%, #198fef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71d1ff', endColorstr='#198fef', GradientType=0);
    border: none;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    color: #fff;
    float: right;
    font-family: FuturaStd-Book;
    font-size: 13px;
    margin: 0;
    padding: 5px 15px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .5)
}

#newsletter_form input[type=submit]:hover {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5OGZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk2JSIgc3RvcC1jb2xvcj0iIzIyYjNmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3MWQxZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #198fef 0, #22b3f4 96%, #71d1ff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #198fef), color-stop(96%, #22b3f4), color-stop(100%, #71d1ff));
    background: -webkit-linear-gradient(top, #198fef 0, #22b3f4 96%, #71d1ff 100%);
    background: -o-linear-gradient(top, #198fef 0, #22b3f4 96%, #71d1ff 100%);
    background: -ms-linear-gradient(top, #198fef 0, #22b3f4 96%, #71d1ff 100%);
    background: linear-gradient(to bottom, #198fef 0, #22b3f4 96%, #71d1ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#198fef', endColorstr='#71d1ff', GradientType=0)
}

.margin-top-0 {
    margin-top: 0 !important
}

.margin-top-10 {
    margin-top: 10px !important
}

.margin-top-12 {
    margin-top: 12px !important
}

.margin-top-15 {
    margin-top: 15px !important
}

.margin-top-20 {
    margin-top: 20px !important
}

.margin-top-40 {
    margin-top: 40px !important
}

.margin-bottom-0 {
    margin-bottom: 0 !important
}

.margin-bottom-10 {
    margin-bottom: 10px !important
}

.margin-bottom-12 {
    margin-bottom: 12px !important
}

.margin-bottom-15 {
    margin-bottom: 15px !important
}

.margin-bottom-20 {
    margin-bottom: 20px !important
}

.margin-36-0-0-0 {
    margin: 36px 0 0 !important
}

.padding-3 {
    padding: 3px !important
}

.padding-10 {
    padding: 0 !important
}

.padding-7-20 {
    padding: 7px 20px !important
}

.padding-left-right-20 {
    padding: 0 20px !important
}

.padding-10-0-0-8 {
    padding: 10px 0 0 8px !important
}

.padding-8-0-0-0 {
    padding: 8px 0 0 !important
}

.padding-0-15 {
    padding: 0 15px !important
}

.padding-5-35 {
    padding: 5px 35px
}

.width-80-percent {
    width: 80% !important
}

.display_off {
    display: none
}

.text-align-center {
    text-align: center !important
}

.text-align-left {
    text-align: left !important
}

.text-align-right {
    text-align: right !important
}

.call_link {
    background: url(../img/call_icon.png) left center no-repeat rgba(0, 0, 0, 0);
    color: #0a4f9f;
    font-family: FuturaExtended;
    font-size: 28px;
    padding: 0 0 0 35px;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, .2)
}

.pages_links .main_links {
    color: #000;
    font-family: FuturaStd-Book;
    font-size: 16px;
    margin: 8px 14px 0 0;
    display: inline-block
}
.pages_links .main_links.newmargin-links {
    color: #000;
    font-family: FuturaStd-Book;
    font-size: 16px;
    margin: 8px 11px 0 0;
    display: inline-block
}

.default_btn, .pages_links .main_links.login_link {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    color: #fff;
    font-family: FuturaStd-Book;
    font-size: 16px;
    padding: 4px 8px
}

.pages_links .main_links.login_link {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcxZDFmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQlIiBzdG9wLWNvbG9yPSIjMjJiM2Y0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE5OGZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, #71d1ff 0, #22b3f4 4%, #198fef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #71d1ff), color-stop(4%, #22b3f4), color-stop(100%, #198fef));
    background: -webkit-linear-gradient(top, #71d1ff 0, #22b3f4 4%, #198fef 100%);
    background: -o-linear-gradient(top, #71d1ff 0, #22b3f4 4%, #198fef 100%);
    background: -ms-linear-gradient(top, #71d1ff 0, #22b3f4 4%, #198fef 100%);
    background: linear-gradient(to bottom, #71d1ff 0, #22b3f4 4%, #198fef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71d1ff', endColorstr='#198fef', GradientType=0);
    border: none;
    border-radius: 6px
}

.pages_links .main_links.login_link:hover {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5OGZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk2JSIgc3RvcC1jb2xvcj0iIzIyYjNmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3MWQxZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #198fef 0, #22b3f4 96%, #71d1ff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #198fef), color-stop(96%, #22b3f4), color-stop(100%, #71d1ff));
    background: -webkit-linear-gradient(top, #198fef 0, #22b3f4 96%, #71d1ff 100%);
    background: -o-linear-gradient(top, #198fef 0, #22b3f4 96%, #71d1ff 100%);
    background: -ms-linear-gradient(top, #198fef 0, #22b3f4 96%, #71d1ff 100%);
    background: linear-gradient(to bottom, #198fef 0, #22b3f4 96%, #71d1ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#198fef', endColorstr='#71d1ff', GradientType=0)
}

.default_btn {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcxZDFmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQlIiBzdG9wLWNvbG9yPSIjMjJiM2Y0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE5OGZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, #71d1ff 0, #22b3f4 4%, #198fef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #71d1ff), color-stop(4%, #22b3f4), color-stop(100%, #198fef));
    background: -webkit-linear-gradient(top, #71d1ff 0, #22b3f4 4%, #198fef 100%);
    background: -o-linear-gradient(top, #71d1ff 0, #22b3f4 4%, #198fef 100%);
    background: -ms-linear-gradient(top, #71d1ff 0, #22b3f4 4%, #198fef 100%);
    background: linear-gradient(to bottom, #71d1ff 0, #22b3f4 4%, #198fef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71d1ff', endColorstr='#198fef', GradientType=0);
    border: none;
    border-radius: 6px
}

.default_btn:hover {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5OGZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk2JSIgc3RvcC1jb2xvcj0iIzIyYjNmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3MWQxZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #198fef 0, #22b3f4 96%, #71d1ff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #198fef), color-stop(96%, #22b3f4), color-stop(100%, #71d1ff));
    background: -webkit-linear-gradient(top, #198fef 0, #22b3f4 96%, #71d1ff 100%);
    background: -o-linear-gradient(top, #198fef 0, #22b3f4 96%, #71d1ff 100%);
    background: -ms-linear-gradient(top, #198fef 0, #22b3f4 96%, #71d1ff 100%);
    background: linear-gradient(to bottom, #198fef 0, #22b3f4 96%, #71d1ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#198fef', endColorstr='#71d1ff', GradientType=0)
}

.nav {
    background: rgba(10, 79, 159, .8);
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    z-index: 999
}

.nav ul {
    margin: 0;
    padding: 0 15px
}

.nav ul li {
    display: inline-block;
    font-family: FuturaStd-Heavy;
    font-size: 13px
}

.nav ul li.active_menu, .nav ul li:hover {
    background: rgba(0, 0, 0, .2)
}

.nav ul li a {
    color: #f2f2f2;
    display: block;
    padding: 10px 17px
}

.nav ul li.has_children {
    position: relative
}

.nav ul li.has_children .sub-menu {
    padding: 10px 0;
    background: rgba(242, 242, 242, .7);
    position: absolute;
    top: 40px;
    width: 200px;
    z-index: 9999;
    border-bottom: 2px solid #0A4F9F;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .3s, opacity 2s linear
}

.nav ul li.has_children:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s linear
}

.nav ul li.has_children .sub-menu li {
    padding: 0 10px;
    font-size: 12px;
    display: block
}

.nav ul li.has_children .sub-menu li:hover {
    background: rgba(10, 79, 159, .8)
}

.nav ul li.has_children .sub-menu li:hover a {
    color: #fff
}

.nav ul li.has_children .sub-menu li a {
    line-height: 12px;
    color: #000;
    padding: 10px 5px
}

.sign_up {
    position: relative;
    cursor: pointer
}

.sign_up ul {
    background: #f2f2f2;
    border-top: 2px solid #0a4f9f;
    left: 0;
    padding: 12px 8px;
    position: absolute;
    top: 28px;
    width: 140px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 400s, opacity 2s linear
}

.sign_up:hover ul {
    visibility: visible;
    opacity: 1;
    transition: opacity .4s linear
}

.sign_up li {
    font-size: 14px;
    line-height: 26px
}

.challenge_count_box {
    margin: 55px 0 !important;
    padding: 6px 15px;
    position: relative
}

.congrat_box {
    float: left;
    width: 100%;
    text-align: center
}

.video_img_box {
    float: right;
    width: 32%
}

.video_iframe img {
    width: 100%;
    height: 180px
}

.congrat_box > h1 {
    color: #fff;
    font-family: Adelon-Bold;
    font-size: 29px;
    margin: 0;
    text-align: center;
    line-height: .8
}

.congrat_box .hotels_text {
    font-size: 19px;
    line-height: 23px
}

.requestquotenow {
    color: #fff;
    margin-bottom: 10px;
    margin-top: 3px;
    text-align: center;
    font-family: adelon-medium
}

.congrat_box h2, .video_img_box h2 {
    color: #fff;
    font-family: futuraextended;
    margin: 0;
    text-align: center;
    font-size: 25px;
    text-shadow: 1px 2px 0 #000
}

.div_separator {
    border: 1px solid #fff;
    border-radius: 100%;
    margin: 8px auto 0;
    width: 80%
}

.count_rs li.bg_none img {
    height: 45px
}

.congrat_box > h2 {
    margin: 7px 0 0
}

.congrat_box .count_text {
    margin: 5px 0 0
}

.congrat_box .count_text > span {
    margin: 3px 0 0
}

.congrat_box .count_rs {
    margin: 0
}

.congrat_box .count_rs li {
    padding: 0 5px
}

.diff_form.home_form .form_box_title {
    color: #fff;
    text-shadow: 0 0 3px #000;
    margin: 0
}

.home_challenge_box.text-center {
    background: rgba(16, 44, 63, .7);
    margin: 50px auto;
    padding: 20px;
    width: 850px
}

.home_challenge_box h1 {
    color: #fff;
    font-family: Adelon-Bold;
    font-size: 43px;
    margin: 0
}

.hotels_text {
    color: #fff;
    font-family: adelon-bold;
    font-size: 24px;
    margin: 5px 0 0;
    line-height: 32px
}

.hotels_text span {
    color: #fff
}

.video_count_boxes {
    margin: 70px 0
}

.count_box, .video_box {
    min-height: 335px;
    width: 445px;
    background: rgba(16, 44, 63, .7);
    padding: 18px;
    text-align: center
}

.video_box {
    float: left
}

.count_box {
    float: right
}

.count_box > h2, .video_box > h2 {
    color: #fff;
    font-family: futuraextended;
    margin: 0;
    text-shadow: 1px 2px 0 #000
}

.count_box > h2 {
    font-size: 36px
}

.count_text, .video_iframe {
    margin: 7px 0 0
}

.count_text > span {
    color: #4c9fff;
    font-family: adelon-medium;
    font-size: 18px;
    display: block;
    margin: 32px 0
}

.count_rs {
    color: #fff;
    font-family: open sans;
    padding: 0;
    margin: 40px 0 0
}

.content_box, .form_box_title, .home_form label {
    font-family: FuturaStd-Book
}

.count_rs li {
    background: #e80000;
    border-radius: 7px;
    box-shadow: 1px 1px 2px #000;
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    padding: 20px 8px;
    margin-right: 4px
}

.home_col_15, .home_col_25, .home_col_35 {
    padding: 0 8px
}

.count_rs li.bg_none {
    background: rgba(0, 0, 0, 0);
    box-shadow: none;
    font-size: 42px
}

.count_rs li.space {
    margin: 0 10px 0 0
}

.home_col_35 {
    width: 22%
}

.home_col_25 {
    width: 14%
}

.home_form label {
    font-weight: 400;
    padding-bottom: 8px;
    color: #000
}

.diff_form.home_form label {
    color: #fff;
    font-weight: 700;
    padding: 0 15px;
    text-shadow: 0 0 3px #000;
    text-align: center
}

.home_form input, .home_form select, .home_form textarea {
    border: 2px solid #ccc;
    border-radius: 0;
    padding: 0 8px;
    background-color: #fff
}

.icon-pick {
    background: url(../img/date-picker.png) 95% center no-repeat rgba(0, 0, 0, 0)
}

.form_box_title {
    color: #000;
    font-size: 17px;
    font-weight: 500;
    margin: 0 10px;
    text-shadow: 0 0 1px #000
}

.red_boxes {
    padding: 0 10px
}

.margintop5 {
    margin-top: 5px
}

.content_box {
    background: #e80000;
    border-radius: 3px;
    box-shadow: 3px 3px 0 rgba(255, 255, 255, .6);
    color: #fff;
    display: inline-block;
    font-size: 11px;
    margin: 0 11px 0 0;
    min-height: 59px;
    padding: 4px 8px;
    text-shadow: none
}

.content_box:hover {
    background: #0A4F9F
}

#newsletter_form .has-error input[type=text] {
    border: 2px solid #a94442 !important;
    box-shadow: none !important;
    margin: 0 0 4px;
    padding: 4px 10px
}

#newsletter_form .has-error label {
    color: #000 !important
}

.content_box span {
    color: #fff;
    font-weight: 700;
    text-shadow: none
}

.dis_block {
    display: block !important;
    padding: 0 30px !important
}

.gallery_white_bg_top {
    background: url(../img/gallery_bg05.jpg) center -5px/100% auto no-repeat rgba(0, 0, 0, 0);
    padding: 36px 0
}

.gallery_blue_bg_bottom {
    background: url(../img/gallery_bg03.jpg) center top/100% auto no-repeat rgba(0, 0, 0, 0);
    margin: -48px 0 0;
    padding: 44px 0;
    position: relative;
    z-index: 2
}

.home_gallery {
    background-image: url(../img/gallery_bg04.jpg);
    background-repeat: repeat-y;
    background-position: center top;
    background-size: 100% auto;
    background-color: rgba(0, 0, 0, 0);
    padding: 0 0 25px;
    position: relative;
    width: 100%;
    z-index: 3
}

.gallery-title {
    font-family: FuturaStd-Heavy;
    font-size: 30px;
    margin: 0;
    text-transform: uppercase;
    color: #fff
}

.gallery_img {
    display: inline-block;
    margin: 0 10px 0 0;
    width: 18.6%
}

.gallery_img h3 {
    color: #fff;
    font-family: open sans;
    font-size: 13px;
    font-weight: 600;
    margin: 10px 0 8px;
    text-align: center
}

.ordiv span, .section, .total_amount, h3.sub_title {
    font-weight: 700
}

.gal_img_link {
    position: relative;
    border-bottom: 3px solid rgba(0, 0, 0, .5)
}

.more_link {
    color: #fff;
    font-family: FuturaStd-Heavy;
    height: 100%;
    left: 0;
    padding: 25% 0 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%
}

.con-box1, .hoverShow, .login-form .form-group {
    position: relative
}

.more_link:hover {
    background: rgba(0, 0, 0, .1);
    color: #fff
}

.form_btn_home {
    margin: 13px 0 0
}

.reservation_input {
    padding-right: 6px
}

.search_destination_field {
    height: 33px;
    text-align: center
}

.forgot_pass {
    font-size: 13px;
    padding: 5px 0
}

.forgot_pass_btn {
    padding: 5px 25px;
    margin-left: 33%
}

.login_main_cont {
    background: rgba(255, 255, 255, .7);
    margin: 0 auto;
    padding: 30px 30px 20px;
    width: 400px
}

.login_main_cont h3 {
    color: #0a4f9f;
    font-family: futuraextended;
    margin: 0 auto 11px;
    text-align: center;
    text-shadow: 0 2px 3px #999
}

.pagetitle h1, h3.sub_title {
    font-family: futurastd-book
}

.login_main_cont a, .login_main_cont b {
    color: #0A4F9F
}

.ordiv span {
    background: #0a4f9f;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    margin: 5px 0;
    padding: 10px
}

.login-form .form-group:after {
    display: block
}

.login-form .btn-login {
    float: right;
    border-radius: 4px;
    background: #198fef;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border: none;
    outline: 0;
    padding: 8px 22px
}

.form-wizard .steps, .form-wizard .steps li a {
    background: rgba(255, 255, 255, .8) !important
}

.login-form .btn-login:hover {
    opacity: .8
}

.login-form .checkbox {
    padding: 12px 0 0;
    display: inline-block;
    vertical-align: middle;
    width: 50%
}

.night-text {
    color: #fff;
    display: block;
    padding: 5px 0
}

.form-wizard .steps {
    border-radius: 6px;
    margin: 0 auto 15px;
    width: 80%
}

.progress {
    width: 80%;
    margin: 0 auto
}

.progress-striped .progress-bar-success {
    background-color: #0a4f9f
}

.main_cont .tab-content {
    width: 100%
}

.signup_form.form-horizontal .control-label {
    text-align: right !important
}

.small_label {
    text-align: center;
    font-size: 12px;
    display: block
}

.default_btn.default, .default_btn.green, .default_btn.red {
    padding: 6px 15px
}

.main_cont, .main_cont_home {
    border-radius: 4px;
    padding: 15px 20px
}

.default_btn.green:hover {
    background-color: #35aa47
}

.default_btn.red:hover {
    background-color: #db362e
}

.default_btn.default:hover {
    background-color: #ccc
}

.tooltip-inner {
    max-width: 500px !important
}

.page_container {
    min-height: 750px
}

.width-row {
    margin: 0 auto;
    width: 1000px
}

.width-row-700 {
    margin: 0 auto;
    width: 700px
}

.main_cont {
    background: rgba(255, 255, 255, .8)
}

.main_cont_home {
    background: rgba(255, 255, 255, .5)
}

.pagetitle h1 {
    color: #0a4f9f;
    font-size: 22px;
    letter-spacing: 1px;
    margin: 0;
    line-height: 22px;
    border-bottom: 1px solid #ccc;
    padding: 0 0 5px
}

.auto_link, .section {
    padding: 15px 0;
    text-align: center
}

h3.sub_title {
    font-size: 17px;
    margin: 8px 0 12px
}

.right-border {
    border-right: 1px solid #ccc
}

.divider_two_div {
    border: 1px solid #0A4F9F
}

.content_row {
    margin: 20px 0
}

.link_referral {
    text-align: center;
    display: block;
    margin: 20px 0;
    color: #0A4F9F;
    font-size: 16px
}

.section .fa {
    color: #0a4f9f;
    display: block;
    font-size: 60px;
    margin: 10px 0
}

.auto_link > a, .dataTables_paginate .form-control, .form-control .input-small.input-inline, .section a, .total1 {
    display: inline-block
}

.section a {
    color: #000
}

.blue, .btn:hover, .green, .red {
    color: #fff
}

.section a i {
    -webkit-transition: -webkit-transform .4s ease-in-out;
    -moz-transition: -moz-transform .4s ease-in-out;
    -o-transition: -o-transform .4s ease-in-out;
    -ms-transition: -ms-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    cursor: pointer
}

.section a:hover i {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg)
}

.blue {
    background: #0A4F9F
}

.red {
    background: #DB362E
}

.green {
    background: #35AA47
}

.default, .grey {
    background: #ccc
}

.table.table {
    font-size: 13px
}

.table.table thead {
    background: #eee
}

.table.table .even {
    background: #ddd
}

.dataTables_paginate .input-sm {
    width: auto !important
}

.dataTables_wrapper.dataTables_extended_wrapper, div.dataTables_paginate {
    text-align: left
}

.form-control.input-small.input-inline {
    display: inline-block;
    width: auto !important
}

.total_amount {
    font-size: 16px;
    margin: 28px 0;
    padding: 0
}

.green_btn, .grey_btn, .red_btn {
    font-family: FuturaStd-Book;
    font-size: 16px;
    padding: 4px 8px;
    color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4)
}

.total1 {
    margin: 0 0 0 45.5%;
    width: 17%
}

.green_btn {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhmYzQwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyOTlhMGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #8fc400 0, #299a0b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8fc400), color-stop(100%, #299a0b));
    background: -webkit-linear-gradient(top, #8fc400 0, #299a0b 100%);
    background: -o-linear-gradient(top, #8fc400 0, #299a0b 100%);
    background: -ms-linear-gradient(top, #8fc400 0, #299a0b 100%);
    background: linear-gradient(to bottom, #8fc400 0, #299a0b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8fc400', endColorstr='#299a0b', GradientType=0);
    border: none;
    border-radius: 6px
}

.green_btn:hover {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5OWEwYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4ZmM0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #299a0b 0, #8fc400 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #299a0b), color-stop(100%, #8fc400));
    background: -webkit-linear-gradient(top, #299a0b 0, #8fc400 100%);
    background: -o-linear-gradient(top, #299a0b 0, #8fc400 100%);
    background: -ms-linear-gradient(top, #299a0b 0, #8fc400 100%);
    background: linear-gradient(to bottom, #299a0b 0, #8fc400 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#299a0b', endColorstr='#8fc400', GradientType=0)
}

.red_btn {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMzAxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjJhMDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ff3019 0, #ff2a05 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff3019), color-stop(100%, #ff2a05));
    background: -webkit-linear-gradient(top, #ff3019 0, #ff2a05 100%);
    background: -o-linear-gradient(top, #ff3019 0, #ff2a05 100%);
    background: -ms-linear-gradient(top, #ff3019 0, #ff2a05 100%);
    background: linear-gradient(to bottom, #ff3019 0, #ff2a05 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3019', endColorstr='#ff2a05', GradientType=0);
    border: none;
    border-radius: 6px
}

.red_btn:hover {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYzAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #c00 0, #c00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c00), color-stop(100%, #c00));
    background: -webkit-linear-gradient(top, #c00 0, #c00 100%);
    background: -o-linear-gradient(top, #c00 0, #c00 100%);
    background: -ms-linear-gradient(top, #c00 0, #c00 100%);
    background: linear-gradient(to bottom, #c00 0, #c00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc0000', endColorstr='#cc0000', GradientType=0)
}

.grey_btn {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(221, 221, 221, 1) 0, rgba(204, 204, 204, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(221, 221, 221, 1)), color-stop(100%, rgba(204, 204, 204, 1)));
    background: -webkit-linear-gradient(top, rgba(221, 221, 221, 1) 0, rgba(204, 204, 204, 1) 100%);
    background: -o-linear-gradient(top, rgba(221, 221, 221, 1) 0, rgba(204, 204, 204, 1) 100%);
    background: -ms-linear-gradient(top, rgba(221, 221, 221, 1) 0, rgba(204, 204, 204, 1) 100%);
    background: linear-gradient(to bottom, rgba(221, 221, 221, 1) 0, rgba(204, 204, 204, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#cccccc', GradientType=0);
    border: none;
    border-radius: 6px
}

.grey_btn:hover {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(204, 204, 204, 1) 0, rgba(221, 221, 221, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(204, 204, 204, 1)), color-stop(100%, rgba(221, 221, 221, 1)));
    background: -webkit-linear-gradient(top, rgba(204, 204, 204, 1) 0, rgba(221, 221, 221, 1) 100%);
    background: -o-linear-gradient(top, rgba(204, 204, 204, 1) 0, rgba(221, 221, 221, 1) 100%);
    background: -ms-linear-gradient(top, rgba(204, 204, 204, 1) 0, rgba(221, 221, 221, 1) 100%);
    background: linear-gradient(to bottom, rgba(204, 204, 204, 1) 0, rgba(221, 221, 221, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#dddddd', GradientType=0)
}

.normalfont {
    font-weight: 400 !important
}

.title_form {
    margin: 15px 0 15px 18px
}

.form-group {
    margin-bottom: 5px
}

.form-group.margin-top-10.margin-bottom-10.create-account > span {
    display: block;
    font-size: 14px;
    margin: 0 0 7px
}

.form-group.margin-top-10.margin-bottom-10.create-account > span .newhere {
    font-size: 16px
}

.margin-top-10 strong.signUpNow {
    font-size: 13px
}

.margin-top-10 strong.signUpNow a {
    font-size: 15px
}

#uniform-remember input {
    margin: 4px 6px 0 0
}

.faqs_title {
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
    margin: 10px 0
}

.questions {
    font-size: 15px;
    font-weight: 700
}

.questions span {
    background: #0a4f9f;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
    padding: 3px 5px
}

.answers {
    margin-top: 10px
}

.ques_border {
    border: 1px solid rgba(10, 79, 159, .6);
    border-radius: 100%;
    margin: 15px 0
}

.checkbox, .radio {
    display: inline-block;
    margin: 0;
    min-height: 0;
    padding-left: 30px
}

.listing_btn {
    margin: 2px;
    padding: 5px 16px
}

.bullet_color {
    color: #0A4F9F;
    font-weight: 700
}

.ul_text {
    color: #000;
    font-weight: 400
}

.top-hos-main .left-city ul li, .top-hos-main .right-city ul li, .top-hos-main p {
    color: #fff;
    font-family: FuturaStd-Book
}

.display-none {
    display: none
}

.accordion .accordion-toggle.accordion-toggle-styled.collapsed {
    background-position: right 3px
}

.accordion .accordion-toggle.accordion-toggle-styled {
    background: url(../img/accordion-plusminus.png) right -28px no-repeat rgba(0, 0, 0, 0)
}

.panel-title > a {
    display: block
}

.checkbox-list .checker {
    display: inline-block
}

.top-hos-main p {
    margin: 15px 0
}

.top-hos-main .left-city {
    float: left;
    padding-left: 2%;
    width: 100%
}

.top-hos-main .left-city ul, .top-hos-main .right-city ul {
    padding: 0
}

.top-hos-main .right-city {
    width: 55%;
    padding-left: 2%
}

.popovers {
    color: #fff !important
}

.popover-content, .popover-title {
    color: #333 !important
}

footer {
    background: url(../img/foot_bg.jpg) center top;
    padding: 25px 0 10px
}

footer .foot_title {
    color: #fff;
    font-family: FuturaStd-Heavy;
    font-size: 18px;
    margin: 0 0 15px
}

.sc_links a {
    color: #62b3ff;
    display: block;
    font-family: FuturaStd-Book;
    font-size: 12px;
    padding: 13px 0 13px 45px
}

.page_link a, .policy_link a {
    color: #62b3ff;
    font-size: 15px;
    font-family: FuturaStd-Book
}

.row.sc_links a {
    display: inline;
    margin-left: 5px;
    padding: 13px 0 13px 35px
}

.sc_links a.fb_link {
    background: url(../img/fb_icon.png) left center no-repeat rgba(0, 0, 0, 0)
}

.sc_links a.tw_link {
    background: url(../img/tw_icon.png) left center no-repeat rgba(0, 0, 0, 0)
}

.sc_links a.gp_link {
    background: url(../img/gp_icon.png) left center no-repeat rgba(0, 0, 0, 0)
}

.sc_links a.pn_link {
    background: url(../img/pn_icon.png) left center no-repeat rgba(0, 0, 0, 0)
}

.sc_links a.ml_link {
    background: url(../img/ml_icon.png) left center no-repeat rgba(0, 0, 0, 0)
}

.sc_links a.ig_link {
    background: url(../img/ig_link.png) left center no-repeat rgba(0, 0, 0, 0)
}

.sc_links a.gooogle_link {
    background: url(../img/gmail1.png) left center no-repeat rgba(0, 0, 0, 0)
}

.sc_links a.yahoo_link {
    background: url(../img/yahoo1.png) left center no-repeat rgba(0, 0, 0, 0)
}
.sc_links a.linke_link {
    background: url(http://hotels.softech.website/public/affilliate_theme/img/linke.png) left center no-repeat rgba(0, 0, 0, 0)
}
.foot_2 #newsletter_form input[type=text] {
    border: 2px solid #57555b;
    width: 265px
}

.foot_2 #newsletter_form input[type=submit] {
    margin-top: 12px
}

.page_link a {
    display: block;
    padding: 1px 0
}

.policy_link a {
    display: block;
    padding: 6px 0
}

.copy-right {
    border-top: 1px solid #fff;
    padding: 15px 0 0 8px;
    font-family: FuturaStd-Book;
    font-size: 12px;
    color: #fff
}

.lower_footer_pad {
    padding: 10px 0 0 8px
}

.itan_footer, .travelocity_footer {
    margin: 0 5px;
    padding: 0 5px
}

.copy-span {
    float: left;
    display: block;
    height: 40px;
    line-height: 40px
}

.footer-icons {
    float: right
}

.travelocity_footer {
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    background: #fff
}

@media only screen and (min-width: 959px) and (max-width: 1045px) {
    .nav ul li, footer {
        text-align: center
    }

    .width-row {
        width: 100%
    }

    .nav ul li {
        padding: 15px 30px;
        display: inline-block
    }

    footer .foot_1, footer .foot_2, footer .foot_3, footer .foot_4 {
        width: 100%;
        float: none;
        margin: 0
    }

    .sc_links a {
        padding: 15px 20px 15px 45px;
        display: inline-block
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .count_box, .home_challenge_box.text-center, .video_box, .video_iframe img, .width-row {
        width: 100%
    }

    .gallery_img, .nav ul li, footer {
        text-align: center
    }

    .nav ul li {
        padding: 15px 0;
        display: block
    }

    footer .foot_1, footer .foot_2, footer .foot_3, footer .foot_4 {
        width: 100%;
        float: none;
        margin: 0
    }

    .sc_links a {
        padding: 15px 20px 15px 45px;
        display: inline-block
    }

    .home_challenge_box h1 {
        font-size: 30px
    }

    .hotels_text {
        font-size: 16px
    }

    .video_count_boxes {
        margin: 30px 0
    }

    .count_box, .video_box {
        float: none;
        margin: 10px 0;
        min-height: 0
    }

    .count_box > h2, .video_box > h2 {
        font-size: 22px !important
    }

    .count_box > h2 {
        font-size: 16px;
        margin: 0
    }

    .count_rs {
        margin: 20px 0 0
    }

    .count_rs li.space {
        margin: 0 5px 0 0
    }

    .count_rs li {
        font-size: 25px;
        margin-right: 0;
        padding: 15px 7px
    }

    .count_rs li.bg_none {
        font-size: 35px
    }

    .home_col_25, .home_col_35 {
        width: auto
    }

    .content_box, .gallery_img {
        display: inline-block;
        width: 48%
    }

    .content_box {
        min-height: 0;
        margin: 8px 0
    }

    .form_btn_home {
        margin: 0 0 0 13px
    }

    .reservation_input {
        margin: 5px 0
    }

    .gallery_img {
        margin: 0 10px 0 0
    }

    .gal_img_link img {
        width: 100%
    }

    .gallery-title {
        font-size: 23px
    }
}

@media only screen and (min-width: 591px) and (max-width: 790px) {
    .count_box, .home_challenge_box.text-center, .video_box, .video_iframe img, .width-row {
        width: 100%
    }

    .gallery_img, .nav ul li, footer {
        text-align: center
    }

    .nav ul li {
        padding: 15px 0;
        display: block
    }

    footer .foot_1, footer .foot_2, footer .foot_3, footer .foot_4 {
        width: 100%;
        float: none;
        margin: 0
    }

    .sc_links a {
        padding: 15px 20px 15px 45px;
        display: inline-block
    }

    .home_challenge_box h1 {
        font-size: 30px
    }

    .hotels_text {
        font-size: 16px
    }

    .video_count_boxes {
        margin: 30px 0
    }

    .count_box, .video_box {
        float: none;
        margin: 10px 0;
        min-height: 0
    }

    .count_box > h2, .video_box > h2 {
        font-size: 22px !important
    }

    .count_box > h2 {
        font-size: 16px;
        margin: 0
    }

    .count_rs {
        margin: 20px 0 0
    }

    .count_rs li.space {
        margin: 0 5px 0 0
    }

    .count_rs li {
        font-size: 25px;
        margin-right: 0;
        padding: 15px 7px
    }

    .count_rs li.bg_none {
        font-size: 35px
    }

    .home_col_25, .home_col_35 {
        width: auto
    }

    .content_box, .gallery_img {
        display: inline-block;
        width: 48%
    }

    .content_box {
        min-height: 0;
        margin: 8px 0
    }

    .form_btn_home {
        margin: 0 0 0 13px
    }

    .reservation_input {
        margin: 5px 0
    }

    .gallery_img {
        margin: 0 10px 0 0
    }

    .gal_img_link img {
        width: 100%
    }

    .gallery-title {
        font-size: 23px
    }
}

@media only screen and (min-width: 471px) and (max-width: 590px) {
    .count_box, .home_challenge_box.text-center, .video_box, .video_iframe img, .width-row {
        width: 100%
    }

    .gallery_img, .nav ul li, footer {
        text-align: center
    }

    .nav ul li {
        padding: 15px 0;
        display: block
    }

    .media-object .img-responsive .thumbnail .hotel_search_details {
        height: 100px;
        width: 100px;
    }

    footer .foot_1, footer .foot_2, footer .foot_3, footer .foot_4 {
        width: 100%;
        float: none;
        margin: 0
    }

    .sc_links a {
        padding: 15px 20px 15px 45px;
        display: inline-block
    }

    .home_challenge_box h1 {
        font-size: 30px
    }

    .hotels_text {
        font-size: 16px
    }

    .video_count_boxes {
        margin: 30px 0
    }

    .count_box, .video_box {
        float: none;
        margin: 10px 0;
        min-height: 0
    }

    .count_box > h2, .video_box > h2 {
        font-size: 22px !important
    }

    .count_box > h2 {
        font-size: 16px;
        margin: 0
    }

    .count_rs {
        margin: 20px 0 0
    }

    .count_rs li.space {
        margin: 0 5px 0 0
    }

    .count_rs li {
        font-size: 25px;
        margin-right: 0;
        padding: 15px 7px
    }

    .count_rs li.bg_none {
        font-size: 35px
    }

    .home_col_25, .home_col_35 {
        width: auto
    }

    .content_box {
        min-height: 0;
        width: 100%;
        margin: 8px 0;
        display: block
    }

    .form_btn_home {
        margin: 0 0 0 13px
    }

    .reservation_input {
        margin: 5px 0
    }

    .gallery_img {
        display: block;
        margin: 0 10px 0 0;
        width: 100%
    }

    .gal_img_link img {
        width: 100%
    }

    .gallery-title {
        font-size: 23px
    }
}

@media only screen and (min-width: 320px) and (max-width: 470px) {
    .count_box, .home_challenge_box.text-center, .video_box, .video_iframe img, .width-row {
        width: 100%
    }

    .gallery_img, .nav ul li, footer {
        text-align: center
    }

    .nav ul li {
        padding: 15px 0;
        display: block
    }

    footer .foot_1, footer .foot_2, footer .foot_3, footer .foot_4 {
        width: 100%;
        float: none;
        margin: 0
    }

    .sc_links a {
        padding: 15px 20px 15px 45px;
        display: inline-block
    }

    .home_challenge_box h1 {
        font-size: 30px
    }

    .hotels_text {
        font-size: 16px
    }

    .video_count_boxes {
        margin: 30px 0
    }

    .count_box, .video_box {
        float: none;
        margin: 10px 0;
        min-height: 0
    }

    .count_box > h2, .video_box > h2 {
        font-size: 22px !important
    }

    .count_box > h2 {
        font-size: 16px;
        margin: 0
    }

    .count_rs {
        margin: 20px 0 0
    }

    .count_rs li.space {
        margin: 0 5px 0 0
    }

    .count_rs li {
        font-size: 25px;
        margin-right: 0;
        padding: 15px 7px
    }

    .count_rs li.bg_none {
        font-size: 35px
    }

    .home_col_25, .home_col_35 {
        width: auto
    }

    .content_box {
        min-height: 0;
        width: 100%;
        margin: 8px 0;
        display: block
    }

    .form_btn_home {
        margin: 0 0 0 13px
    }

    .reservation_input {
        margin: 5px 0
    }

    .gallery_img {
        display: block;
        margin: 0 10px 0 0;
        width: 100%
    }

    .gal_img_link img {
        width: 100%
    }

    .gallery-title {
        font-size: 23px
    }
}

.invoice-holder .left-align, .star_rating_filtering_item {
    float: left
}

.link-main .link1, .success_login_main_cont h3 {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center
}

.redbg {
    background-color: red !important
}

.help-block {
    margin-bottom: 0 !important;
    margin-top: 0 !important
}

.link-main {
    margin-top: 10px
}

.link-main .link1 {
    display: inline-block;
    margin: 0 10px;
    width: 46%;
    border: 1px solid;
    padding: 5px 0
}

.link-main .link1:hover {
    background: #2c2932;
    color: #fff
}

.con-box1 {
    border: 1px solid #000;
    margin-left: 267px;
    margin-top: -86px;
    padding: 10px;
    top: 61px;
    width: 200px
}

.success_login_main_cont {
    background: rgba(255, 255, 255, 1);
    margin: 0 auto;
    padding: 0 10px 4px;
    width: 400px
}

.success_login_main_cont h3 {
    color: #0a4f9f;
    margin: 0 auto;
    text-shadow: 0 2px 3px #999
}

.row.sc_links {
    margin: 30px 0 !important
}

.hoverShowDiv {
    background: linear-gradient(to bottom, #8fc400 0, #299a0b 100%) rgba(0, 0, 0, 0);
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    left: -1px;
    padding: 7px;
    position: absolute;
    top: 22px;
    width: 220px;
    z-index: 1
}

.carousel-inner {
    position: relative;
    width: 100%;
    height: 300px
}

.slider_mb {
    margin-bottom: 15px
}

.search_result_filter {
    padding: 0 15px 15px;
    background: #c3e6fc;
    margin-bottom: 10px;
    border-radius: 0 0 5px 5px;
    border: 1px solid #71d1ff;
    border-top: none
}

.hotel_serch_tab_btn {
    text-align: center;
    background: #22b3f4;
    padding: 10px 0;
    border-radius: 5px 5px 0 0;
    margin: 0 -15px;
    border: 1px solid #71d1ff;
    border-bottom: none
}

.hotel_serch_tab_btn.active {
    background: #c3e6fc
}

.hotel_serch_tab_btn a {
    color: #333;
    padding: 10px 101px;
    text-decoration: none
}

.hotel_on_map_view {
    padding: 15px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
    overflow: hidden;
    border: 1px solid #D9EDF7
}

.table > tbody > tr > td {
    padding: 5px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd
}

.button-send, .tab-content .table > tbody > tr > td {
    vertical-align: middle
}

.hide {
    display: none
}

.hotel-rate-and-policy {
  overflow: hidden;
  padding: 10px;
  position: relative;
}

.hotel-policy-and-facility h5 {
    margin-top: 15px;
    font-weight: 700;
    font-size: 13px
}

.hotel-policy-and-facility p {
    font-size: 12px
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img {
    line-height: 1;
    width: auto;
    height: 300;
    height: 300px;
    objet-fit: cover;
    margin: 0 auto
}

.invoice-holder h2, .invoice-holder h3 {
    line-height: 22px;
    text-decoration: underline
}

#map_hotel_name_checkboxes::-webkit-scrollbar-track-piece {
    background-color: #22b3f4
}

#map_hotel_name_checkboxes::-webkit-scrollbar {
    width: 8px;
    background-color: #22b3f4
}

#map_hotel_name_checkboxes::-webkit-scrollbar-thumb:vertical {
    background-color: #71D1FF
}

.tabpanel_item {
    background: #f0f8ff;
    padding: 15px;
    margin-bottom: 15px
}

#quote_request label {
    text-align: left
}

.loader {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    filter: alpha(opacity=60);
    opacity: .6;
    -moz-opacity: .8
}

.invoice-holder, .login-form-request-quotation .form-group {
    position: relative
}

.center {
    z-index: 1000;
    margin: 300px auto;
    padding: 10px;
    width: 150px;
    background-color: #fff;
    border-radius: 10px;
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-opacity: 1
}

.center img {
    height: 128px;
    width: 128px
}

.invoice-holder {
    border: 1px solid #ccc;
    background: #fff;
    max-width: 1100px;
    margin: 30px auto;
    border-radius: 3px;
    padding: 20px 30px;
    font-family: OpenSans
}

.invoice-holder .right-align {
    float: right
}

.invoice-holder .invoice-logo {
    display: block;
    width: 226px;
    margin: 0 auto 30px
}

.invoice-logo img {
    display: block;
    width: 100%;
    height: auto
}

.invoice-holder strong {
    margin: 0 0 5px;
    font-weight: 700
}

.invoice-address {
    font-size: 12px;
    text-align: right;
    margin: 0 0 25px
}

.invoice-holder h2 {
    margin: 15px 0 10px;
    font-size: 18px
}

.invoice-holder h3 {
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: 700
}

.detail-table, .m-20 {
    margin: 0 0 20px
}

.detail-table {
    width: 100%
}

.detail-table td {
    padding: 5px 0
}

.txt-red {
    color: #f94359
}

.button-send {
    display: inline-block;
    background: #198fef;
    color: #fff;
    padding: 5px 12px;
    border-radius: 2px
}

.form-horizontal .signup-frame-page .form-group {
    margin-left: 0;
    margin-right: 0
}

.form-horizontal .signup-frame-page {
    max-width: 500px;
    margin: 0 auto
}

.signup-frame-page .promocodearea .col-md-4 {
    padding: 0
}

.signup_form.form-horizontal .signup-frame-page .control-label {
    text-align: left !important
}

.content_row .table .heading th {
    padding: 15px 2px;
    font-size: 12px;
    text-align: center
}

.content_row .table tbody td {
    padding: 7px 2px;
    font-size: 11px;
    text-align: center
}

.txt-alternative .im {
    color: #fff !important
}

.login-form-request-quotation .form-group:after {
    display: block
}

.login-form-request-quotation .checkbox {
    display: inline-block;
    padding: 12px 0 0;
    vertical-align: middle;
    width: 50%
}

.login-form-request-quotation .btn-login {
    background: #198fef;
    border: none;
    border-radius: 4px;
    color: #fff;
    float: right;
    font-size: 14px;
    font-weight: 700;
    outline: 0;
    padding: 8px 22px
}

#applyCpoBtn, #cancelCpoBtn {
    width: 150px;
    text-align: center;
    outline: 0;
    padding: 5px 12px;
    display: block;
    color: #fff
}

#applyCpoBtn {
    border-radius: 3px;
    border: none;
    background: #428bca
}

#applyCpoBtn:hover, #cancelCpoBtn:hover {
    opacity: .85;
    color: #fff
}

#cancelCpoBtn {
    border-radius: 3px;
    border: none;
    background: #fa3501
}

.hotel-gif {
    position: absolute;
    max-width: 550px;
    margin: 0 0 0 -125px;
    top: 30%;
    left: 41%;
    font-size: 25px
}

.hotel-gif:after {
    display: block
}

.hotel-gif img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 250px;
    margin: 0 auto
}

#quote_request input {
    font-size: 12px;
    text-transform: capitalize
}

.nav-tabs > li > a {
    color: #fff
}

.tab-content .form-horizontal .radio {
    min-height: 11px
}

.tab-content .nav-tabs > li > a:hover {
    background: rgba(10, 79, 159, .8)
}

.ui-widget {
    font-size: 14px !important
}

#quote_request input, .form-control, .select2-default {
    color: #000 !important
}

::-webkit-input-placeholder {
    color: #000 !important
}

:-moz-placeholder {
    color: #000 !important
}

::-moz-placeholder {
    color: #000 !important
}

:-ms-input-placeholder {
    color: #000 !important
}

textarea span {
    color: red !important
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    margin-left: 0 !important
}

.datepicker .datepicker-months table {
    width: 150px !important
}

.datepicker .datepicker-years table {
    width: 200px !important
}

.congrat_box .count_rs li {
    position: relative
}

.des {
    margin-right: 12px !important
}

.ui-autocomplete a {
    font-size: 12 !important
}

.bx-controls-direction {
    display: none
}

.bx-wrapper:hover .bx-controls-direction {
    display: block
}

.bx-wrapper {
    max-width: inherit !important
}

.content_box {
    width: 187px !important
}

.control-label.cancelation {
    padding: 12px 0 !important;
    text-align: left !important
}
.atss .at-share-btn, .atss a{
    border-radius: 25px;
    margin: 0 0 5px;
}
.atss .at-share-btn:focus, .atss .at-share-btn:hover, .atss a:focus, .atss a:hover{
    width: 3pc !important;
}
.input {
    position: relative;
    z-index: 1;
    width: calc(100% - 0);
    vertical-align: top;
}

.input__field {
    position: relative;
    display: block;
    border: none;
    border-radius: 0;
    color: #aaa;
    font-weight: bold;
    -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
    outline: none;
}

.input__label {
    color: #6a7989;
    font-weight: bold;
    font-size: 70.25%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
}
.input__field--minoru {
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 0px 2px transparent;
    color: #000;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}

.input__label--minoru {
    padding: 0;
    width: 100%;
    text-align: left;
}

.input__label--minoru::after {
    content: '';
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 4em;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(199,152,157, 0.6);
}

.input__field--minoru:focus {
    box-shadow: 0px 0px 0px 2px #eca29b;
}

.input__field--minoru:focus + .input__label--minoru {
    pointer-events: none;
}

.input__field--minoru:focus + .input__label--minoru::after {
    -webkit-animation: anim-shadow 0.3s forwards;
    animation: anim-shadow 0.3s forwards;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 100px 50px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 100px 50px;
        opacity: 0;
    }
}

.input__label-content--minoru {
    padding: 0.75em 0.15em;
}
/*.media-price h4{
    font-family: 'Bungee Shade', cursive;
}*/
/*.checkbox {
  padding-left: 20px; }
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
    padding-left: 5px; }
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
      color: #555555; }
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
    z-index: 1; }
.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c";}
.checkbox input[type="checkbox"]:indeterminate + label::after,
.checkbox input[type="radio"]:indeterminate + label::after {
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  background-color: #555555;
  border-radius: 2px;
  margin-left: -16.5px;
  margin-top: 7px;
}
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
      opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
  background-color: #eeeeee;
        cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #337ab7;
  border-color: #337ab7; }
.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
  color: #fff;}

.checkbox-primary input[type="checkbox"]:indeterminate + label::before,
.checkbox-primary input[type="radio"]:indeterminate + label::before {
  background-color: #337ab7;
  border-color: #337ab7;
}

.checkbox-primary input[type="checkbox"]:indeterminate + label::after,
.checkbox-primary input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-danger input[type="checkbox"]:indeterminate + label::before,
.checkbox-danger input[type="radio"]:indeterminate + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:indeterminate + label::after,
.checkbox-danger input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-info input[type="checkbox"]:indeterminate + label::before,
.checkbox-info input[type="radio"]:indeterminate + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:indeterminate + label::after,
.checkbox-info input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-warning input[type="checkbox"]:indeterminate + label::before,
.checkbox-warning input[type="radio"]:indeterminate + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:indeterminate + label::after,
.checkbox-warning input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-success input[type="checkbox"]:indeterminate + label::before,
.checkbox-success input[type="radio"]:indeterminate + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:indeterminate + label::after,
.checkbox-success input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.radio {
  padding-left: 20px; }
.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
    padding-left: 5px; }
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
  opacity: 0;
    z-index: 1; }
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
      transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
.radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
  background-color: #337ab7; }
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #337ab7; }
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #337ab7; }

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c; }

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c"; }
input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
  color: #fff; }
input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
  color: #fff; }
*/
.control-group {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  padding: 30px;
  width: 200px;
  height: 210px;
  margin: 10px;
}
.control {
  cursor: pointer;
  display: block;
  font-weight: normal;
  margin-bottom: 15px;
  padding-left: 30px;
  position: relative;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  background: #eee none repeat scroll 0 0;
  border: 5px solid red;
  height: 22px;
  left: 0;
  position: absolute;
  top: 3.5px;
  width: 22px;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: red;
}
.control input:checked ~ .control__indicator {
  background: red;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: red;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator::after {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #fff;
  border-image: none;
  border-style: solid;
  border-width: 0 2px 2px 0;
  height: 12px;
  left: 4px;
  top: 0;
  transform: rotate(45deg);
  width: 6px;
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000;
  background: #ccc;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}
.media-price {
  background-image: url("http://hotels.softech.website/public/assets/img/price-hotel.png");
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  height: 88px;
  max-width: 100%;
  position: relative;
}
.sResult .media-price h4 {
  color: #fff;
  font-weight: 700;
  margin: 0;
  position: relative;
  top: 35.5px;
  transform: rotate(10deg);
}
#all_slider_images li a img {
  height: 88px;
  width: 100px;
}
.close-listing {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #71d1ff 0px, #22b3f4 4%, #198fef 100%) repeat scroll 0 0;
  color: #fff;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 30px;
  z-index: 9999;
}
.media-price > h4:first-child {
  display: none;
}
/** VARIABLES 
===================================*/
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.bx-wrapper img {
  max-width: 100%;
  display: block;
}
.bxslider {
  margin: 0;
  padding: 0;
}
ul.bxslider {
  list-style: none;
}
.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
}
/** THEME
===================================*/
.bx-wrapper {
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border: 5px solid #fff;
  background: #fff;
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}
/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url('images/bx_loader.gif') center center no-repeat #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #000;
}
.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url('images/controls.png') no-repeat 0 -32px;
}
.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
  background-position: 0 0;
}
.bx-wrapper .bx-next {
  right: 10px;
  background: url('images/controls.png') no-repeat -43px -32px;
}
.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position: -43px 0;
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url('images/controls.png') -86px -11px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url('images/controls.png') -86px -44px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}
.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}
  .bx-wrapper .bx-pager {
    bottom: -295px;
  }
  
  .bx-wrapper .bx-pager a {
    border: solid #ccc 1px;
    display: block;
    margin: 0 5px;
    padding: 3px;
  }
  
  .bx-wrapper .bx-pager a:hover,
  .bx-wrapper .bx-pager a.active {
    border: solid #5280DD 1px;
  }
  
  .bx-wrapper {
    margin-bottom: 120px;
  }
  .btnc1 {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #71d1ff 0%, #22b3f4 4%, #198fef 100%) repeat scroll 0 0;
  border: medium none;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-family: "FuturaStd-Book";
  font-size: 16px;
  margin: 0 30px;
  padding: 30px;
  position: absolute;
  right: 0;
  text-shadow: 1px 1px 2px #000;
  text-transform: uppercase;
  top: 27px;
  transition: all 0.5s ease 0s;
}
.btnc1:hover{
  background: #fff none repeat scroll 0 0;
  color: black;
  transition: all 0.5s ease 0s;
}
.submit-btn-furture{
  transition: all 0.5s ease 0s;
}
.submit-btn-furture:hover{
  background: #fff none repeat scroll 0 0;
  color: black;
  transition: all 0.5s ease 0s;
}
#newsletter_form input[type="submit"]{
    transition: all 0.5s ease 0s;
}
#newsletter_form input[type="submit"]:hover{
  background: #fff none repeat scroll 0 0;
  color: black;
  transition: all 0.5s ease 0s;
}
.pages_links .main_links.login_link{
  transition: all 0.5s ease 0s;
}
.pages_links .main_links.login_link:hover{
  background: #fff none repeat scroll 0 0;
  color: black;
  transition: all 0.5s ease 0s;
}
.submit-btn-furture.red-btn {
  transition: all 0.5s ease 0s;
}
.submit-btn-furture.red-btn:hover {
  background: #fff none repeat scroll 0 0;
  color: black;
  transition: all 0.5s ease 0s;
}