// Base utilities and default device sidebar functionality
.mob-vis-md,
.mob-vis-sm {
	display: none;
}

@media only screen and (max-width: 768px) {
	.mob-vis-md {
		display: block;
	}
	.mob-hid-md {
		display: none;
	}
	
	.is-mobOpen .outer-container {
		left: -$mobMenuWidth;
	}
}

@media only screen and (max-width: 480px) {
	.mob-vis-sm {
		display: block;
	}
	.mob-hid-sm {
		display: none;
	}
}

// Responsive menu
// --------------------------------------------------

.mob-menu {
	background-color: $bgMobColor;
	display: block;
	width: $mobMenuWidth;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	@include font-size(13);
}

.mob-menu li {
	border-bottom: 1px solid #232323;
}

.mob-menu a {
	padding: 15px 20px;
	color: #fff;
	font-weight: bold;
	display: block;
	position: relative;
}


.mob-menu .social {
	padding: 15px 20px;
	padding-top: 30px;
}
.mob-menu .social .title {
	display: block;
	@include font-size(13);
	color: #767676;
	margin-bottom: 20px;
	font-weight: bold;
	width: 100%;
}
.mob-menu .social li {
	float: left;
	margin-right: 15px;
	border: 0;
}
.mob-menu .social a {
	padding: 0;
	
	&:after {
		font-weight: normal;
	}
}

.borders li {
	position: relative;
	
	&:after {
		content: ' ';
		position: absolute;
		right: 0;
		top: 0;
		width: 2px;
		height: 100%;
		@include transition(width);
	}
	
	&:hover:after {
		z-index: 1;
		width: 100%;
	}
}
.borders a {
	position: relative;
	z-index: 2;
}

.borders .home:after {
	background-color: #ff6600;
}
.borders .search:after {
	background-color: #ffa200;
}
.borders .reviews:after {
	background-color: #79cb37;
}
.borders .features:after {
	background-color: #cb37bb;
}
.borders .events:after {
	background-color: #258fd9;
}
.borders .specials:after {
	background-color: #73359b;
}
.borders .menus:after {
	background-color: #359b9a;
}
.borders .functions:after {
	background-color: #d51717;
}
.borders .vip:after {
	background-color: #e5e314;
}

.borders li.dark:hover a {
	color: #1b1b1b;
}