/* Spritesheet */

.icn {
	display: block;
	background-image: url('../img/sprites.png');
	background-repeat: no-repeat;
}
.icn span { display: none; }

@mixin icn($x,$y,$w,$h){
	background-position: $x $y;
	width: $w;
	height: $h;
}

// Header
header .icn-logo {
	@include icn(0,0,245px,100px);
}
header .icn-discount {
	@include icn(0,-127px,260px,82px);
}

.sub-nav .icn-discount-mini {
	@include icn(0,-255px,115px,27px);
}

// Footer
footer .icn-logo {
	@include icn(-320px,0,110px,110px);
}

/* Swapping out for mobile sizes */
@media only screen and (max-width: 960px) {

}



@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-device-pixel-ratio: 2) {
	.icn { background-image: url(../img/sprites@2x.png); background-size: 960px 960px; }
	
	/* Seperate icons to swap out */
	
}