// Font defaults
// --------------------------------------------------

$fontStack: 'Open Sans', sans-serif, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$margin: 0 0 20px; /* Default Margin */

// Type Scale
// --------------------------------------------------

html {
  font-size: 6.25%;
}

@mixin type(){
	@include font-size(14);
	line-height: 1.5;
}

@mixin type_1() {
	@include font-size(10);
	line-height: 1.3;
}

@mixin type_2() {
	@include font-size(12);
	line-height: 1.3;
}

@mixin type_3() {
	@include type(14);
	line-height: 1.4;
}

@mixin type_4() {
	@include font-size(16);
	line-height: 1.4;
}

@mixin type_5() {
	@include font-size(18);
	line-height: 1.4;
}

@mixin type_6() {
	@include font-size(22);
	line-height: 1.5;
}

@mixin type_7() {
	@include font-size(24);
	line-height: 1.5;
}

@mixin type_8() {
	@include font-size(30);
	line-height: 1.6;
}

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue) + px;
  font-size: $sizeValue + rem;
}


// Headings and paragraphs
// --------------------------------------------------
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }

h1 { @include type_8(); }
h2 { @include type_7(); }
h3 { @include type_6(); }
h4 { @include type_5(); }
h5 { @include type_4(); }
h6 { @include type_2(); }

small { @include type_1(); }


// General type

p {
	margin: $margin;
}
small {
	font-size: 80%;
}


// Links
// --------------------------------------------------

a { 
	text-decoration: none; 
	outline: 0;
	@include transition(color);
	color: $linkColor;
}
a:hover,
a:focus {
	color: $hoverColor;
}


// Blockquotes
// --------------------------------------------------

blockquote,
blockquote p {
	font-style: italic;
}
blockquote {
	margin: $margin;
	padding: 20px;
	padding-left: 40px;
	border-left: 2px solid $linkColor;
}
blockquote cite {
	display: block;
}
blockquote cite:before {
	content: "\2014 \0020";
}

figure {
	margin: 0;
}