// Colors
// --------------------------------------------------

$bgColor:		#fff; // Background Color
$bgMobColor:	#1b1b1b; // Background of the mobile menu

$color_1: 		#333; // Primary Color
$color_2: 		#666; // Secondary Color

$linkColor: 	#ff6600; // Link Color
$hoverColor: 	#0e98d1; // Link Hover Color

$buttonColor:	#0e98d1; // Button background color

$borderColor:	#e5e5e5; // Default border color

// Mobile menu width
// --------------------------------------------------

$mobMenuWidth: 250px;