@mixin cover() {
	background-size: cover;
	-ms-behavior: url(/backgroundsize.min.htc);
}

@mixin listReset() {
	list-style: none;
	padding: 0px;
	
	li { margin: 0px; padding: 0px; }
}

@mixin font-size($sizeValue: 1.6) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
}

@mixin transition($type) {
	-webkit-transition: $type .2s ease-in-out;
	-moz-transition: $type .2s ease-in-out;
	-ms-transition: $type .2s ease-in-out;
	-o-transition: $type .2s ease-in-out;
	transition: $type .2s ease-in-out;
}