
@font-face {
  font-family: 'FuturaStd-Book';
  src: url('FuturaStd-Book.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaStd-Book';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAADwsABAAAAAAaLgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABCQVNFAAA73AAAADQA
AAA0P2JPukZGVE0AADwQAAAAGgAAABw5G/J4R0RFRgAAN2gAAABAAAAASgUtA+pHUE9TAAA5XAAA
An8AAAZkAg0Xa0dTVUIAADeoAAABsQAAA75do2j4T1MvMgAAAeAAAABZAAAAYHu7EaBjbWFwAAAE
lAAAAgQAAAKCdtKVTWdhc3AAADdgAAAACAAAAAj//wADZ2x5ZgAACJgAACoeAABLlPGVKLJoZWFk
AAABbAAAADQAAAA2+1E95GhoZWEAAAGgAAAAIAAAACQH/QRsaG10eAAAAjwAAAJWAAAD/CMRL0Zs
b2NhAAAGmAAAAgAAAAIAB7ca7m1heHAAAAHAAAAAHgAAACABSABObmFtZQAAMrgAAALPAAAFf1sP
ythwb3N0AAA1iAAAAdgAAAJx3FEv2HjaY2BkYGBgZDjS7/SsIZ7f5isDN/MLoAjDGZmanTD6f/y/
2yyzmN8BuRwMTCBRAJhoDp142mNgZGBgtvwfyHCCZc//+P/xLLMYgCIo4D8AoW0HcHjaY2BkYGD4
z+DNwM4AAkxAzMgAEnMA8xkAJRIBlwAAeNpjYGLcxDiBgZWBh6mLKYKBgcEbQjPGMRgxSjEwMHGz
MjExsTAxMzcwMKx3YFDwYoACRxcnVwagwG8mZsv/gQwnmN8xqgKFGUFyjNeYPgEpBQYWAGekDdwA
AAB42m2TzUuUURTGn3NfnUToA2uEssnR/EgqJDP8DpwsZLLxY2VFBiaDixInhFZBRPv6AyJo46rW
LYr2FpEguClqEYXQwrDvFk2/e3sHBmvgx3nfO/ece+7znNe+KPzsDHTChAq2pLyb1SHIRiml3SO1
WoOmrV4XIO3GdIX/Muzv1bIccdr1qoa1FrgHbdADCUjGtfZDDg77/dDva5SwNR2P0mpyj8np1oh7
oQa3SKzViL3RSNTJuc80pnXlrLf41F1i/RrrN5SMMhqPptRi33knun3kteuAraraPVTWzStRcUJb
XSeMq8pltc36NOt7JibD+ehgefobpIdBDdtrpcLzFjVajVrdkOrdDs5MKBtY1bDeoY84i3XXoUaf
53NslPzbatYncqRT9lLmfiiyDZltFH9Ts9pyOsr534gdsZZBe54vQjMcg51+D3rnbYU7plVl55Sk
V69vxmsf1j5r1O7EdQraA03hLpxNbl/Q+yS6FXTVuD/5Q9FdzcSMee2D7v8hWiN6L2r/elFC68Wf
eHGQ+Are4pVKPmzG9xWi96Ic3wueodneWPd/iE4rFbzAh3LwoBK6LFH8AB/dEdZLPmzGz1iHdgU9
ygheeK+J1DrPPGGUtlcs0vcD8vwM4WNpZrxv1KrE+1zA6/4e8rpuU7yPwy9Y0SS+dIVzFvCa2ULH
m3xDA9Af4lLMsgbwaDLmMvvmK55wv6zaYEj3i34eUi6pBnpq8nV9dGfV7p6rMYrQbka7wzywN3yL
C2qOJtRtt5j3OeZsTt0xPfzXzz3q7Kvq/gB/RrH6AAB42mNgYGBmgGAZBkYgycBYA+QxgvksjAlA
OoTBgYGVQYShjuE/oyGjE2MwYyJjBWMd4ySm40wnme4yr2Tew3xAQURBSkFOQUlBTcFAwUrBRWGN
orCikqKaop4SkxKbEr+SkJKokpSSnJK2kodSglKq6qnfTP//A01XYFgANNWRMYgxAWhqLdDUY0BT
b0BNFVaQUJBRUACbaonFVEGgqZJwU1OApjL+////8f9D/yf+b/pf/D/9f+B/3/9W/9j/sf398Vf3
r/RfiQfHHhx+cOjBwQf7Hmx9sPbBkge296/fP3n/2P39997ce3nv4b0H9+7du33vxr0z9zbcm3lv
2m0j1j+QkKE+YGRjgBvNyAQkmNAVAKOGhZWNnYOTi5uHl49fQFBIWERUTFxCUkpaRlZOXkFRSVlF
VU1dQ1NLW0dXT9/A0MjYxNTM3MLSytrG1s7ewdHJ2cXVzd3D08vbx9fPPyAwKDgkNCw8IjIqOiY2
Lj4hkaGtvbN78ox5ixctWbZ0+crVq9asXb9uw8bNW7ds27F9z+69+x4WpaRmPq5YWJD9uizrZ8es
b8W/fqeXv/v44cb3nJprK3Y1Jud9PfPjfW7tk6Sm1ulHj928de/+7Ts7/xw8+eLls+d//z2qvPvg
aUtPc29X/4SJfVOnMUyZM3f2obNXCi9cvFR19fI5AClR0I8AAAAmACYAJgAmAD4AUgCCAMwBEAF6
AYgBnAGwAc4B5AHyAf4CEAIgAlgCaAKMAsYC4gMOAzwDTgOMA7QD0gPsBAAEFAQmBHYE0ATqBRwF
PgVoBYAFlgXGBd4F7AYQBiwGPAZYBmwGkAa6Bu4HHgdiB3QHpge6B9QH8AgGCBoILAg8CE4IYghw
CH4IqgjYCPwJKglUCXoJvgnkCf4KGAowCj4KdgqcCrwK6AsUCzALbguEC6YLuAvQC+gL/AwQDEoM
WAySDLwMvAzUDQgNXA2YDb4N0A4wDk4OkA68DtgO6A70DzQPQg9oD4QPqA/eD+wQEBAuEEAQThBe
EHwQlhDEEPgRShGaEbwR3hICEjgSaBKeEsYS8BMQEy4TUBN+E5ITphO+E+IUFBREFHAUmhTIFQgV
QhVcFZgV0hYMFkgWkBauFtoXGhdOF4IXuBgAGEIYiBjYGQQZNBlkGZgZ2BnsGgIaGho+GoIaxBrs
GxQbPht6G7Ab2BwSHDocYhyOHMYc4h0QHTwdSh1kHXwdtB36HkgekB6+Htwe+h8yH0QfVh9kH3of
jB+sH8gf6iAAIDQgWCCAII4gnCCqILggxiDeIPQhCiEgIT4hUiF6Idgh6CH4IggiSiKEIqwi4CMa
I1QjdiOOI6wjuCPII9oj+CRWJIok3iUAJRwlOCViJZwlynjavXwLfJPl1fh7nrdNem/T3Hpvk7RJ
2rRpmzRJr2mb3kNJA6TQUlpKKS3XCqiogApMQRER8AY6b+jUgXP7NnB+eBsO5qZM/QTZ/G/fvACy
TTcVcTqlb/7ned43bVoKst/v//u3TdLkfZ5zznOec85zbm+4SA5/4Dx5keM5GRfNxXGJHFeq0Cl4
pU6pVYAuFhRKOP/tPuGZ3+4TtkNg32/3kRdHG+EOLiicCIIw+i4XhEKBcEGOcKuCX3IfknOcnIvl
OKdNo5LpjWUuhV2xy6rTWXWJMxfmWPV662zSPfoUh+OHYB8sxPE8zuCUdt5AH0N9yZV34oOcE56H
VuF5HFeIg6txXDqXTcfJ7S58qA3sYXCxh8NOH1q89On03PWGDsO8JZmLrja3m9YVTDMNXZ257DpP
5rpMcu7YsWO+/b738QdffPv34/J5zhu8k2Tx/Vwk0l2C/FC4wVFmciSAWqVUWHlHmdPlsKuzQCs3
mtRZvFolk6sNDiuYXFkAg8Wup82OXpPLlTE43WPr1HqMTktlRcaSGR7/2oQZ8nboEs4nTbe1P/2n
qLr8OqEdSpNyrHXm9qHY4WG5u8jSEPN1st7WaJl1k2JkccSIX+vwIyU5wS+JQIK4J/Gclsvh8jku
WS9TqzQ2p6MsTwum3LF3nE2jZqwe++dcwO0OuCHPLLRb4CP2ZvTo1oULty6EL9gLeaWqIL+qKr9g
XcpoXNpn0hvi7m9q7J+/VXhIfKW8MSEdP0U6VFwN50XeuNyRjjKjgSLP4pEMmUFvdJS5+VqwRiOj
7JSEBCLXurRyLcgTCNJot7nBBVZ5hCE2NSa6RG8oiYiXqQnkz7h1efcPtBlVxrxokiRLkMVFRvF8
X4unT1WSZXiks6Z/g7As15xf6HcY/AUm+DSST4tOVWQk6C0lhliVNiaLjH639Lo1Xbn1hfb0VBmv
iVLHqOJVicrolu5AXY7Tlpb2xkLbyh/BxpR0nSfXOdOk0+MSuAHYx/2KyR2TugFJ2qgqcL3BJC7I
q5hEamVJuOVJz7f4/S09vEp/YvSvJ/Svkg10XA6Oe1Ua59IkyU3OpJyWnp4WPzmnf3V0w6v6EySF
jlsB2+E04krANya7nLJFbpKbXCYXRMumyW5JuW1Ojc9X03VbChnatq201ThStGZN0YixFed6uARi
hHNUm8CuRmlHqUMph3jfG2/gH5yjzz6mwlxlMMB9yI3QNbm0vOl+7yrnSFqQ09BrhDvGvQUacb1q
A/n970HjpXxAfX2HW0jXENLWHzBNFfWUwU0OLiRmvoLOBdxu+NgjWOr5iqwLrVkc1WEjyocH5UPB
GVBCbVmEbr/eSlAmQKNPINos3uYmLqcVPr9tuTsnz7Nk/RJPXo77o8Hp+UoAlbl9oN2sAlDmk+D0
tZvcLbevbGpaeXuLe9NaaBweKixaMFhfP7igqHBomNHzMD5dhfxEywUGl11hgPQbC38UIE/4RimL
qZ4QBdKjRj7o1DpwitIqN7iByab8OLiFFFhg73I3zCIBcsvCBdsqfD54rKbeHehqGLz15v5eD8Kp
wHXxCMeIQB3UHkyAIpNnoXGgsm+yZ+FHFAskNvnbqlx1kbOiV/TMW1tW5HDdNtC7CWbygUp3Zzcs
8vEOT3WrxzVv2ep59h5tymDNwE3X9FZ4u2qb2xgvZfhUwWcwnefyxP3WgZ1XGHj4c29vQLgJTiDJ
//itb+1asnf0GegU9tM1q5FWBfIkjfJE7mIEUtJcIdIMerlSR2K/KC0aufPRa73XGRvSustmLVvu
b/KugELyxGMRu6+6Zk9LXUlx5cisjsUlsITRU4hwy9jeZtDdl2udLlHBZVTnXckSbDQFsKz2WRKj
SUoe2r7n5J6mNbuGh9u8QyRY/HcSEcHvGl5+/+6lnf3C/Yu9bYsWtVHZMyDs+dI+6nCVJnhLGCSF
gsxDtxJM1Pb4cEwa4pdzmRx+wOll1OCVkbAdoIQ4XVbcn3F7CKvWdnau7fzk52tLLWVVtxy5parM
UgrRy6dPXz4dFnZe39l5PXxx/VxbT0rKQNWCm29eUDWQktJjm1vQ7nRNn+5ysrUXIW4H4k7kUI21
qK+ioXMyGSKUEmRt2Ve4bF3O8J246OZrdw0PeduG4y2fkZhdw8vuu29ZYAEsHt61aNEuhMd0DU7h
WhLHtS15gtbpwnQPHg2pIM6tRt3+BOfy1BJQ7Q7N24Na3s9mMV0nN4zrbch2oEyBOh7UeQ5iFHbA
SiEDznU+9FDnW80ibA93B467VjqDUWPorwdO4zj6uNbn802Gp3REqiMdeeKglUBhvdX5EMJyB7+E
fcizUq6CWiyNxDIX/oYERWswSYeEPCHKIGOng1MmLQeaZpDe1ube1vpmpbGyqKBcNiti2fT2xU5Z
XFKcKjpFlg7TS/Tm/KVsydDaNtjX5G5Wa+LTHdbKioKUFEf7/OHpnaWR0dGyKD6KRKndeqvrRYkp
hMvFPR1F+mLxLOOAoXY5KV156FDIxt8yqlxaiXy7TcvIBZPRNPYRRFbYa+qj5BVllTMhNqHFFg2a
3PYI+SM33frsoa031zVvuuPxD//3sTv6V7r1M41F0TXTGhatntsBcx0NAXf1tMGBmmBq9dqmDfcd
vH37z6z2hvefevKD2Qtu2TijyEJIVc3yaX3buTGbcJDXMO+My9PJDdFgiCUQFF7umQfzYFbv2ps2
njzJay78HXLBKrxD9aYd50QTulcq5jEp7DZHmYFXiHwXLRevxmOZ0G15NHD42EPrV93h9Uy/7/qe
nAKnM61zLvQJn2/dLOwl5/qXD5QmLW9aNkyeEKJSnAW+EiYPOuTlHcwvQPmiTGM8U48xiNyx4NYb
f3Hgpg2DQ+se/dvZvTeRg4sHD104NLjYe+rRvWfZ2iidNyKdcVwqx9kpeRKnDSa2F+iEWcEC7dv7
trpvXFd7+0B5zfRVJX0DJVdNqyHnjI7lv9g/Um7y6Yq6bt0225LF6EKYcJywM9OukMQZX9thi/B7
KBBOgp2c833gE/4onZt0/OM4PpraIXrGKgwKHTwujH73XQDmkCdw6Fa8zIln/pd8NK45i47VyCih
IQmRS+ItWlwDvAWVJKfEfm/HI2c+fvzVG2sWPbzhQJdldcXwkx/Autnry6s9Zx7Z+/HjFdsPbVw3
1+LYsojC9yM/1oq0K3XoNiMl+LA/AZsCaPsDAfgV2EYTYLWwnVIEHF3CXsmPwYF7A+TcaAIjFoIv
B3/OfYr/q+g1VQLIcWdMLuqLRTgUn/KK5OJZjZ5iq0WVqYiNAJy431xUr3WX11sSMtMsKWrSOcYf
0ifRBHYUPpBTmh6F+lXCwzByjfCGGgn7KTQIjwkrYK5aeEGkjfJ1pWjfUf5wDx59W/gzopnnE6+r
gx/yy/lMtk/KaFAaeEMsoFTugWRQ7pm9gHx5jizgM0e3kBsunMI44xTJxCgDuBnBv5Av+GRqrewK
UNDHDNIeGD3AJ4/uJq0XPiXDoy+Ifglfzs4OBa4jR5MkyzEm5eZQ3c6hZ0Q8NJ49K7x4lsQIwoGD
wB0kwTPCi6dOQeP9v9y44fnnN2zkQjIKf2T+W6rIZSqlVIWQoTxTLCuPKrTe3ZWXX9has6am/Bmt
obzEAF7hOXIuIS2zp2yo2gZzhfO35drSEyMkn4mvRtoSmCRpqXHMkYyOCUxMqpIkI6kliZtmHaAk
bujzPgcltdZ1lXvPnt37+McrVkHJbXPWbvwlJbf8l8LvGg0mpP7M2b33Xnv1GO2EQ9rj8fxkVoAq
PJLLs2VQV00mR8Y/mmauqcpGtpQaUgMrKufNLBya8/nwadT3L2LSywty7ZlJEcJTwkFyLrmws2bO
arnwLEyje2hGG8DhOorwjaQAWSQbWIQU7n9Y+WKgRzRdE5xpKJ5l96oKMtNtlnJX+taFc29OnhkV
qHL3KtTWtEyrP7B+Tu0Q2WqZ6bFrjZlJcRqlrrTRMrBlWZe2akanO9WSlhUfr8oNtHUuqxFlNAaf
jrG4E2M3VGCHTg2qwHPwKnlidB66Ez4c40VaB3EMs4cqjOUYbS7KEQdKEXKCKghSqXgYkpJSOi35
M9IUySSQmu9fd01HEYaOQq0lt0GjM+Vmq2vyjVERcFgwt/ZZZk+3DE6DP1I6ZMHjZKko8+kEdWXB
H/7QI7wpvIlif5jUXviQzxbpjQ++F+HiU6nNSY+wQyzA4t+cP/+bHuH98+eF93H0G2Te6BPEceEs
mT/6GA6kc3AvTZIe8vZ09AqVVGE+Pdb/wAP9x97v/8lP+mEzLBdOQ4Zwj7AWnMLrDFcUzvPiPHwF
cZ7CwAW/XvCrXy34OgCN8KzwM/ALM4UXcSw60OjzMD4y3xn9sj2wc/Q0PCjsgS99PmQlg7k4mARG
KfZRUJNpVx9a/vLL5PULO7wREV4pbvgoFDcoXSBP9sCJej4968JrWSIP1Bg/HRdhaHHH0Ng5NiKM
J/mV3u8ueMUxHvAQIzvHOCScrtfzZuub3XseBA/8TPCz7AAdxwV/AOeDBymuSLXOAeeFuGk2mwjD
R8yQSv4q0qGV+wLX2cirxicyJH8A/o1+VSzzb6Vzn2qjC6kxjB//dgckNsye1eKdNXuvn9QsGrxx
/dBCN4E9g01tS4entS2oEQrqfbsWLd7pb6BwW1HWMnHtF8Gl9souudAobQY1FElwheMIeHBo/Y2D
iyvDAAvDfIUw179zeGiXr56tJxNpfgZppoGd2jB28NrHT174MXEHWubPbe1xkxbfsrvuXtwBB5Z2
DO0YmrGsZPvSxTu4sbVPRaNywsqpgQ2tfSapHqJLH6wh/nASpaXDkxdeE+2OHmGfQRoVnJb6LFTT
wrwpTaTOigjhjHAXzG7odja27Bq+ee3SFdcLd0JqlG9x4P94ehaYbrljeMXOBwvKWlrFfUT/H9L4
5pAVRonBCISSSJ2PBD4TA+TH/YWF6rxAao5OrUxNkMF1sE24BrZ5X+jSV8XMiI1PMmXmPOJF+rKF
b+E823fr5H2XTkoprHOTGjCEnfIoCDEhQeA12vprBzciKwL1RTU58SRjTsng+psWDVZPEIz6Untb
5qw1A3W+7AqPpTwvf8fQ8N1UTKQz8gjuQQqNyxVaJhi4tjIrEZdkaPcT+6y5zf7IZIsupyglnvej
OAyR5pE+4W8QrbcUaVL0Tkv2+7gmqjIvkl+hnMeLHHKOBWr7/QrqAevhpFAAJ/+u16bodClaOkf4
5vvnjOrJX8bmAIfbASeY3OAMdJuVBpMcLcDu/ct+99nSl9RI4Ohnz/5WOHdSfRhHAaPrAckOIIYH
cMCF1/B9yLc4gPuAMbZSzfRCS+PrcR4Q5IGiLPTPD0l+a0GTUjW98D5/RFJeps6ilPsDuiJ8hpP2
uoJco/mo8BEoMo1WbUZZSc6/IXZ7ltOW8yWcHPf1jiC+lDF8E9mNGCaxG05WXMRsCo3JOElCWNHU
v4gYCw2JFKPChjd37Hhzx7O7+vp29cXvGF68c+fiYdAsYtEgsxHCN7ioKWyPSR1uIZC+MRvxv0z/
1g0PVYXrX02D/+6hxXd1oLvxF6rXwjeXtGmKS9q0qqHhdesXDU0Q3VE9eDvuGh66B6VV3Hcvwk1k
vKPbxHxeyrXdJNWSqzMZsxXz6EbosjVt6mc/YUwHLg9twVKcV0B9BCuITkKkdix9Mu4jSP7B9IZo
vVqTG5kYmxanl9mqej1VXcoWRUGezlLodhfOrDQ3wTaDKiNLE52YEBMnSyDqaqdnTm15Vp7RnJNp
TM105VdOK6W46XF7ntwsyqpoM2ga7VF/aak/IBmHH/9YPK+akc5DSLNS9A94m5tnfkGOQ3EfH68x
l5s1KA/CNlSib9ON+alJSan5xnSQCV+cOAGJonxB8EN4E2GI538szNu2be7HZ3HGEagWYuErOoYP
vk++gm+lsz+W77tj193bev62cycd9yoMoFPtFqIx/NoLXzOY+PQFwqSRv8muRY3DEFpu+N3+gXXr
Bp/59YJ77xv89s+PPvrnb195hfn9Au7/eRxPz3B23oPh5B97n9zdI/yopxD2CT+FGaN6yWcSpHHS
Wf8MNAppMEv4FA56vcgatiY7nvUZeE7n4ziHG2qgzFmFBw9TSZrozaKvWYR9ZsSrRntxRlVamzk+
UQ7KTFVUXCZGDInx5ra0qoxzdYkt3hfKO7zRqSrNS/mN+apIeXan40WNKjXa21F+yCvZ+n8FC6AR
fXxe9Oeg0ccnX0jh/0qv2ZCedJEeUCcAIpdZwCGa6jI3cVnpq5WwzzR4VQPplyYIbHWJrd5DEkUv
5jcxigKOlySKXvC2iLmPfcQIPVw63QOqPFk89R21zGPEpy1Njtn5jdE6VVq0yhjfaOvO9chSYpVx
CXEy8zMZdxfJtPFxroKMuwsjkuRxMhlP9X+VcJr7kOWDYmneVEyAoCck1UoWzIRTLG+xefQp0o3j
56ML9A/yPtqubPHkNymc9NQXKxFSiULDK2jRQgOfkDJPs43UV3i61q6Z56n/QUVLM5m21BMjPB3T
vMwSsXJVzJ3dfTtily6WCYugM3ZhlXuAk/T1C5bPrUI9QIUxWSNFvdSOKS9o0eVjsUkWYWygB6SJ
5hhNLGZ/++ZBZYQ2Kkku+8G8BTfATKhvqpyRaY/efr1cF0k6ShOz8lWNWr89f8asdGdufdWcHIir
y5MXKkypBkXPuo0LNK39vkqDt0tTl6a0VxDISMjX59s8mZk1hf1QVJLO7KeDsxE7MaKHoWeendNG
Sw4aFU2vy/Q0w24sq4UE6ueztI4nt8D/tL8g1+xwmMf/fX3mCJCrfngVgRE4l1tQWYmfztw90zz+
bwZZ0tE+MtLesUTkD9oH0ok+KfpfOmpRTPgQ/WqpIqWAmH/8w/Xczgepi/3gzudc//gHcHWDdZAg
/Bx8wjn8N8iJftK/gk9BI7lXzL3l4UYq8YHS7vM99i16KN9+S2tkwQb4O4tjm8YzoGCXrLqVmKy8
iSXZJOdKq9EapFAMNwgjMbl4lMDseXV18+qFd2bYykqdivyMrMhCVU5sjcvWdZUv36/RE7+sz1od
ERejicuKz5XlWKzaJV1LZjwLu3Ba/Tzh547aspI0U3p8LEmOVkSXBMpnqwsXtPfnZpfMuM5ljdck
JyREx0XGkTit2V2w1Fm0qKMX6Z9BOmETOSzmPUNyHsp/rrRmZ1uzzxTm5BTmkMPZ7B3741hdLgrj
5BS29kTOjKcsRvBOjOQjcpxJGDAn5RkkkWQO8LibpiFlwvOnT0Pr6dEvIOHoUeHcUaKsifaUtvs7
2wY1NdGLmxfcsGZh86L4U9B86pRw6KnDkHz4sPDP9/KLB+pb5vc0zdw4f+FNHWyP1PAuNLOcIZ6n
ysvFCM8WVrisJU7XkjJi8tTP8DfUmQk5XpNfWOcuKqzKFT42Fc+pqZ1TYmZw8zkd/AyOspojl4dC
69JGsmfI3+J4+mmH8BZ7+fzJ/LfeLdjPnqU87DDL1+IZk+dAo62APwpL4fTwr1C0Ll3riZjAyzTq
TV/ETTxXDDSWs6nykIfuCEeZBS7mJNy6sXVDa/Wh3cLfWyPMitxkTfTi1ZMZue7o0aOw/6NyAD4q
Tp1QhnR1kCH4EdnH6MLzpgNmC/vIvkbGCxschz5W61TTvCx1QI0oInKWM9YyhkNf1/ou6F7fVVJt
KaiGKnwiS9xdXW53V3dNQXV1gaWqSspnc1LNLHFi1YynWQGpcvYGnIZze3x79viEp6T8dhqelHPE
uhHyTTeWsR6rG+06Kvz6TEaZubC0mnTWebpyYLjs2+yivKISc7V/WlW1QbQPuWCB6Qgnl+bJQ8UX
BDK5ahQSo5+a7aXZDVHVsubrO/SZBkOgsWYWVJcazTYnkZfl6fTmBlddkyvbmZBQnVfb0uzSm0ry
TNaLYluUnaOBPTbyV+MDGcyfQT+A+jOaSf4Mmmo8ZMJcmkMVpf4pnJpi4ST6k8BVBYeJBu1dIjt1
FOIvLsDotBNNZf2M+tmr5PKb55Nz9Ree470XnoMDqwfn7xV5McC9xr0DLmrdJlY6wCXl5HENwQru
m+Df6Bqo+H+zurzfsSvjHjZ/Ndi5IPma5RBZre/XMzJXVpNflwnVbK+jUDe9kkxzyZJdMUo28tPN
fX2b+1b3ud19bnh39vqurvVP13TV1HSJtrcR9e+NkP7VAiqeXHxu3EIV71r27H1yf8G7b+WzZ9Sh
QSmnSOtzShbbStKF1t9hkEv1SC2YyIXq6uqvoASqyXbhVko0HC8U2gpvLGtrg3uFR15+mTTjIuBY
ymhcimjrQrAjpS4HBitySkmkZfeDDOjLk2XyJYqFMSg4UThJCkMVwfkRT7u0BgXnnLwGJcLmr0Ru
+aTxJd5EsZZcWpDDlr2JkgEXLifYhHMLf4J96BuxOpLLYJTiITn+hswvusIq0fi63FF2iUUhIXv8
yspI1UwWd11ZFQnMrDzH9kqsyXzCajLx41UZHqVnYmEmIXCdLbw4Qx5jmafLwCBUkScC+W9U6wlA
XmMqPgbjNIOROJEO0yRKsn74cOXgwglgqm69taizcxzOawxOZjgtzNlltbCQjyebCBZKiyoM1rK4
rLTihApDeolNpVRPQGIxdWi1JUaDVauhgh4h4TrCcCloNmcM22TnYCKmyDBXYQKGR3PYZ+xvDP4/
GXwVza+Hw1eHZEa0ETQjNwFJl7+iwpxfMaDKyDRmZExA8zq9UJFvlmcYMzNUygypNsd/wGxjsogH
dFr2q8RHLAFBeLm7F/wwTS+81Qf5BuHkOrDphOvWrd9w4gQ55/vQJ7znAz3kC39gNkkXrJBqaimX
qKrxaCIvqqwtR5s5sbp24ZhoQqX6xXGUM3YehlfEAKUkrComHKKZUak0xh+V5PQy83kUsrD52+nh
E5r+CZXQ0NzTOFdxMW7TBOwPMvkcAzB/TDZFGEcQhpLGX+FQuEkCEw7vlXDPMgT1SLiocCT4b1zh
EVybWPvGc43a/72BTsYJWkk7TtlAOAuO+1f4OEr+3kCALZmO+zdbb/BPdNdwvTyN7kPwTAjxaml1
dOwKaWk0E4Djk3BtPFsdm2GctKa9Af+ElVAI70xYBtLHSXXUJE5HOUSz6ZeqpVJ/qL19yorq5s2w
uhXKLyqr/r2V4hDrbq8hB9LHK29TGQixGnfTFIYhvELHd0wwDLxYr0Me03qdesqKHbWuF1XtBDfd
rMmlO3hjzM5+L1wqxxfD/Y7u7UVgv6D7HIJ5msHUXopW01TUWkVBuAjwojF5F2G/xmDnTQl7KqN8
MabpU2zAxXg7J5pntJ8i/iMMfyqVp4spmKx3U2CfGS60F2F9fYIAT+hzw0h+rEXO43rhUPkLL5Qf
esH1AuBj7G+MT5Lvh663C8SgNxpE/wCkeJglBcRcqvwlODhr5cYDJE+YNvuqDQdHm7t7z+7dvmKe
dV7/2b07rpr7PBxo+uXG5VAqtLc9v+EqoaZ72V17z/T0FPWs2LX3VO9cpmusjojylE2xfk8lsRa0
8qmriRuYibl8RfH4mA3+T3DSUHJqnNDC7NXlkf5b9C1COE8jzrwrWqfpEitdKZm+y6NdMSb/It4j
iNfEFX8vZuckUZyahnuYrJ1mMvl9lEw0rkSsnyLvo7i4sAoq9dLGqqjXI1/DK6ni8RfWO5DEMoes
Tjp190DAPLl9AF3lc9um6h6g+pLB6ovNtC/aLlXCJvYlysWORZPR5NCEGiBlakVrYaEpfbZ11lWF
5tbu/dfMvs6oK5ld0eYpNVTGxsM2744lpfrcpTOtflXq7R1XP0K8kVd3WjrS8uReaCgvrcnKypk/
+gruEasdYtxJcyI531M5zaNme6rqqfAJ6sCUJdRPRcH/z/AwMz4VHh/dnanQQHLIjxbxfMjw6K9g
PaZLrOhPTNanRLZZFPAQriMMV8n34ZrK1E+J+dsprP2UdKyZ7I+L9Bxm9ORSibosRbmTTf+U1ATD
9G1KKj4JT/WFaPiE0ZBHtf6yNJBQl7szNGpqMn6Kzry/co05g7rrU0uAmjr1lX55hlKVkWFmspCJ
50o+xp6ReK44aJ+XFfQJIPV7OsrCq9nj3YBamoiUO5xSAVMDr4iV7INzva3WUh+8JmwPlbqd87Md
62bccG3HtCqoaSvv6l25QJ2+yLniesgqa2ldXTDTaCrM17EKeElRb/u0dr95mj+rPaO0pKjsAbQp
mcEKqf6fdskOABolTNEFYMA4YWInwOhfpTiBF2v2qGvUo0m/dNWexbiXrNxHoUpPqt7DKqrNVwyf
hb+XhP8K6vJk+PeLPpkI/0MGP/Py9Jsus4IUpsKTccSGfPYICc9hhoeeUZfEdFE4e0mcsWHO0mTM
KycmxQnNhXFvs5xfWMyy3z+bGlNW3/9UjFlcKB0kfBzl7H7/LGoN2biQ+cO45WMcm4O8mxS37Pdf
Kxo0Nn7zeNzyCY7PQB5cJm7Z758RtioRwieT16IPnieJfC3a9kJ2FwV11rIi6Q0EY4plZJUcPmQM
UNh7C7tKt5o3q1MrTYWaIm/AMrxjy+LuBstNt5o2lToXNLf19ra2zecV1or8eflzVemNjT3LyxuW
uXN2Dg3cU7f22u78ORYhpn1gqLVleHA8xj2CNjmF0TFlZ4BrClN8UbeAeyorPGUHwSQzLMovScL9
ihbjlCk6CqjmhXcVCMdwzye1FsD20Nn5vfDYgRkObwWKxmRwByQZCcH7kMHTXoo+0yQKX2TyMxmo
OXQWijCPMJh5U8Kc6gCcgOFPU7B8Mr6UyWeeiPewlIHSTYX5ohhnAtYPwmR7MrY7w6Wcx9gmBmOb
f7EeGy2toevUEWNdNslj/9Fm+q9Zx434957P1ys13cAPQ903dB9UwdMkC/4ZintqpbgnT37puOeu
zy1VbX1Q+s98fBECjc4dw3M9HlODY8fwnIbGzZ8bFrWVP/CZblFbhXC2saFr8U6Xx9jg6R7e4WgU
9YP1RqAssZz35O4I6vxP6JAoEk3RFF0Sn0p9d5eFR+3UBHjnRZM1BTzRhIXgfYjwUqemzzSRwsyQ
WZsC5piZQ16LcA+zzJPhYsiTg48JODzhPtCUmCaZQ7TDrHcD+cJ6AkLdG5T8sQ4OiEZmjLVx8J+L
62e9RHwFxhkZrCNzYv9QeNFyd1gL0RnJZ2IdhlILUUS90B9ylBgPJJrE+q12nKrJp9sYha1h6x4n
9HeT1gpcDz7vh5OhvrD9fvGMEPs5pd7xeBrfyB30DlKXWo7RU3t7e2DTprehttRfCguFEwF/QGzk
B5qd5L4U+9LC53R7vX6vF1aXtpTCBuE5fBG6QvetRSwkQZQY3Fmdw5AAJqnrGl3MsBzjWNaDvEdK
H5pLe6+7H7IR2Cq8DkXCcXCO/l5KeuycFgDagN3Zfo+YbyT/NdZJzmwdvxX9tkzEZ5noNZjGStcY
6rrBFfIgQpUsfit6CpLnULUiLevq2uEdO4YbVmWkD7tXrEXXknkRh5lpEv2HGrujipolUl3mqCLM
k2gNtZ7h2lnfNsb2RZz9P+jcpiex1nWF/dtRYth/ZV3cX43pHBH7xVCXC1h0dCUdY0qRrivoGzOL
en8F3WNAQmeUGP8fwdcklpUPZQDIJAUYywY0hCt+eFZgYvaZrpX1W7M8Yvx4F5bI5rC+62FGNeu+
PhpiFBH7t5BPU8wN6+Pysbmsm+svobnARQavIbSXVi/tvlyWCHa5gad5FQSAJs5F648sqUDSElNT
ixWxianXx95QmZLlWm9L0uvtmZooecXM2EBGYmtHLl8xLTZH23hbo/CbLUX+iGmgyagymsDZ+HBn
r1inLobbkNZIsQfbJBfJIvPG9n3CGBA39DZx0IFxui/dQ0CvNcL95Bjli9KuCfWDdDSlbU1riuqt
dfeRY42NNdPYfQs3kn7ubzg2rC79QzE5dGws70Nr6wpC8z7JbNTkkPO28OiSfDIpkKR1bSvQdE0S
x1WBWmpSkYtBwmN1/hxtdmZMlq6wnjitGm2yJ9Fe4JH40A7PoE9E/eopvJ+bp0rrtk9wcAjXRVpg
PTkv+f5y5s273p9vrvobPsjHj8TuTcCHyHeME8hZ8h3LoTpCqs7ucLerdSyNRJ1gSr8W3//F0/ny
9h0Hu+ueFr5pHcip7q9adcdgs/B1HV/+k2UPv/7OrpFf2Pm64qIDN7iWznX91w+uPmQpruP+X/Yj
4P6S+aSY9b8bFCqtwehQGGREbnAmu2gHml1H5vQo2pXHZMWZ07Oskd258SUr4Hn4VDiwxJW5Hmat
Ed5ungl51yaUZYpnzTE4L/bL0NISvXeANswwmjdxx/ghqZcGr20ip0czxIvA1cAZ7gyeH/SaSand
4l3thDPpXFCN16rx2mnpGrL+AbxGgulBNZsXDHBnxu/TfhCvSfdpEwoT7mTz6J0sJlqLx0cxDhG+
HYMvfMewXDSeRc74oBBBFkIJkQwvoXjhHoZXLmIGCTvEh0iACEYIcF3BXviGhN13LjbPcsGZTz2F
f+Tcf/tGV5PtPi5srHJs7FjHzdgcNkucJ9zre/ddHyxjc5dzL2Es7aRRZ67U86NWwZofjsDIwyMv
jfg6RkY6fEjxSjw7r2f3qTMfJGRycye97hR7S1aEv4h30+aEPSMUPIsjHpjw3Qo2rvo/+X6F3In2
gA46/31fuQCj7OUddunKvn+hX3zJkS5z4v3tOpCxvhWOqbX25rA+MbxO+1p04vXwfhaxk4WD4Hw8
Xz2ibLL7+TWsYyQoNaLQ+0vOExcR2D1drAIt18l1KrpKtU5uYE6LmplWE54Q1Glx4Cs7KFw1y3sW
x0KLVngNANK13yUs6VrUoO1zX3uX0q+1E2jTlitvv3E1eWNW1eq+usgMeXRGZN3QSHVAlXnnjjqV
Ro5vN+1hdfBv4Du+hmUkuTzRR3IkAO0vVYTuHlYzL4BXI+tpUPiuse2Wru6IWEtMSkfUQFND0xlo
Livt+O7ZGXnlj+luWzUnPsoQZfVEgfm2dQvbD7yn7wzUwbGv/nvzml7xLM6F6fzt7D4/jXQXGY+/
9Ea5dNBJGsDfXk12mLaR6kU33CgEtlXfSc4JPbBEuJ89fiT8DxRX0zfV/9/sKr2P5zy/Bfczhd0h
o9NngkrL7mQOb4hUmxxlrENXhpftOhu/ZdQTGb1yz8ydZbXVB4Z/IQi/OCA8Ervy/t0rYyJJWiSM
RJ6Ij726saZ5xqnH9p45szf53cTYkdUxSf8jpziLg18THe9F39konVJjnRWiAy2mapSUjFCL5sqM
6Uuv2Xvf7YtGtvY3DiiBrJ0zuwfah+MSu6ubBn3kZHn1iV+/+u29g2t3t+bG5951YNT6yOpC37o5
fvG7CNBXIT/mI1helrM7MAZR5+l4K5jQc5frIaUHVKO/g1NPyKujImROuZO8OWp31cITqj0Zmu2q
UN1kNzlDPmN2zSDdXWtw6MiZte3CkfZ15Hfkxxc+4xX00UzHp+J4L45HDytS54gGFhdEg1pHvKNv
gUX4iCiFuRArfADHFpfBGrjO2RAh/EjYHcFqmu9h3G9idh7nYXz/Hr0P8Xv170p65vKCfeQafj2l
C1BK0QooKdNdSnLNV83/NVNx9w5ZPETGvMmv/+4j+Cq7pEJYrHFmF/HXIdZy7g4+DT7g0tD391Ad
F53q8ZSbhn3LQxZE0luFXdZocfvyaMe/PPR9EnzawgZbT01eib+goX+Bt7zXWZfprGqZM/pbUOSm
5iUaI1CIUqO1CRqlNs5eVQ+/hbSKrEpS15Jvq66FCtLe724qsFoGWrwDTbXNGjPMey0uIScxP4Jk
y9Kj1FHxkZFtDlvj+ew0N2lythVXNIj3TQbgav5eVgsS/Va1KpnV0sRbm2mXA2FfOGC3wdXxKjyI
jInFhtaCzIQMbbbKlJSeY3Tn8pudcWmW+2YJd3btbHUmlyek2m7vghsC3Utz8kVbYOfuIRXwDsZq
9HsMRPvDTCEV9SyizZIhG7Lh4s8j8HOSmlPWlWMv9hgNpWl6V7/SrDZH8KlyZWxSUpSuJDXH0ZVt
L27MNdhSQ1cjs+JTNHE5JfB2xrA6La/AnDEcG6MhJD4imo8kprsyh/DTQlMm+5RPkkVHGJmslHOF
xEEc7OxlX4aE8onCQL8MCYMBFzxv++mRaZAo/Lk6v+zpl6ahB5ZRTfQr7I/ZNymvwucNuNZyLgJh
bBFzDkXgyFNHqiO1OJ3YhHj4UmiEF3mBh9FF/3L+q+YdcuLhMpFHFTivLDRPyb4QwpFHY5A6nBQP
LwhN6EpFwndkC514nBwfPVQmfpfFm8TF61CPlaL0Ku1KHg8TmZwXhZi43q/93/dr73ssOo5Exz+y
NzEiIiYGrhPmwI9hnxCAMmVuVqrwtvBGnkKvFPM06QjpJXZvIPuekEvdH+iacIfb/ZPvFnw4dMvb
VHcNeifcOofroDifQZw8rTbQ84K/BFZ4xn90MirxHjhh1lS3J/5fFCLmyQAAeNqdk99uEkEUxr8F
2lqboE2MSU2jc2HiDR12oaSlGA30j+2VpPAC2zIFZJclw1JCvPDWK+98Aa+st76Bz+MTeKPfDJNS
jZooE2Z/e+bM+c7OOQPggfcMHua/Nj459nDHe+Q4gxXvueMsNrzXjnPIe58dL2E7U3C8jHzmjeMV
VDLfHK9iLXvseA0b2beO83ic/er4Lm7nnjheRy73lIpebpVvH626YQ8P8d1xhjkUHWdR8l44zmHT
e+94CT3vi+NlbGZCxyt4lXnneBX3s77jNZSybcd5HGc/OL6Le7l1x+u4lSthHwlGmEGjjy56SCFw
xX+AKnaxg4LjKucFly2X4HOUSHV0GOcMitxitDHjKMR8CpxgiHOuauqYObRrHUiumZ0Rh8Dptf7Y
vik+Fb0vnS/2k9FM97u9VFyJoLq7U+BcDexcLoiS75dEvZOcKdGajVMVj8XJ8DzRo0SHqepIIepR
JE7N/rE4VWOlL2kFjjCh5MSmZVJPKSbQYKIJBlyepBMdilbaEY0kocEk1qV/RH/NV9WdRCEhYIrm
KKqo8ZMOGOGQdDP6PPbWInYg/VK1Vj9oHNbmMlTZmqv8dd+vzi/Z80e2MosUmtwmbHXmVp8Vq9la
a1ujuVXSauwxZQa0J5S6oDViLc6szzb/ASrshAqF2kdinnSzJXyf6Jdr+4lWxirL5VocDlSSXsio
fxbIbRlUdiv/+C0/l6Nve8GQtsfed32lbU8IsvHr2E4z5RjQlvALTAFDRjGegqczY+eZfirYEksW
SF6Xtj8WodCq22fTaNURqQ47Kg71QCQXohFOlBbt2UiNC6Il69zWtJEj16NDDqOCZjhhe6nhUPHF
dHFKzT0UOaZ2SJvp/I5Iex9irqUuN/TSdLRXLE6nUxmaLpbnSVxMKfw/0YrMz5xXyKe0+2PSnzWK
keqGkeylcfT7G3HjHmBRPFuyH/Aw/D4AeNptzXeYzwUABvDP9+64Ya+GvTNz95NzF5W7s5JRkZXR
xckvOTp3qSSyN0XIXmU92YdsQtn1oKVNZRfSv+Ke+9P7PO/z+ed9nleEvNzJFXK/3LnbQIRIUQoo
KFqMWHEKKayIoooproSSSimtjAc86CEPK6uc8iqoqJLKqqiqmupqqOkRtdRWR1311PeoBuIl3P1u
6DGNJGosSbLHNdHUE570lGZSpErTXAsttdLa09p4RlvttNfBs57zvI46eUFnXXTVTXcv6qGnXnp7
SXoQYbkxxtpttovGmWayhVZbEUSa5AejzXTTLVPNMcHnfnbDImvc9q//LPOpI76wzsv6mKGvYzJ8
6ahTjjvhpEv6Oe0rX1vvFf943zfOOKu/K66Z6FVhAwz0mkxLDPK6wbIMkSPbG4a67E1ve8sww71j
u6VGeNdI77nquh2+9bvzNtjogj/s9Ke/fOI7vwVRzvnRT371vV+CAkFB822y2VbbHLRFrkNGOWC8
tQ7bY69dQXQQY4rFQay5VpnnI38HcUEhH/vAAitNN8uHPrPP/uiczHB8fEp8vs3zDKUl59kwJd/U
tKgWOVmDYtP7hcOJCaGk5NiMIdnhgenZGX3vDUKhhEb5Jv8Pw7iPrAAAAAH//wACeNody0EOgCAM
RNEPmoAbDuW9NHJX8BRo/NJm0jeLEoBidv6JZBYSwZttG4c+uXSl6e5GboZ+ePU6//gA5SEJGHja
jZPPK0RRFMe/575nZkjijRmaJkmysLDQJAtZSKIUvbCUF43UNMTMipC/QP4Cf4Slhb9Csabe2t6P
7z33UmNMWcw995zzOd977nl3IAB6UMEVpJY06sjRk43NeBQl4PMTXcwLDEK7oy8IkEmSWgMT1eNk
F1O1g/0EFV3nDo/36lg4aR6dYJl1RmtdvfUCqljPrU45w/OKGMEEZjCPJWxhG1XUfd0Oa6y9IgdW
XOMBqfTLrNOQdW93XF6O5Ebu5NH4c03J5Y3nza2P37ObIu/6glM00EQNZ/oTxgYwiAKz45jGImLG
+jUe4AnPeOPeRmxfIakyuUl/z6zm8nrfCOmPZ1fLB1QuYczTuT/pds6pDrZwQ//kCh254i894V60
pxDvzKxqfKUl/sH4mo8HOsGyzgKqLJzWdwd2DbgOa707t9szRu9Z1r7+IuIWwrDzcdXrpGL9gY5k
3EYaEtm2755t++pVavbyXa6zIsNbvnICEZXyukt1F/L1Rjrbc9IR52htSnuhfkFtSms1+nDpqUtP
2X9TnifbrzGic3ZcTrm82vTnDRmeZny/xnb5BeIwSR0AAAB42q2Uu09UQRSHf3v3CewuKOuKilQW
kBgtiCEQSmMkofCBD5TGwgpjYbam8LmVleVN1I2iEoE1AiGYQAwbg42xvAlb0dishX+Ajt/MsgrZ
oAjeL2fuzL0z5/zOzL1HIUmN6tBRhW5cy91UQhGeyBjZN6HR67fsM1VHvPO4e6z4zGjOzY0pqyE9
1BNNqKhmFcwnPcOeY+Pmi15wnzCzeo1N0p9izrT5xtyYZhjPY4tmTSvmq9IaxGPBBHgI8BDgIcBD
gIcADwEeAjxI01iR+HOmhIeA3jg9G2Mes/689V4JpaumQlt2bUw96lWf+rWqsrxop80i/CjSgq4O
Mi+awPi/rKidX5ldrLU6xszYdufWDM1FMt5d3JzJbXt65wazq0tEz/DFJGg72e+t41RqZtmR0lLV
nGbf+Bvf2DGsuVOcrY7/kPE/nzLfl239urjVU6jYk6AXWLbWv9OTqotbcXF97v563AWz8D/y3ayQ
lXmT36zDtUFVjfXs8P/ite68qQG/L49vpws8HYewuiGiE2D/3R7F+X971cA/3Kcm/uN+pTQAIV2A
qIYhoSvQqBFI6jGktARJvYekliGsj5CiCpSpPN/1Aw+ejlEHmlnZAnscTToMB6kOHTqkI9DgdISc
jrDTEXU64joJe3UKWnUaMk5Zkro2qH06AymdhbTOQVbnoZ36OUQEq36/LkKbLkGzLsMBl4/n8ono
KrS4rGK6rTxKbG5xPYWkCnpJ9FfQSjWeJPqU3hD3LaQ1o3kiLkBW77SIZ7sjMbcjMX2ArFagze1L
3O1Lwu1LklzbybuL8+jmHGoVdADFw+gaQcsd3dU93dcD9CzhcRkfZbv6J4kPR5UAAAEAAAAIAAAA
BAAOAAJpZGVvcm9tbgABbGF0bgAIAAYAAAAAAAEAAgAIAAwAAf9WAAEAAHjaY2BgYGQAgmNX9GaC
6J3KD9/DaABOKge7AAA=) format('woff'), url('FuturaStd-Book.ttf')  format('truetype'), url('FuturaStd-Book.svg#FuturaStd-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}


