// Breadcrumbs
// --------------------------------------------------

.breadcrumbs-bar {
	width: 100%;
	border-bottom: 1px solid $borderColor;
	padding-top: 15px;
	padding-bottom: 15px;
	@include font-size(12);
	line-height: 26px;
	color: #2d2d2d;
}

.breadcrumbs-bar .breadcrumbs {
	float: left;
}
.breadcrumbs-bar .social {
	float: right;
}

.breadcrumbs-bar ul {
	@include listReset();
	font-weight: 500;
	margin: 0;
}
.breadcrumbs-bar li {
	margin: 0;
	float: left;
}

.breadcrumbs-bar a {
	color: $linkColor;
	
	&:hover {
		color: $hoverColor;
	}
}

.breadcrumbs a:after {
	content: '>';
	margin: 0 10px;
	color: #c6c6c6;
}

.breadcrumbs-bar .social li {
	margin-left: 10px;
}
.social a {
	display: block;
	&:after {
		font-family: 'icons';
		display: block;
		@include font-size(26);
		line-height: 1em;
	}
}

.facebook a {
	color: #3b5998;
	font-weight: normal;
	&:hover {
		color: lighten(#3b5998,5%);
	}
	&:after {
		content: '\f10c';
	}
}
.twitter a {
	color: #4099ff;
	&:hover {
		color: lighten(#4099ff,5%);
	}
	&:after {
		content: '\f10b';
	}
}
.instagram a {
	color: #815240;
	&:hover {
		color: lighten(#815240,5%);
	}
	&:after {
		content: '\f10a';
	}
}
.share a {
	color: #0e98d1;
	&:hover {
		color: lighten(#0e98d1,5%);
	}
	&:after {
		content: '\f109';
	}
}

.pinterest a {
	color: #cb2027;
	&:hover {
		color: lighten(#cb2027,5%);
	}
	&:after {
		content: '\f124';
	}
}

.rss a {
	color: $linkColor;
	&:hover {
		color: lighten($linkColor,5%);
	}
	&:after {
		content: '\f125';
	}
}


// Breadcrumbs query
// --------------------------------------------------

@media only screen and (max-width: 768px) {
	.breadcrumbs-bar .breadcrumbs,
	.breadcrumbs-bar .social {
		float: none;
		display: block;
		width: 100%;
	}
	.breadcrumbs-bar .social li {
		margin-left: 0;
		margin-right: 10px;
	}
	.breadcrumbs-bar .breadcrumbs {
		margin-bottom: 10px;
	}
}