// Buttons
// --------------------------------------------------

button {
	border: none;
	outline: none;
}

.btn {
	display: block;
	padding: 10px 15px;
	text-align: center;
	background-color: $buttonColor;
	color: #fff;
	@include transition(background-color);
	
	&:hover {
		color: #fff;
		background-color: $linkColor;
	}
}

.btn.grey {
	background-color: #424242;
	&:hover {
		background-color: lighten(#424242,5%);
	}
}

.btn.rac {
	background-color: #1a1a1a;
	&:hover {
		background-color: lighten(#1a1a1a,5%);
	}
}

.btn.envelope {
	position: relative;
	text-align: left;
	padding: 7px 50px 7px 20px;
	font-weight: bold;
	font-weight: normal;
	@include font-size(13);
	
	&:after {
		font-family: 'icons';
		content: '\f110';
		position: absolute;
		right: 10px;
		top: 10px;
		@include font-size(10);
		font-weight: normal;
	}
}

.btn.fancy-orange,
.btn.fancy-yellow {
	padding: 11px 15px;
	border-radius: 2px;
	text-align: left;
	font-weight: bold;
	&:after {
		font-family: 'icons';
		content: '\f107';
		float: right;
		font-weight: normal;
	}
}

.btn.fancy-orange {
	&:after {
		color: #c34215;
	}
	
	// Gradient
	background: rgb(242,107,26); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(242,107,26,1) 0%, rgba(242,82,26,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(242,107,26,1)), color-stop(100%,rgba(242,82,26,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(242,107,26,1) 0%,rgba(242,82,26,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(242,107,26,1) 0%,rgba(242,82,26,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(242,107,26,1) 0%,rgba(242,82,26,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(242,107,26,1) 0%,rgba(242,82,26,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f26b1a', endColorstr='#f2521a',GradientType=1 ); /* IE6-9 */
}

.btn.fancy-yellow {
	&:after {
		color: #c36715;
	}
	
	// Gradient
	background: rgb(242,160,26); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(242,160,26,1) 0%, rgba(242,128,26,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(242,160,26,1)), color-stop(100%,rgba(242,128,26,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(242,160,26,1) 0%,rgba(242,128,26,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(242,160,26,1) 0%,rgba(242,128,26,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(242,160,26,1) 0%,rgba(242,128,26,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(242,160,26,1) 0%,rgba(242,128,26,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2a01a', endColorstr='#f2801a',GradientType=1 ); /* IE6-9 */
}




@media only screen and (max-width: 480px) {
	.btn {
		display: block;
		width: 100%;
		text-align: center;
	}
	
	.btn.envelope {
		padding: 10px 50px 10px 20px;
		&:after {
			right: 20px;
			top: 13px;
		}
	}
}