// Dropdown menus
// --------------------------------------------------

ul.dropDown {
	background: #fff;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 160px;
	display: block;
	padding: 0 20px;
	position: absolute;
	top: 56px;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(26,53,71,.1);
	border: 1px solid rgba(26,53,71,.12);
	//transform: scale(.8) translateY(-30%);
	//transition: .4s cubic-bezier(.3, 0, 0, 1.3);
}

.dropDown.user {
	right: 0;
}

ul.dropDown.active {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: none;
  transform: none;
}

.dropDown li {
	@include type_2();
	font-weight: bold;
	margin: 0;
	padding: 0;
}
