// Forms
// --------------------------------------------------

input, textarea {
	@include type();
	font-family: $fontStack;
	background:  #fff;
	color: #6d6d6d;
	@include font-size(13);
	padding: 15px;
	border-radius: 2px;
}

input[type="checkbox"] {
    -webkit-appearance: checkbox !important;
    -moz-appearance: checkbox !important;
    -ms-appearance: checkbox !important;
    -o-appearance: checkbox !important;
    appearance: checkbox !important;
}

input:focus, textarea:focus {
	outline: none;
	border: 0;
}

button {
	background-color: transparent;
	outline: none;
	border: 0;
}

// Select styling
div.styled { 
    overflow:hidden; /* this hides the select's drop button */
    padding:0; 
	margin:0; 
	@include font-size(16);
	margin-bottom: 15px;
	border: 1px solid #ebebeb;
	padding: 9px 10px 10px; 
	width: 100%;
	position: relative;
	
	&:focus {
		box-shadow: none;
		outline: none;
	}
}

div.styled select { 
    width:115% /* this percentage effectively extends the drop down button out of view */; 
    background-color:transparent /* this hides the select's background making any styling visible from the div */; 
    background-image:none; 
    -webkit-appearance: none /* this is required for Webkit browsers */; 
    border:none; 
    box-shadow:none; 
    padding:0.3em 0.5em; /* padding should be added to the select, not the div */
    
    &:focus {
		box-shadow: none;
		outline: none;
	}
}

.ie7 div.styled {border:none; }
.ie7 div.styled select { 
    width:100%; 
    background-color:white; 
    border: solid 1px #ccc; 
    padding:0.3em 0.5em; 
}

/* overwrite for the HTML5 Boilerplate way to hide labels */
label.visuallyhidden-with-placeholder{
    /*clip: auto !important;*/
    height:auto !important;
    overflow: visible !important;
    position:absolute !important;
    left:-999em;
}

// Infield label
.infield {
	position: relative;
}
.infield label {
	position: absolute;
	left: 20px;
	top: 14px;
	text-transform: none;
	@include font-size(18);
}

// Standard form styling
form {
	@include font-size(12);
}

form label {
	display: block;
	margin-bottom: 10px;
	line-height: 1.2;
	font-weight: bold;
}

form input,
form textarea {
	width: 100%;
	display: block;
}
form textarea {
	max-width: 100%;
	min-height: 75px;
}

form input,
form textarea,
form input:focus,
form textarea:focus {
	border: 1px solid $borderColor;
}

form .field {
	margin-bottom: 10px;
}

// Search 
form.search {
	@include font-size(13);
	line-height: 1;
	color: #6d6d6d;
	position: relative;
}

form.search input {
	padding-right: 45px;
	width: 100%;
}

form.search button {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 45px;
	color: #b0b0b0;
	@include font-size(15);
	
	&:after {
		font-family: 'icons';
		content: '\f10f';
		position: absolute;
		top: 50%;
		margin-top: -7.5px;
		margin-right: -7.5px;
		right: 50%;
	}
}

