// Lists
// --------------------------------------------------

ul, ol { 
	margin: $margin; 
}
ul { 
	list-style: disc; 
}
ol {
	list-style: decimal;
}
ul ul, ul ol,
ol ol, ol ul { 
	margin: 4px 0 5px 30px;  
}
ul ul li, ul ol li,
ol ol li, ol ul li { 
	margin-bottom: 6px; 
}
li { 
	@include type(); 
	margin-bottom: 10px; 
}

// Reset standard nav lists
nav ul {
	@include listReset();
}
nav ul,
nav li {
	margin: 0;
}