// Content sidebar
// --------------------------------------------------

.hasSidebar {
	padding-right: 250px; // Width of sidebar + padding between content and sidebar
	position: relative;
}

.sidebarNav {
	position: absolute;
	right: 0;
	top: 100px;
	width: 200px;
	z-index: 2;
}

.sidebarNav li {
	display: block;
	margin-bottom: 5px;
}

.sidebarNav .divider {
	margin-top: 20px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid $borderColor;
}

// Queries
@media only screen and (max-width: 768px) {
	.hasSidebar {
		padding-right: 0;
		padding-top: 80px;
	}
	
	.sidebarNav {
		top: 20px;
		right: auto;
		left: 0;
		width: 100%;
		border: 1px solid $borderColor;
		background-color: #fff;
	}
	.sidebarNav ul {
		padding-top: 41px;
	}
	.sidebarNav li {
		display: none;
		margin: 0;
	}
	.sidebarNav:hover li {
		display: block;
	}
	
	.sidebarNav li.active {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	
	.sidebarNav a {
		display: block;
		padding: 10px 20px;
	}
	.sidebarNav .title {
		padding: 10px 20px;
	}
	
	
}