// slider
// --------------------------------------------------

.specials-slider {
	@include listReset();
	margin: 0;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
}

.specials-slider a {
	margin: 0;
	border-right: 1px solid #eaeaea;
}

.slider-buttons {
	
}

// Gallery slider
// --------------------------------------------------

.gallery-slider {
	position: relative;
	margin-bottom: 40px;
}

.gallery-slider .prev,
.gallery-slider .next {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100px;
	z-index: 1;
	cursor: pointer;
	
	&:after {
		font-family: 'icons';
		position: absolute;
		top: 50%;
		margin-top: -37px;
		@include font-size(50);
		display: block;
		color: #fff;
		font-weight: normal;
	}
}

.gallery-slider .prev {
	left: 0;
	
	// Gradient
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
	
	// Arrow
	&:after {
		content: '\f122';
		left: 15px;
	}
}

.gallery-slider .next {
	right: 0;
	
	// Gradient
	background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 8%, rgba(0,0,0,0.65) 99%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(8%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 8%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 8%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 8%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 8%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 */
	
	// Arrow
	&:after {
		content: '\f123';
		right: 15px;
	}
}

.gallery-slider .add {
	position: absolute;
	right: 15px;
	bottom: 15px;
	z-index: 2;
	color: #fff;
	font-weight: 600;
	@include font-size(11);
	
	&:after {
		font-family: 'icons';
		content: '\f10d';
		color: #fff;
		@include font-size(20);
		display: inline-block;
		margin-left: 10px;
		position: relative;
		top: 4px;
		font-weight: normal;
	}
}



// Slider queries
// --------------------------------------------------

@media only screen and (max-width: 768px) {
	.gallery-slider .prev,
	.gallery-slider .next {
		width: 60px;
		
		&:after {
			@include font-size(30);
			margin-top: -22.5px;
		}	
	}
}