// Testimonials
// --------------------------------------------------

.testimonials {
	width: 100%;
	padding: 70px 0 70px;
	text-align: center;
	
	// Gradient
	background: rgb(239,243,244); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(239,243,244,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,243,244,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(239,243,244,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(239,243,244,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(239,243,244,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(239,243,244,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff3f4', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.testimonials h2 {
	margin-top: 10px;
	margin-bottom: 20px;
	@include font-size(34);
	line-height: 1.4;
	color: #4f4f4f;
	font-weight: 300;
}

// Filter bar

.filter-bar {
	@include font-size(14);
	font-weight: bold;
	line-height: 1;
	margin-bottom: 30px;
}

.filter-bar p {
	margin-bottom: 0;
}

.filter-bar input {
	display: none;
}

.filter-bar .title,
.filter-bar .field {
	display: inline-block;
}

.filter-bar .title {
	color: $linkColor;
}

.filter-bar .field {
	position: relative;
	text-align: left;
	margin: 0;
}

.filter-bar label {
	padding: 20px;
	padding-left: 70px;
	cursor: pointer;
}

.filter-bar i {
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	left: 20px;
	top: 7px;
	background-color: #fff;
	border-width: 2px;
	border-style: solid;
	border-color: #eeeeee;
	border-radius: 50%;
	@include font-size(16);
	font-style: normal;
	@include transition(border-color);
	
	&:after {
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -8px;
		font-family: 'icons';
		text-align: center;
		width: 100%;
		font-weight: normal;
	}
}
.filter-bar .active i {
	border-color: $linkColor;
}

.icn-filter-food:after {
	content: '\f114';
}
.icn-filter-drink:after {
	content: '\f11d';
}
.icn-filter-service:after {
	content: '\f10e';
}
.icn-filter-ambience:after {
	content: '\f121';
}
.icn-filter-dinein:after {
	content: '\f118';
}
.icn-filter-takeaway:after {
	content: '\f120';
}


// Testimonial slider
.testimonial-slider {
	margin-bottom: 30px;
}

.testimonial-slider .slide {
	background-color: #fff;
	border: 1px solid $borderColor;
	text-align: left;
	margin: 0 5px;
}

.testimonial {
	padding: 30px;
	padding-bottom: 10px;
	@include font-size(12);
	line-height: 1.4;
	border-bottom: 1px solid $borderColor;
}

.testimonial h3 {
	margin-top: 0;
	font-weight: 100;
}
.testimonial .rating {
	float: right;
	margin: 0;
}

.testimonial p.title {
	margin-bottom: 10px;
	@include font-size(14);
}


// Testimonial author

.testimonial-slider .author {
	padding: 15px 30px;
}
.testimonial-slider .author p {
	width: 120px;
	@include font-size(12);
	float: left;
}
.testimonial-slider .author p a {
	text-decoration: underline;
}


.testimonial-slider .preview {
	float: left;
	width: 60px;
	height: 60px;
	margin-left: 10px;
	margin-bottom: 10px;
	position: relative;
	@include cover();
	background-position: center center;
	background-repeat: no-repeat;
	
	&:hover:after {
		content: ' ';
		width: 100px;
		height: 100px;
		display: block;
		position: absolute;
		top: -90px;
		left: 50%;
		margin-left: -50px;
		background-image: inherit;
		@include cover();
		background-position: center center;
		background-repeat: no-repeat;
		border: 3px solid #fff;
		box-shadow: 0 0 3px rgba(0,0,0,.25);
		border-radius: 50%;
		z-index: 2;
	}
	
	&:hover:before {
	top: 10px;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 4px;
	margin-left: -4px;
	z-index: 3;
}
}
.testimonial-slider img {
	width: 100%;
	height: auto;
	display: block;
}

// Testimonial controls
.testimonial-controls-wrap {
	@include font-size(12);
}

.testimonial-controls-wrap p {
	margin: 0;
}

.testimonial-controls {
	float: left;
	@include font-size(12);
}

.testimonial-pager {
	float: left;
}
.testimonial-pager ul {
	@include listReset();
	margin: 0;
	font-weight: bold;
}
.testimonial-pager li {
	margin: 0;
	float: left;
	line-height: 1.2;
}
.testimonial-pager .slick-active {
	color: $linkColor;
}

.testimonial-prev,
.testimonial-next {
	float: left;
	text-transform: uppercase;
	position: relative;
	cursor: pointer;
	
	&:after,
	&:before {
		font-family: 'icons';
		color: #7f7f7f;
		@include font-size(15);
		position: absolute;
		top: -2px;
	}
}


.testimonial-prev {
	padding-right: 50px;
	&:after {
		content: '\f101';
		right: 20px;
	}
}
.testimonial-next {
	padding-left: 50px;
	&:before {
		content: '\f103';
		left: 20px;
	}
}

.testimonial-credits {
	float: right;
}


// Media Queries
// ----------------------------

@media only screen and (max-width: 480px) {
	.filter-bar .title {
		display: block;
		text-align: center;
		width: 100%;
	}
	
	.testimonials {
		padding: 30px 0;
	}
	
	.testimonial {
		padding: 20px;
	}
	
	.testimonial .rating {
		float: none;
		text-align: center;
		display: block;
	}
	
	.testimonials h2 {
		@include font-size(24);
	}
	.testimonial p.title {
		@include font-size(13);
	}
	
	.testimonial-slider .author p {
		display: block;
		width: 100%;
		float: none;
	}
	.testimonial-slider .preview {
		margin-right: 10px;
		margin-left: 0;
	}
	
	.testimonial-controls,
	.testimonial-controls-wrap p {
		float: none;
		width: 100%;
	}
	.testimonial-controls {
		margin-bottom: 20px;
	}
}