//  Footer
// --------------------------------------------------

// Footer CTA
.footer-cta {
	background-color: #1a1a1a;
	padding: 12px 14px;
	margin: 0;
}
.footer-cta .btn.fancy-orange {
	color: #fff;
	padding: 14px 40px;
	font-weight: normal;
	position: relative;
	@include font-size(16);
	
	&:before {
		font-family: 'icons';
		content: '\f114';
		position: absolute;
		left: 15px;
		font-weight: normal;
	}
	&:after {
		font-family: 'icons';
		content: '\f107';
		position: absolute;
		right: 15px;
		font-weight: normal;
		color: #fff;
	}
}

footer {
	border-top: 2px solid #ff9016;
	background-color: #2c2c2c;
	@include font-size(12);
	color: #fff;
	
	padding: 40px 65px;
}

footer p {
	margin: 0;
}

footer a {
	color: #fff;
}

footer .credits,
footer .credits a {
	color: #989898;
}

footer .credits strong {
	color: #c6c6c6;
	font-weight: normal;
}

footer a:hover,
footer .credits a:hover,
footer .credits strong:hover {
	color: $linkColor;
}

footer .copyright a {
	margin-right: 30px;
	
	&:last-child {
		margin-right: 0;
	}
}

footer .credits {
	width: 100%;
	display: block;
	clear: both;
	padding-top: 60px;
}

footer .copyright {
	float: left;
}
footer .humaan {
	float: right;
}

footer nav {
	float: left;
	width: 25%;
}

footer nav a {
	padding: 11px 0;
	display: block;
}

footer .icn {
	position: absolute;
	left: 0;
	top: 0;
}

footer .top-row {
	position: relative;
	padding-left: 170px;
	padding-right: 50%;
}

footer .leadins {
	width: 20%;
	position: absolute;
	right: 0;
	top: 0;
}

footer .leadins p {
	margin-bottom: 10px;
	padding-top: 10px;
}

footer .leadins a {
	margin-bottom: 20px;
	display: block;
	color: #fff;
}

footer .leadins strong {
	@include font-size(14);
}

footer .sponsors {
	width: 28%;
	position: absolute;
	left: 50%;
	top: 0;
	text-align: center;
}
footer .sponsors img {
	display: inline-block;
	border-radius: 2px;
	border: 1px solid #424242;
}


// Footer Media Queries
// ----------------------------

@media only screen and (max-width: 960px) {
	footer {
		padding: 40px 25px;
	}
	footer .top-row {
		padding-left: 140px;
		padding-right: 275px;
		padding-bottom: 400px;
	}
	
	footer .leadins {
		width: 250px;
	}
	.mob-nav {
	}
	footer nav {
		width: 25%;
	}
	footer .sponsors {
		width: 100%;
		top: 250px;
		left: 0;
		position: absolute;
	}
	footer .credits {
		padding-top: 0;
	}
}

@media only screen and (max-width: 768px) {
	footer {
		padding: 0;
	}
	footer .top-row {
		padding: 12px 14px;
	}
	footer .leadins {
		float: none;
		width: 100%;
		border-bottom: 1px solid #3d3d3d;
		position: static;
		margin-bottom: 30px;
		padding-bottom: 20px;
	}
	footer .icn {
		position: absolute;
		left: 0;
		width: 60px;
		height: 60px;
		background-size: 520px;
		background-position: -173px 0;
	}
	footer nav {
		width: 50%;
		float: left;
	}
	footer nav a {
		padding-top: 0;
	}
	.mob-nav {
		padding-left: 100px;
		position: relative;
	}
	
	footer .credits {
		padding: 35px 15px;
	}
	
	
}