//  Header
// --------------------------------------------------

header {
	width: 100%;
	height: 130px;
	display: block;
	position: relative;
	padding: 0 290px;
	text-align: center;
	
	// Gradient
	background: #dc4501; /* Old browsers */
	background: -moz-linear-gradient(left,  #dc4501 0%, #f67b05 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#dc4501), color-stop(100%,#f67b05)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #dc4501 0%,#f67b05 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #dc4501 0%,#f67b05 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #dc4501 0%,#f67b05 100%); /* IE10+ */
	background: linear-gradient(to right,  #dc4501 0%,#f67b05 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc4501', endColorstr='#f67b05',GradientType=1 ); /* IE6-9 */

}

// Logo
header .logo {
	position: absolute;
	top: 15px;
	left: 20px;
}

header form {
	max-width: 465px;
	margin: 40px auto;
}

// Hamburger
.hamburger {
	text-align: center;
	@include font-size(12);
	padding: 20px;
	z-index: 5;
	cursor: pointer;
	float: left;
}
.hamburger .divider {
	width: 30px;
	height: 4px;
	background-color: #fff;
	display: block;
	margin: 3px auto;
	border-radius: 2px;
}


header .discount-leadin {
	position: absolute;
	right: 20px;
	top: 30px;
}

.header-mobile-buttons {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -32px;
	padding-left: 60px;
}

.header-mobile-buttons .styled {
	border: 1px solid #fb9f54;
	@include font-size(12);
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 2px;
	padding: 4px;
	width: 60px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -17.5px;
	
	&:after {
		top: 50%;
		right: 10px;
		margin-top: -2px;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(255, 255, 255, 0);
		border-top-color: #ffffff;
		border-width: 4px;
		margin-left: -4px;
	}
}

.header-mobile-buttons .styled select {
	width: 175%;
}


// Mobile call to action buttons
.mob-cta {
	clear: both;
	margin-bottom: 20px;
}



// Navigation bar
.nav-bar {
	background-color: #2d2d2d;
	@include font-size(11);
	position: relative;
	z-index: 10;
}

.nav-bar li {
	float: left;
	position: relative;
	z-index: 1;
}
.nav-bar .text {
	position: relative;
	z-index: 2;
}

.nav-bar a {
	padding: 17px 15px;
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	position: relative;
	z-index: 2;
}

.main-nav {
	margin-right: 1px;
	float: left;
}
.main-nav li a:after {
	content: ' ';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	display: block;
	@include transition(all);
}
.main-nav li.home a:after {
	background-color: #ff6600;
}
.main-nav li.reviews a:after {
	background-color: #79cb37;
}
.main-nav li.features a:after {
	background-color: #cb37bb;
}
.main-nav li.events a:after {
	background-color: #258fd9;
}
.main-nav li.specials a:after {
	background-color: #73359b;
}
.main-nav li.discounts a:after {
	background-color: #e5e314;
}
.main-nav li:hover {
	position: static;
	a:after {
		height: 100%;
	}
}
.main-nav li.dark:hover a {
	color: #2d2d2d;
}

// Drop nav
// ---------------------------

.drop-menu {
	display: none;
	position: absolute;
	left: 0;
	top: 50px;
	width: 100%;
}
.has-drop:hover .drop-menu {
	display: block;
	z-index: 2;
	background-color: #fff;
}

.drop-menu ul {
	@include listReset();
	margin: 0;
	position: relative;
}
.drop-menu li {
	margin: 0;
	position: static;
}

.drop-sub-menu {
	background-color: inherit;
	color: inherit;
}
.drop-sub-menu a {
	position: static;
}

// Item drop menu

.drop-item-wrap {
	width: 100%;
	display: block;
	overflow-x: scroll;
}

.drop-item-menu {
	background-color: #fff;
}
.drop-item-menu li {
	width: 200px;
	display: block;
}
.drop-item-menu li a {
	padding: 20px 10px;
	
	&:after {
		content: none;
	}
}

.drop-item-menu img {
	width: 100%;
	display: block;
	margin-bottom: 15px;
}
.drop-item-menu p {
	text-transform: none;
	margin: 0;
}
.drop-item-menu p.title {
	font-size: 16px;
	line-height: 1.2;
	font-weight: 500;
}
.drop-item-menu strong {
	color: $linkColor;
	@include font-size(12);
}



// Sub nav
// ---------------------------

.sub-nav {
	float: right;
}
.sub-nav .btn {
	padding-left: 25px;
	padding-right: 25px;
}

.sub-nav .state-change,
.sub-nav .weather {
	text-transform: uppercase;
	font-weight: bold;
	padding: 17px 10px;
}

.sub-nav .btn.rac {
	height: 50px;
	padding: 0;
}
.sub-nav .icn-discount-mini {
	margin: 0 auto;
	display: block;
	position: relative;
	top: 13px;
}


// State changer
.sub-nav .state-change {
	color: #7a7a7a;
	padding-right: 57px;
	@include font-size(11);
}
.sub-nav .styled {
	border: 0;
	padding: 0;
	@include font-size(12);
	line-height: 1;
	color: #fff;
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	margin: 0;
	border-radius: 0;
	line-height: 50px;
	
	&:after {
		top: 50%;
		right: 10px;
		margin-top: -2px;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(236, 96, 3, 0);
		border-top-color: #ec6003;
		border-width: 4px;
		margin-left: -4px;
	}
}
.sub-nav div.styled select {
	width: 175%;
	padding: 0;
}

.sub-nav .weather {
	color: #fff;
	border-left: 1px solid #3e3e3e;
	padding: 17px 20px;
}


// Weather icons
// ---------------------------

.sub-nav .weather {
	padding-left: 40px;
}
.weather:before {
	font-family: 'icons';
	font-weight: normal;
	display: inline-block;
	margin-right: 10px;
}

.weather-slightlyCloudy:before {
	content: '\f127';
	@include font-size(15);
	font-size: 15rem;
	position: absolute;
	left: 15px;
	top: 15px;
}



// Header Media query
// ---------------------------

@media only screen and (max-width: 960px) {
	header {
		padding-left: 140px;
		padding-right: 220px;
	}
	header .icn-logo {
		width: 100px;
	}
	
	header .discount-leadin {
		background-size: 650px 650px;
		background-position: 0px -85px;
		width: 180px;
	}
}

@media only screen and (max-width: 768px) {
	header .discount-leadin {
		display: none;
	}
	
	header {
		padding-right: 0;
	}
	
	form.search {
		margin: 0;
		padding: 0;
		max-width: none;
		position: absolute;
		top: 180px;
		left: 0;
		padding: 10px;
		width: 100%;
		background-color: #1a1a1a;
		
	}
	form.search input {
		padding-top: 7px;
		padding-bottom: 7px;
	}
	form.search button {
		right: 10px;
	}
	
	.nav-bar {
		margin-bottom: 55px;
	}
	
	.sub-nav {
		width: 100%;
	}
	.sub-nav li {
		width: 33.3%;
		float: left;
	}
}

@media only screen and (max-width: 480px) {
	header {
		padding-left: 110px;
		height: 90px;
	}
	header .icn-logo {
		top: 10px;
		left: 10px;
		width: 70px;
		height: 70px;
		background-size: 660px;
	}
	
	form.search {
		top: 140px;
	}
}