//  Hero
// --------------------------------------------------

.hero h1 {
	@include font-size(36);
	font-weight: 100;
	line-height: 1.4;
	margin: 0;
}

//  Hero Grid
// --------------------------------------------------


.hero.grid {
	width: 100%;
	display: block;
	padding-left:50%;
	position: relative;
}


.hero.grid article {
	width: 50%;
	min-height: 180px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	float: left;
	background-color: #353535;
	position: relative;
	color: #fff;
	font-size: 12px;
	@include cover();
	background-repeat: no-repeat;
	background-position: center center;	
	color: #fff;
	
	&:before {
		position: absolute;
		color: #fff;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 11px;
		z-index: 2;
	}
	
	&:after {
		content: ' ';
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		display: block;
		background: url(../img/pixel-transparent-35.png) repeat center center;
		background: rgba(0,0,0, .35);
		z-index: 1;
	}
}

.hero.grid a {
	color: #fff;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.hero.grid .large {
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 100%;
	border-left: 0;
	font-size: 14px;
}


.hero.grid .text {
	position: absolute;
	left: 20px;
	bottom: 20px;
	z-index: 2;
}


.hero.grid .large .text {
	left: 28px;
	bottom: 25px;
}



// Meta tag

.large article:before {
	left: 25px;
	top: 25px;
	padding: 10px 15px;
}
article:before {
	left: 25px;
	top: 25px;
	padding: 6px 8px;
}

article.event:before {
	content: 'Event';
	background-color: #258fd9;
}
article.feature:before {
	content: 'Feature';
	background-color: #cb37bb;
}
article.review:before {
	content: 'Review';
	background-color: #79cb37;
}


//  Hero Inner
// --------------------------------------------------

.hero.inner {
	position: relative;
	width: 100%;
	height: 320px;
	display: block;
	@include cover();
	background-position: center center;
	background-repeat: no-repeat;
	color: #fff;
	
	&:after {
		content: ' ';
		width: 100%;
		height: 150px;
		position: absolute;
		left: 0;
		bottom: 0;
		display: block;
		z-index: 1;
		
		// Gradient
		background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	}
}

.hero.inner .text {
	position: absolute;
	bottom: 25px;
	left: 0;
	z-index: 2;
	width: 100%;
	text-align: center;
	@include font-size(18);
}
.hero.inner .btn {
	display: inline-block;
	font-size: 13px;
	padding: 7px 15px;
	
}

// Hero media query
// --------------------------------------------------

@media only screen and (max-width: 480px) {
	.hero h1 {
		@include font-size(28);
	}
	.hero.inner .text {
		@include font-size(14);
	}
	
	.hero.inner .btn {
		width: auto;
		display: inline-block;
		padding: 10px 20px;
	}
}