// Box sizing
// --------------------------------------------------
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

// Layout
// --------------------------------------------------

html,
body{ height: 100%; }

body {
	background: $bgColor;
	font-family: $fontStack;
	@include type();
	color: $color_1;
}

// Page container for the entire page
.page-container {
	width: 100%;
	overflow: hidden;
	position: relative;
}

// Outer container that shifts aside to reveal device menu
.outer-container {
	background-color: $bgColor;
	width: 100%;
	position: relative;	
	left: 0;
	z-index: 2;
	transition: all .2s cubic-bezier(0.77, 0, 0.175, 1);
}

// Container with max-width, to hold content
.container {
	margin: 0 auto;
}

// For hidden content

.hidden {
	display: none;
}

// Reset all navigational lists

nav ul {
	@include listReset();
	margin: 0;
}
nav li {
	margin: 0;
}

// Columns
.column-2 {
	width: 100%;
	display: block;
}

.column-2 .col {
	float: left;
	width: 50%;
}

// Max Width Narrow
.max-width-narrow {
	max-width: 1015px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
}

@media only screen and (max-width: 768px) {
	.column-2 .col {
		float: none;
		width: 100%;
	}
}
