//  Restaurant
// --------------------------------------------------

.restaurant {
	padding-top: 30px;
	padding-bottom: 50px;
	padding-right: 230px;
	@include font-size(15);
	line-height: 1.6;
	position: relative;
}

.restaurant-info {
// 	width: 720px;
	float: left;
	position: relative;
}

.restaurant .logo {
	position: absolute;
	left: 0;
	top: 0;
	width: 240px;
}

.restaurant .text {
	margin-bottom: 30px;
	padding-left: 240px;
}

.restaurant-map {
	width: 240px;
	float: right;
	@include font-size(12);
	line-height: 1.6;
	padding-left: 60px;
	color: #2d2d2d;
	position: absolute;
	right: 20px;
	top: 30px;
}
.restaurant-map iframe {
	width: 100%;
	height: 150px;
	margin-bottom: 10px;
}
.restaurant-map p {
	margin: 0;
}


// Meta list
// ------------------------------

.restaurant-meta {
	@include listReset();
	margin: 0;
	@include font-size(12);
	color: #2d2d2d;
}

.restaurant-meta strong {
	color: $linkColor;
	display: block;
}
.restaurant-meta li {
	float: left;
	width: 150px;
}
.restaurant-meta .rating {
	width: 240px;
	text-align: center;
}
.rating a strong {
	@include transition(color);
}
.rating a:hover strong {
	color: $hoverColor;
}
.rating .star {
	color: #ececec;
	display: inline-block;
	@include font-size(20);
	&:before {
		content: '\f10e';
		font-family: 'icons';
		display: block;
		line-height: 1;
	}
}
.rating .full {
	color: $linkColor;
}
.rating.small .star {
	@include font-size(13);
}

.restaurant-meta p {
	margin: 0;
}

.restaurant-meta a {
	color: #353535;
	&:hover {
		color: $linkColor;
	}
}


// Modules
// ------------------------------

.module .title {
	@include font-size(14);
}

.module-row {
	position: relative;
}
.module-row:before {
	left: 50%;
	width: 1px;
	height: 100%;
	top: 0;
	background-color: $borderColor;
}

.modules .column-2 .col:first-child {
	padding-right: 40px;
}

.modules .column-2 .col:last-child {
	padding-left: 40px;
	border-left: 1px solid $borderColor;
}

.modules .border-bottom {
	border-bottom: 1px solid $borderColor;
	padding-bottom: 30px;
	margin-bottom: 30px;
}


// Module - Contact
// ------------------------------

.module-contact .btn-wrap p,
.module-contact .btn-wrap a {
	float: left;
	line-height: 33px;
}
.module-contact .btn-wrap a {
	margin-left: 20px;
	font-weight: bold;
}

.module-contact .btn {
	float: right;
}

.module-contact .col-count-2 .field {
	float: left;
	width: 50%;
}
.module-contact .col1 {
	padding-right: 5px;
}
.module-contact .col2 {
	padding-left: 5px;;
}
.module-contact input,
.module-contact textarea {
	padding: 5px 10px;
}


// Module - lists of modules
// ------------------------------

.module-list {
	text-align: center;
}

.module-list .title {
	@include font-size(14);
	font-weight: bold;
}

.module-list .list {
	margin-right: 3%;
	width: 30%;
	display: inline-block;
	text-align: left;
	vertical-align: top!important;
	margin-bottom: 40px;
}
.module-list ul {
	@include listReset();
	margin: 0;
	border: 1px solid $borderColor;
}
.module-list li {
	margin-bottom: 0;
	border-bottom: 1px solid $borderColor;
	
	&:last-child{
		border-bottom: 0;
	}
}


// Variable vertical rhythm
ul.items-4 li,
ul.items-5 li,
ul.items-6 li,
ul.items-7 li {
	line-height: 1.6;
}

ul.items-4 li {
	padding: 25.85px 20px;
}

ul.items-5 li {
	padding: 18.38px 20px;
}

ul.items-6 li {
	padding: 13.38px 20px;
}

ul.items-7 li {
	padding: 9.9px 20px;
}

ul.items-8 li {
	padding: 8.7px 20px;
	line-height: 1.4;
}

ul.items-9 li {
	padding: 7.1px 20px;
	line-height: 1.3;
}

ul.items-10 li {
	padding: 5.45px 20px;
	line-height: 1.3;
	
	.long & {
		padding: 11.95px 20px;
	}
}



// Advertising space
// ------------------------------

.ad-holder {
	@include font-size(13);
	text-align: center;
	padding: 60px 0;
}
.ad-holder a {
	text-decoration: underline;
}
.ad-holder img {
	display: block;
}
.ad {
	margin-bottom: 20px;
	display: block;
}



// Media queries
// ------------------------------

// Ad
@media only screen and (max-width: 972px) {
	.ad-holder img {
		width: 100%;
		display: block;
	}
}

@media only screen and (max-width: 960px) {
	.restaurant {
		padding-right: 20px;
	}
	.restaurant-map {
		position: static;
		width: 100%;
		padding-left: 0;
		padding-top: 40px;
	}
	.restaurant-map iframe {
		height: 300px;
	}
	.restaurant-map p br {
		display: none;
	}
	
	.restaurant-meta li,
	.restaurant-meta .rating {
		margin-bottom: 10px;
		width: 25%;
		text-align: left;
	}
}

@media only screen and (max-width: 768px) {
	
	.restaurant .logo {
		width: 150px;
		margin: 0 auto;
		position: static;
		margin-bottom: 20px;
	}
	.restaurant .logo img {
		width: 100%;
	}
	.restaurant .text {
		padding-left: 0;
	}

	.restaurant .text {
		padding-left: 0;
	}
	
	.restaurant-meta {
		width: 100%;
	}
	.restaurant-meta li,
	.restaurant-meta .rating {
		width: 50%;
		float: left;
	}
	.restaurant-meta li:nth-child(2n+1) {
		clear: left;
	}
	
	// Modules
	.modules .border-bottom {
		margin-bottom: 20px;
		padding-bottom: 20px;
	}
	.modules .column-2 .col:last-child {
		padding-left: 0;
		border: 0;
	}
	.modules .column-2 .col:first-child {
		padding-right: 0;
	}
	
	.module-list .list {
		width: 45%;
		margin-right: 2.5%;
		margin-left: 2.5%;
		float: left;
		display: block;
		&:nth-child(2n+1) {
			clear: left;
		}
	}
	
}

@media only screen and (max-width: 480px) {
	
	// Ad
	.ad-holder {
		display: none;
	}
	
	.restaurant-map {
		padding-top: 20px;
	}
	
	.module-list .list {
		width: 100%;
		margin-right: 0;
		margin-left: 0;
		float: none;
	}
	
	.module-contact .btn-wrap p {
		margin-bottom: 0;
	}
	.module-contact .btn-wrap a {
		margin-bottom: 20px;
	}
	
	.module-contact .btn-wrap p,
	.module-contact .btn-wrap a {
		display: block;
		float: none;
		text-align: center;
	}
	
	.module-contact .col-count-2 .field {
		width: 100%;
		float: none;
		padding: 0;
	}
	
}