
@font-face {
  font-family: 'FuturaObl-Normal';
  src: url('FuturaObl-Normal.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaObl-Normal';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,) format('woff'), url('FuturaObl-Normal.ttf')  format('truetype'), url('FuturaObl-Normal.svg#FuturaObl-Normal') format('svg');
  font-weight: normal;
  font-style: normal;
}


