/***
Login page
***/

/* logo page */
.login {
  background-color: #666 !important ;
  background-image:url(../../img/bg-login.png);
  background-repeat:no-repeat;
  background-size:cover;
}

.login .logo {
  margin: 60px auto -50px;   
  width:130px;
  background:#bbbbbb;
  border-radius:50% !important;
  height:130px;
  padding: 40px 10px 15px 13px;
  text-align: center;
  position:relative;
  z-index:999;
}  
.login .logo img{
	display:block;
	width:100%;
	height:auto;
}

.login .content {
  background: #ececec;
  width: 360px;
  margin: 0 auto; 
  margin-bottom: 0px;
  padding: 50px 30px;
  border-radius:4px !important;
}

.login .content h3 {
  color: #eee;
}
.login .content h4  {
  color: #00539f;
}

.login .content p,
.login .content label {
  color: #fff;
}

.login .content .login-form,
.login .content .forget-form {
    padding: 0px;
    margin: 0px;
}

.login .content .form-control {
  background-color: #d3d3d3;
}

.login .content .forget-form {
  display: none;
}

.login .content .register-form {
  display: none;
}

.login .content .form-title {
  font-weight: 300;
  margin-bottom: 25px;
  color:#333333;
}
.login-form .form-control{
	background:#d3d3d3;
	color:#333333;
	font-size:16px;
	padding:8px 12px !important;
	height:auto;
	border-radius:3px !important;
	text-align:center;
}
.login-form .btn-login{
	display:block;
	width:100%;
	padding:10px 12px;
	text-transform:uppercase;
	background:#00539f;
	font-size:20px;
	border-radius:3px !important;
}
.login .content .form-actions {
  background-color: transparent;
  clear: both;
  border: 0px;
  padding:0;
  margin:0;
}

.login .content .form-actions .checkbox {
  margin-left: 0;
  padding-left: 0;
}

.login .content .forget-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
}  

.login .content .register-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0px;
}

.login .content .form-actions .checkbox {
  margin-top: 8px;
  display: inline-block;
}

.login .content .form-actions .btn {
  margin-top: 1px;
}

.login .content .forget-password {
  margin-top: 25px;
  text-align:center;
  color:#00539f;
}

.login .content .create-account {
  border-top: 1px dotted #eee;
  padding-top: 10px;
  margin-top: 15px;
}

.login .content .create-account a {
  display: inline-block;
  margin-top: 5px;
}

/* select2 dropdowns */
.login .content .select2-container i {
  display: inline-block;
  position: relative;
  color: #ccc;
  z-index: 1;
  top:1px;
  margin: 4px 4px 0px 3px; 
  width: 16px;
  height: 16px;
  font-size: 16px;
  text-align: center; 
}

.login .content .has-error .select2-container i {
  color: #b94a48;
}

.login .content .select2-container a span {
  font-size: 13px;
}

.login .content .select2-container a span img {
  margin-left: 4px;
}

/* footer copyright */
.login .copyright {
  text-align: center;
  margin: 0 auto; 
  padding: 10px;
  color: #eee;
  font-size: 13px;
}

@media (max-width: 480px) {
  /***
  Login page
  ***/
  .login .logo {
    margin-top:10px;
  }

  .login .content {
    padding: 30px; 
    width: 222px;
  }

  .login .content h3 {
    font-size: 22px;
  }

  .login .checkbox {
    font-size: 13px;
  }
}